<?php if ($this->pageCount): ?>
    <div class="paginationControl">
        <?php echo $this->firstItemNumber; ?> - <?php echo $this->lastItemNumber; ?>
        из <?php echo $this->totalItemCount; ?>

        <!-- First page link -->
        <?php if (isset($this->previous)): ?>
            <a href="<?php echo $this->url(array('page' => $this->first), 'default_publication'); ?>">
                &lt;&lt; Начало
            </a> |
        <?php else: ?>
            <span class="disabled">&lt;&lt; Начало</span> |
        <?php endif; ?>

        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
            <a href="<?php echo $this->url(array('page' => $this->previous), 'default_publication'); ?>">
                &lt; Предыдущая
            </a> |
        <?php else: ?>
            <span class="disabled">&lt; Предыдущая</span> |
        <?php endif; ?>

        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
            <a href="<?php echo $this->url(array('page' => $this->next), 'default_publication'); ?>">
                Следующая &gt;
            </a> |
        <?php else: ?>
            <span class="disabled">Следующая &gt;</span> |
        <?php endif; ?>

        <!-- Last page link -->
        <?php if (isset($this->next)): ?>
            <a href="<?php echo $this->url(array('page' => $this->last), 'default_publication'); ?>">
                Конец &gt;&gt;
            </a>
        <?php else: ?>
            <span class="disabled">Конец &gt;&gt;</span>
        <?php endif; ?>

    </div>
<?php endif; ?>