<div class="breadcrumbs">
    <p>
        <a href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>"><?php echo $this->translate(_('Main')); ?></a>
        &raquo;        
    </p>
</div>

<div class="content_box center">
    <div class="content_block_title">
        <h1><?php echo $this->Escape($this->title); ?></h1>

    </div>
    <!-- content begin -->
    <?php
    // виведення Категорій
    //if(count($this->publication_category)):

    /*
      [publication_category_id] => 9
      [parent_id] => 0
      [publication_group_id] => 19
      [thumbnail] => 4
      [preview] => 4
      [full] => 4
      [ident] => Cervis-uslugi
      [on_main] => 0
      [sort_order] => 4
      [lastmod] => 2012-01-23 19:32:44
      [language_id] => 1
      [name] => Cервис и услуги
      [description] => Cервис и услуги
      [page_title] => Cервис и услуги
      [meta_description] => Cервис и услуги
      [meta_keywords] => Cервис и услуги
      [description_img] => Service and service
      [code] => ru
     */

    ?>

    <div class="box_center_content">
    <?php foreach($this->publication_category as $key => $category):?>
            <div class="box_service <?php echo $key == 0 ? 'first' : '' ?>">
                <div class="image">
                    <?php if ('' != $category->thumbnail) : ?>
                        <a href="<?php
                        echo $this->url(array('lang' => $this->currentLang,
                            'groupIdent' => $this->publication_group->ident,
                            'categoryIdent' => $category->ident), 'default_publication_category', true);
                        ?>" title="<?php echo $this->Escape($category->name); ?>">
                            <img alt="<?php echo $this->Escape($category->name); ?>" src="/images/publication/category/<?php echo $category->thumbnail; ?>" />
                        </a>
                    <?php endif; ?>
                    <div class="mask"></div>
                </div>
                <div class="text">
                    <h4><a href="<?php
                    echo $this->url(array('lang' => $this->currentLang,
                        'groupIdent' => $this->publication_group->ident,
                        'categoryIdent' => $category->ident), 'default_publication_category', true);
                    ?>" title="<?php echo $this->Escape($category->name); ?>"><?php echo $this->Escape($category->name); ?></a></h4>
                    <p><?php echo $this->truncate(strip_tags($category->description), 350, ' '); ?></p>
                </div>
                <div class="clr"></div>
            </div>
    <?php endforeach;?>
    </div>

    <!-- content begin -->

</div>


