<?php if ($this->publication_group->ident == 'soiskatelyam'): ?>
<div class="wrap">
                   
    <?php if ($this->publication_group->ident == 'soiskatelyam'): ?>
    
                    <section class="improvements fz16 improvements2">
                        <article class="item item10">
                                <h3>В крупны торговые<br>сети и супермаркеты</h3>
                        </article>
                        <article class="item item11">
                                <h3>На производство, склады <br>и логистические терминалы</h3>
                        </article>
                        <article class="item item12">
                                <h3>В отели рестораны, <br>кафе и столовые</h3>
                        </article>
                        <div class="clr"></div>
                    </section>   
      <?php endif; ?>      

           <aside class="lc">
            	<div class="rounded">
	            	<section class="ppl_list">
	                    <h3 class="title">Наш персонал</h3>
	                    <ul>
	                        
                                
                                
     

        <?php $publication_counter = 0; ?>
        <?php if (count($this->publications)): ?>
            <?php foreach ($this->publications AS $key => $publication) : ?>
                    
                <li><a href="<?php
            echo $this->url(array('lang' => $this->currentLang,
                'groupIdent' => $this->publication_group->ident,
                'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                    ?>" class="ttl"><?php echo $publication->title; ?></a></li> 
                                     
                    <?php $publication_counter++; ?>
                <?php endforeach; ?>
                
                
            
        <?php endif; ?>
        
    
                                
                                
	                    </ul>
	            	</section>               
                </div>
            </aside>

<div class="rc">
            	<div class="rounded">
                    <section class="text">
                        <?php $page = $this->getPageByType('seo_soiskatelyam'); ?>
                    	<h3 class="title"><?php echo $page->title; ?></h3>
                        <?php echo $page->body; ?>
                    </section>
                </div>
            </div>
            
            <div class="clr"></div>


</div>
<?php endif; ?>


<?php if ($this->publication_group->ident == 'blog'): ?>
<div class="wrap pd_t2">
                   
         

           <aside class="lc">
            	<div class="rounded">
	            	<section class="twitter_posts">
	                	<h3>Twitter</h3>
	                    <article class="post">
	                    	<h3><a href="">@mishuutka</a></h3>
	                        <p>Когда #GoProf  будет готов? через 10 дней запускать его!</p>
	                        <p class="date">5 минут назад</p>
	                    </article>
	                    <article class="post">
	                    	<h3><a href="">@mishuutka</a></h3>
	                        <p>Когда #GoProf  будет готов? через 10 дней запускать его!</p>
	                        <p class="date">5 минут назад</p>
	                    </article>
	                    <article class="post">
	                    	<h3><a href="">@mishuutka</a></h3>
	                        <p>Когда #GoProf  будет готов? через 10 дней запускать его!</p>
	                        <p class="date">5 минут назад</p>
	                    </article>
	            	</section>                
                </div>
            </aside>

             <div class="rc">
            	<div class="rounded">
	            	<section class="news_posts">
                        <h3><?php echo $this->publication_group->name; ?></h3>
                        
                        <?php $publication_counter = 0; ?>
        
                        
                        <?php if (count($this->publications)): ?>
            <?php foreach ($this->publications AS $key => $publication) : ?>
                   <?php echo (0 == $key % $this->publication_group->count_row AND $key != 0)? '<div class="clear"></div>' : ''; ?>

                        
                        <article class="post">
                            
                            <?php if('' != $publication->image_preview): ?>
                            <a href="<?php
            echo $this->url(array('lang' => $this->currentLang,
                'groupIdent' => $this->publication_group->ident,
                'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                    ?>" class="img"><span class="shdw"></span><img src="<?php echo $publication->image_path?>/<?php echo $publication->image_preview ?>" width="81" height="77" alt=""></a>
                             <?php endif; ?>
                            <h3><a href="<?php
            echo $this->url(array('lang' => $this->currentLang,
                'groupIdent' => $this->publication_group->ident,
                'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                    ?>"><?php echo $publication->title; ?> </a></h3>
                            <p><?php echo $this->truncate(strip_tags($publication->body), 250, ' '); ?> </p>
                            
                            <div class="clr"></div>
                        </article>
                        <?php $publication_counter++; ?>
	            <?php endforeach; ?>
	          <?php endif; ?>
                        </section>
                </div>
            </div>
            
            <div class="clr"></div>
<?php endif; ?>

            
<?php if ($this->publication_group->ident == 'rabotodatelyam'): ?>
<div class="wrap">
                   
    <?php if ($this->publication_group->ident == 'rabotodatelyam'): ?>
    
                    <section class="improvements">
            	<article class="item item7">
                	<h3>Увеличение производитель-<br>ности и прибыли</h3>
                </article>
                <articler class="item item8">
                	<h3>Экономия времени <br> и средств</h3>
                </articler>
                <articler class="item item9">
                	<h3>Высокое качество<br>подбора</h3>
                </articler>
            	<div class="clr"></div>
            </section>   
      <?php endif; ?>      

           
    
            <div class="rounded">
            	<article class="text ta_c">
                    <?php $page = $this->getPageByType('seo_rabotodatelyam'); ?>
                	<h3><?php echo $page->title; ?></h3>
                <?php echo $page->body; ?>    
                </article>
                <a href="" class="btn big flr">Подобрать персонал</a>
                <div class="clr"></div>
            </div>

</div>
<?php endif; ?>   