<div class="breadcrumbs">
    <p>
        <a href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>"><?php echo $this->translate(_('Main')); ?></a>
        &raquo;
        <a href=""></a>
    </p>
</div> 

<div class="box_coverage_header">
    <h1><?php echo $this->Escape($this->title); ?></h1>
</div>
<div class="clr"></div>
<div class="box_info">
    <?php if ($this->publication_group->ident == 'services'): ?>
        <div class="box_services">
            <?php foreach ($this->publications AS $key => $publication) : ?>
                <div class="box_service <?php echo $key == 0 ? 'first' : '' ?>">
                    <div class="image">
                        <?php if ('' != $publication->thumbnail) : ?>
                            <img alt="<?php echo $this->Escape($publication->title); ?>" src="/images/publication/<?php echo $publication->thumbnail; ?>" />
                        <?php endif; ?>
                        <div class="mask"></div>
                    </div>
                    <div class="text">
                        <h4><a href="<?php
                echo $this->url(array('lang' => $this->currentLang,
                    'groupIdent' => $publication->publication_group_ident,
                    'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                        ?>" title=""><?php echo $this->Escape($publication->title); ?></a></h4>
                        <p><?php echo $this->truncate(strip_tags($publication->body), 500, ' '); ?></p>
                    </div>
                    <div class="clr"></div>
                </div>

            <?php endforeach; ?>

        </div>   
    <?php elseif ($this->publication_group->ident == 'clients'): ?>
        <div class="box_clients">
            <?php foreach ($this->publications AS $key => $publication) : ?>
            <?php echo ($key % 3 == 0 AND $key != 0) ? '<div class="clr"></div>' : '' ?>
                <div class="box_client <?php echo ($key % 3) == 0 ? 'first' : '' ?>">
                    <div class="image">
                        <?php if ('' != $publication->thumbnail) : ?>
                            <img alt="<?php echo $this->Escape($publication->title); ?>" src="/images/publication/<?php echo $publication->thumbnail; ?>" />
                        <?php endif; ?>
                        <div class="mask"></div>
                    </div>
                    <div class="text">
                        <h4><a href="<?php
                echo $this->url(array('lang' => $this->currentLang,
                    'groupIdent' => $publication->publication_group_ident,
                    'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                        ?>" title=""><?php echo $this->Escape($publication->title); ?></a></h4>
                        <p><?php echo $this->truncate(strip_tags($publication->body), 400, ' '); ?></p>
                    </div>
                    <div class="clr"></div>
                </div>
            
            <?php endforeach; ?>

        </div>   
    <?php endif; ?>
</div>

<div class="clr"></div>   



