<?php echo '<?xml version="1.0" encoding="UTF-8"?>' . PHP_EOL; ?>
<rss version="2.0">
    <channel>
        <title>Новые топики форума</title>
        <link>http://sitename.ru</link>
        <lastBuildDate><?php echo strftime('%a, %d %b %Y %H:%M:%S', strtotime($this->publications->current->date)) ?></lastBuildDate>
        <?php foreach ($this->publications as $publication): ?>
            <item>
                <link><?php //echo $this->url(array('action' => 'publication', 'id' => $publication->id)) ?></link>
                <guid>topic <?php echo $publication->publication_id ?> on your_sitename</guid>
                <pubDate><?php echo strftime('%a, %d %b %Y %H:%M:%S', strtotime($publication->date_post)) ?></pubDate>
            </item>
        <?php endforeach ?>
    </channel>
</rss>