<?php if ($this->publication_group->ident == 'soiskatelyam'): ?>
<div class="wrap pd_t2">

<aside class="lc">
            	<div class="rounded">
	            	<section class="ppl_list">
	                    <h3 class="title">Наш персонал</h3>
	                    <ul>
	                        
                            <?php $publication_counter = 0; ?>
                            <?php if (count($this->publications)): ?>
                                <?php foreach ($this->publications AS $key => $publication) : ?>

                                    <li><a href="<?php
                                echo $this->url(array('lang' => $this->currentLang,
                                    'groupIdent' => $this->publication_group->ident,
                                    'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                                        ?>" class="ttl"><?php echo $publication->title; ?></a></li> 

                                        <?php $publication_counter++; ?>
                                    <?php endforeach; ?>
                             <?php endif; ?>

                                
	                    </ul>
	            	</section>               
                </div>
            </aside>
    
    
           <div class="rc">
            	<div class="rounded">
					<a href="" class="btn big flr">Заполнить анкету</a>
                    <section class="text">
                    	<h3 class="title"><?php echo $this->publication->title; ?></h3>
                        <?php echo $this->publication->body; ?>
                    </section>
                </div>
            </div>
            
            <div class="clr"></div>


</div>
<?php endif; ?>

<?php if ($this->publication_group->ident == 'blog'): ?>
<div class="wrap pd_t2">

<aside class="lc">
            	<div class="rounded">
	            	<section class="twitter_posts">
	                	<h3>Twitter</h3>
	                    <article class="post">
	                    	<h3><a href="">@mishuutka</a></h3>
	                        <p>Когда #GoProf  будет готов? через 10 дней запускать его!</p>
	                        <p class="date">5 минут назад</p>
	                    </article>
	                    <article class="post">
	                    	<h3><a href="">@mishuutka</a></h3>
	                        <p>Когда #GoProf  будет готов? через 10 дней запускать его!</p>
	                        <p class="date">5 минут назад</p>
	                    </article>
	                    <article class="post">
	                    	<h3><a href="">@mishuutka</a></h3>
	                        <p>Когда #GoProf  будет готов? через 10 дней запускать его!</p>
	                        <p class="date">5 минут назад</p>
	                    </article>
	            	</section>                
                </div>
            </aside>
    
    
    <div class="rc">
            	<div class="rounded">
                
	  				<div class="breadcrumbs">
	                	<div><a href="<?php
        echo $this->url(array(
            'lang' => $this->currentLang,
            'groupIdent' => $this->publication_group->ident), 'default_publication', true);
        ?>" itemprop="url"><span><?php echo $this->Escape($this->publication_group->name); ?></span></a>/</div> 
	                </div>                    
                	
                    <section class="text">
	                    <h3><?php echo $this->publication->title; ?></h3>
                    	<?php if('' != $this->publication->image_detail): ?>
                            <img src="<?php echo $this->publication->image_path . "/" . $this->publication->image_detail ?>" width="231" height="231" align="left" alt="">                    	
                       <?php endif; ?>
                            <p> <?php echo $this->publication->body; ?> </p>
                    </section>
                    
                </div>
            </div>
            
            <div class="clr"></div>
    
           


</div>
<?php endif; ?>


<?php if ($this->publication_group->ident == 'rabotodatelyam'): ?>
<div class="wrap">

    
    
            <section class="improvements">
            	<article class="item item1">
                	<h3>Снижение трудоемкости<br>и расходов компании</h3>
                </article>
                <articler class="item item2">
                	<h3>Повышение качества услуг и концен-<br> трация на профильном бизнесе</h3>
                </articler>
                <articler class="item item3">
                	<h3>Подбор персонала по любым<br> линейным специальностям</h3>
                </articler>
            	<div class="clr"></div>
            </section>
    
    
            <div class="rounded">
            	<article class="text ta_c">
                	<h3><?php echo $this->publication->title; ?></h3>
                    <?php echo $this->publication->body; ?>
                </article>
                <a href="" class="btn big flr">Подобрать персонал</a>
                <div class="clr"></div>
            </div>
            
</div>
<?php endif; ?>