<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('New menu item')); ?></div>
    </h4>
    <div class="box-container ">
        <div>

            <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->menuItemForm; ?>
                <!-- end id-form  -->
            </div>


        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<script type="text/javascript">

    $('select[name="menu_id"]').change(function() {

        var val = $(this).find(':selected').attr('value');

        $("#combobox").val($("#combobox").find("option:first").val());
        $(".custom-combobox-input").val("");



        $.ajax({
            url:"/default/menus/get-menu-item-ajax/menuId/" + val ,
            type:"GET",
            dataType: "json" ,
            success: function (data) {
                if ('error' == data.status) {
                        
                     //$("#parent_id-label, #parent_id-element").hide();
                    
                } else if ('success'==data.status) {
                                       
                  //data.cetegories.unshift({"label":"0","name":"Root level"});
                   
                  $('select[name="parent_id"] > *').remove();
                  //jQuery("#parent_id-label, #parent_id-element").show();
                    
                  $.each(data.data, function(key, value){
                        var lvl = '';//alert(value.lvl);
                        for (i = 0; i < (value.lvl * 1); i++)
                            lvl += " - ";

                        value.name = lvl + value.name;

                        $('select[name="parent_id"]').append('<option label="'+value.name+'" value="'+value.label+'">' + value.name+'</option>');
                        $( "#combobox" ).combobox();

                    });
                }//else if
                   
            } 
        });//end ajax

    }).change();

</script>
<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }  
<?php endforeach; ?>
    
</style>