<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('edit')); ?></div>
    </h4>
    <div class="box-container ">
        <div>

            <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->menuItemForm; ?>
                <!-- end id-form  -->
            </div>


        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<script type="text/javascript">

    $('select[name="menu_id"]')
        .after($("<img>").attr({id:"ajax-loader",src:"/images/ajax-loader.gif",width:"16px"}).hide());
    $('select[name="menu_id"]').change(function() {

        var val = $(this).find(':selected').attr('value');
        var selected_parent = $('select[name="parent_id"]').find(':selected').attr('value');

        //alert(val);
        $("#combobox").val($("#combobox").find("option:first").val());
        $(".custom-combobox-input").val("");

        $.ajax({
            url:"/default/menus/get-menu-item-ajax/menuId/" + val ,
            type:"GET",
            dataType: "json" ,
            beforeSend: function (){
                $("#ajax-loader").show();
            },
            complete: function (){
                $("#ajax-loader").hide();
            },
            success: function (data) {
                if ('error' == data.status) {
                        
                     //$("#parent_id-label, #parent_id-element").hide();
                    
                } else if ('success'==data.status) {
                                       
                  //data.cetegories.unshift({"label":"0","name":"Root level"});
                   
                  $('select[name="parent_id"] > *').remove();
                  //jQuery("#parent_id-label, #parent_id-element").show();
                    
                  $.each(data.data, function(key, value){
                        var lvl = '';//alert(value.lvl);
                        for (i = 0; i < (value.lvl * 1); i++)
                            lvl += " - ";

                        value.name = lvl + value.name;

                        var selected = (selected_parent == value.label)? 'selected':'';
                        $('select[name="parent_id"]')
                            .append('<option label="'+value.name+'" value="'+value.label+'" '+selected+'>' + value.name+'</option>');
                    });

                  $( "#combobox" ).combobox();
                }//else if
                   
            } 
        });//end ajax

    }).change();

</script>

<?php if ($this->image!='') : ?>
    <script type="text/javascript">
        $('dt#image-label').append('<img src="/images/linc/<?php echo $this->image; ?>" /><br /><?php echo $this->translate(_('Upload')); ?>');
    </script>
<?php endif; ?>
<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }  
<?php endforeach; ?>
    
</style>