<?php
$actionButtons = array(
    array(
        'label' => $this->translate(_('edit')),
        'module' => 'default',
        'controller' => 'menus',
        'action' => 'edit',
        'route' => 'admin',
        //'resource' => 'default:menus',
        //'privilege' => 'edit-menus',
        'class' => 'table-edit-link',
        'reset_params' => true
    ),
    array(
        'label' => $this->translate(_('delete')),
        'module' => 'default',
        'controller' => 'menus',
        'action' => 'delete',
        'route' => 'admin',
        //'resource' => 'default:menus',
        //'privilege' => 'delete-menus',
        'class' => 'table-delete-link',
        'reset_params' => true
    )
);
?>
<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Menu')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php if (count($this->menus)): ?>
                <form  method="post" action="" enctype="application/x-www-form-urlencoded"><table class="table-long">
                        <thead>
                            <tr>
                                <th></th>                          
                                <th><?php echo $this->translate(_('Name')); ?></th>                           
                                <th><?php echo $this->translate(_('Sorting')); ?></th>
                                <th><?php echo $this->translate(_('Actions')); ?></th>
                            </tr>
                        </thead>

                        <tbody>

                            <?php foreach ($this->menus as $menu): ?>
                                <tr<?php echo ($menu->status == 1)?"":' bgcolor="#ff9999"'?>>
                                    <td class="col-chk">&nbsp;</td>                           
                                    <td class="col-first">
                                        <a class="table-menu-link" href="<?php
                        echo $this->url(array(
                            'controller' => 'menus',
                            'action' => 'list-menu-item',
                            'menu_id' => $menu->menu_id), 'admin', true)
                                ?>"><?php echo $this->Escape($menu->name); ?></a>
                                    </td>                   
                                    <td class="col-second"><?php echo $this->Escape($menu->sort_order); ?></td>
                                    
                                    <td class="row-nav">
                                
                                <?php if ('Root' == $this->AuthInfo('role')): ?>

                                    <?php $actionButtons[0]['params']['menu_id'] = $menu->menu_id; ?>
                                    <?php $actionButtons[1]['params']['menu_id'] = $menu->menu_id; ?>
                                    <?php echo $this->navigation()->menu(new Zend_Navigation($actionButtons)); ?>

                                <?php endif; ?>

                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    <?php endif; ?>
                </table>
               <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/>*/?>
            </form>
        </div>
    </div>
</div>


