<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Edit file')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->fileForm; ?>
                <!-- end id-form  -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $("select[name=group_id]").change(function() {

            var val = $("select[name=group_id] option:selected").attr('value');

            if(val == 'image') {
                $("label[for=file]").html('<?php echo $this->translate(_('Image')); ?>');
                $("input[name=file]").next().html('<?php echo $this->translate('Supported formats: jpg, jpeg, png, gif.'); ?>');
            }
            else if (val == 'video') {
                $("label[for=file]").html('<?php echo $this->translate(_('Video')); ?>');
                $("input[name=file]").next().html('<?php echo $this->translate('Supported formats: flv, mp4.'); ?>');
            }
            else {
                $("label[for=file]").html('<?php echo $this->translate(_('Files')); ?>');
                $("input[name=file]").next().html('<?php echo $this->translate('Supported formats: txt, doc, docx, pdf, rtf, zip, rar, xls, xlsx, jpg, jpeg, png, gif.'); ?>');
            }

        }).change();
    });
</script>
<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }
<?php endforeach; ?>
    
</style>

<?php if ($this->file['p_full']) : ?>
    <script type="text/javascript">
        $('#p_full-label').append($('<img>').attr({
            src:"/images/file/<?php echo $this->file['p_full'] .'?tmp=' . time(); ?>"}));           
    </script>
<?php endif ?>

<script type="text/javascript">
   $('#file-label').append('<?php echo $this->file['file']; ?>');   
</script>