<section>
    <div class="wrap">
        <div class="mc">

            <div class="breadcrumbs">
                <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
                        <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span></a>
                </div>

                <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">

                    <span itemprop="title"><?php echo $this->Escape($this->group->title); ?></span>
                </div>
                <span class="clr"></span>
            </div> 
            <div class="content_box center content_files">
                <div class="content_block_title">
                    <h1 class="title"><?php echo $this->Escape($this->group->title); ?></h1>
                </div>
                <!-- content begin -->
                <div class="box_center_content files">

                    <div class="ph_gallery">
                        <?php foreach ($this->files as $key => $file) : ?>
                            <?php echo (0 == $key % 3 && $key != 0) ? '<div class="clr"></div>' : ''; ?>
                            <article class="img<?php echo 0 == $key % 3 ? ' first' : ''; ?><?php echo ((3 - 1) == $key % 3) ? ' last' : ''; ?>">
                                <?php if (File_Resource_Group::GROUP_TYPE_IMAGE == $file->type): ?>
                                    <h3><?php echo $this->Escape($file->name); ?></h3>
                                    <a  class="lightbox" href="/upload/<?php echo $file->type; ?>/<?php echo $file->full; ?>">
                                        <img alt="<?php echo $this->Escape($file->name); ?>" src="/upload/<?php echo $file->type; ?>/<?php echo $file->preview; ?>"/>
                                    </a>
                                    <p class="file_description"><?php echo $this->Escape($file->description); ?></p>
                                    <p class="file_download"><a class="file_download_link" href="/file/index/download/id/<?php echo $file->file_id; ?>"><strong><?php echo $this->translate(_('Download')); ?></strong></a></p>
                                    <div class="clr"></div>
                                <?php elseif (File_Resource_Group::GROUP_TYPE_VIDEO == $file->type): ?>
                                    <a  
                                        href="/file/index/stream/id/<?php echo $file->file_id; ?>"
                                        style="display:block;width:520px;height:330px"  
                                        id="player"> 
                                    </a> 
                                <?php else: ?>
                                    <span>
                                        <img src="/images/file/<?php echo $file->p_preview ?>" />                                       
                                    </span>
                                    <h3><?php echo $this->Escape($file->name); ?></h3>
                                    <p class="file_description"><?php echo $this->Escape($file->description); ?></p>
                                    <p class="file_download"><a class="file_download_link" href="/file/index/download/id/<?php echo $file->file_id; ?>"><?php echo $this->translate(_('Download')); ?></a></p>
                                <?php endif; ?>
                            </article>
                        <?php endforeach; ?>
                    </div>
                    <div class="clr"></div>

                </div>
                <!-- content begin -->
            </div>
            <?php if (File_Resource_Group::GROUP_TYPE_VIDEO == $this->group->type): ?>
                <script type="text/javascript" src="/flowplayer/flowplayer-3.2.12.min.js"></script>
                <script>
                    flowplayer("player", "/flowplayer/flowplayer-3.2.16.swf");
                </script>
            <?php endif; ?>

        </div>
    </div>
</section>
<section>
    <?php echo $this->render('partial/road.phtml'); ?>
    <div class="wave_line">
        <div class="wrap">
            <?php echo $this->render('partial/lastvideo.phtml') ?> 
            <?php echo $this->render('partial/lastphotos.phtml') ?>                     
            <div class="clr"></div>
        </div>
    </div>
</section>