<div class="box">
    <h4 class="white ">        
        <div><?php echo $this->translate(_('Files')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php if(isset($this->files)): ?>
            <form  method="post" action="" enctype="application/x-www-form-urlencoded"><table class="table-long">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th><?php echo $this->translate(_('Name')); ?></th>
                        <th><?php echo $this->translate(_('File name')); ?></th>
                        <th><?php echo $this->translate(_('Description')); ?></th>
                        <th><?php echo $this->translate(_('Status')); ?></th>
                        <th><?php echo $this->translate(_('Actions')); ?></th>
                    </tr>
                </thead>
                
                <tbody>                         
                   <?php foreach($this->files as $file): ?>
                        <tr>
                            <td class="col-chk">&nbsp;</td>
                            <td class="col-first">
                                <?php if ('' != $file->preview): ?>
                                <a class="lightbox" href="/upload/files/<?php echo $this->Escape($file->full); ?>">
                                    <img src="/upload/files/<?php echo $this->Escape($file->thumbnail); ?>" alt="<?php echo $this->Escape($file->name); ?>"/>
                                </a>
                                <?php endif; ?>
                            </td>
                            <td class="col-second"><?php echo $this->Escape($file->name);?></td>
                            <td class="col-second"><?php echo $this->Escape($file->file);?></td>
                            <td class="col-second"><?php echo $this->Escape($file->description);?></td>
                            <td class="col-second"><?php echo $file->status ? $this->translate(_('Active')) : $this->translate(_('Inactive')); ?></td>
                            <td class="row-nav">
                                <a class="table-edit-link" href="<?php echo $this->url(array(
                                        'module' => 'file',
                                        'controller' => 'index',
                                        'action' => 'edit',
                                        'id' => $file->file_id), 'admin', true)?>"><?php echo $this->translate(_('edit')); ?></a>

                                <span class="hidden"> | </span>

                                <a class="table-delete-link" onclick="if(!confirm('<?php echo $this->translate(_('Do you really want to delete the object?')); ?>')) return false;" href="<?php echo $this->url(array(
                                        'module' => 'file',
                                        'controller' => 'index',
                                        'action' => 'delete',
                                        'id' => $file->file_id), 'admin', true)?>"><?php echo $this->translate(_('delete')); ?></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>                
            </table>
           <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/>*/?>
            </form>
            <?php else: ?>
            <p><?php echo $this->translate(_('Select the group')); ?></p>
            <?php endif; ?>
        </div>
    </div>
</div>