<?php if ($this->publicationGroupsMenuAdm) : ?>
    <div class="box">
        <h4 class="yellow"><div><?php echo $this->translate(_('Groups')); ?></div></h4>
        <div class="box-container">
            <div><!-- use no-padding wherever you need element padding gone -->
                <?php echo $this->navigation()->menu()->setMinDepth(0)->setMaxDepth(5)->setUlClass('groups-menu-adm')->renderMenu($this->publicationGroupsMenuAdm()); ?>
                <script type="text/javascript">                                                                                                                      
                    $("ul.groups-menu-adm li ul li").each(function(){                       
                        var link =  $(this).children('a').attr('href').replace('list', 'edit-publication-group');
                        $(this).children('a').after("&nbsp;&nbsp;<a class='category-edit' href=\""+link+"\">[<?php echo $this->translate(_('edit')); ?>.]</a>");
                    });
                </script>
              
            </div>
        </div><!--end of div.box-container -->
    </div><!-- end of div.box --><!--end of div.box --><!-- end of div.box -->
<?php endif; ?>