<?php foreach ($this->getBanners('LEFT') as $banner): ?>
    <div class="block banner">
        <a href="<?php echo $banner->url; ?>" title="<?php echo $this->Escape($banner->title); ?>">
            <img src="/images/banner/<?php echo $banner->full; ?>" alt="<?php echo $this->Escape($banner->title); ?>"/>
        </a>
    </div>
<?php endforeach; ?>