<?php
	$currentLang = Zend_Registry::get('Current_Lang');
	$langList = Zend_Registry::get('langList');
?>
<ul class="lang">
	<?php foreach ($langList as $langItem):?>
	<?php $active = ' class="' . $langItem->code . (($currentLang==$langItem->code)?' active':'') . '"';?>
	<li<?php echo $active?>>
		<a id="<?php echo $langItem->code?>" href="<?php echo $this->url(array('lang' => $langItem->code), Zend_Controller_Front::getInstance()->getRouter()->getCurrentRouteName(), false); ?>"><?php echo mb_substr($langItem->name, 0, 3, "utf-8");?></a>
	</li>
    <?php endforeach;?>
</ul>
