<?php $slider = $this->getSlider(); ?>

    <section id="tabs">
            	<ul>
                    <li><a href="#tabs1">Кто мы?</a></li>
                    <li><a href="#tabs2">Почему мы?</a></li>
                    <li><a href="#tabs3">Как это работает?</a></li>
                    <li><a href="#tabs4">Наши приемущества</a></li>
                    <li><a href="#tabs5">Что уже сделано?</a></li>
                    <li><a href="#tabs6">Наши клиенты</a></li>
                </ul>
                  

        
    <?php $tabs_class = 1; ?>
    <?php foreach ($slider as $slide): ?>
                <div id="tabs<?php echo $tabs_class;?>">
                	<article>
                		<h3><?php echo $slide->title; ?></h3>
                        <div class="results_list">
                        	<div class="item">
                            	<img src="layout/img01.jpg" width="143" height="116" alt="">
                                <p class="num">350</p>
                                <p>Специалистов найдено</p>
                            </div>
                        	<div class="item">
                            	<img src="layout/img02.jpg" width="143" height="116" alt="">
                                <p class="num">670</p>
                                <p>Клиентов обслужено</p>
                            </div>
                        	<div class="item">
                            	<img src="layout/img03.jpg" width="143" height="116" alt="">
                                <p class="num">1640</p>
                                <p>Заказов выполнено</p>
                            </div>
                            <div class="clr"></div>
                        </div>
                	</article>
                </div>
    
    <?php $tabs_class++; ?>
    <?php endforeach; ?>
                
            </section>


