<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('edit')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <form id="recipients_form" enctype="application/x-www-form-urlencoded" method="post" action="">
                <div class="user-list">
                    <p style="font-weight: bold; font-size: 16px;"><?php echo $this->translate(_('Registered users:')); ?></p>
                    <a href="#" id="select_all_users"><?php echo $this->translate(_('select all')); ?></a> | 
                    <a id="deselect_all_users" href="#"><?php echo $this->translate(_('deselect')); ?></a>
                    <ul class="columnize">
                        <?php foreach ($this->users as $user): ?> 
                            <li>
                                <input name="recipients[users][<?php echo $user->user_id; ?>]" class="users" type="checkbox" id="user-<?php echo $user->user_id; ?>" />
                                <label for="user-<?php echo $user->user_id; ?>"><?php echo $this->Escape($user->fullname); ?> </label>
                                (<a href="mailto:<?php echo $this->Escape($user->email); ?>"><?php echo $this->Escape($user->email); ?></a>)
                            </li>
                        <?php endforeach; ?>
                    </ul>

                </div>

                <div class="recipients-list" style="margin-top: 20px; ">
                    <p style="font-weight: bold; font-size: 16px;"><?php echo $this->translate(_('Additional mailing list:')); ?></p>
                    <a href="#" id="select_all_recipients"><?php echo $this->translate(_('select all')); ?></a> | 
                    <a id="deselect_all_recipients" href="#"><?php echo $this->translate(_('deselect')); ?></a>
                    <ul id="recipients-list" class="columnize">
                        <?php foreach ($this->recipients as $recipient): ?> 
                            <li id="user-item-<?php echo $recipient->recipient_id; ?>">
                                <input name="recipients[contacts][<?php echo $recipient->recipient_id; ?>]" class="recipients" type="checkbox" id="recipient-<?php echo $recipient->recipient_id; ?>" />
                                <label for="recipient-<?php echo $recipient->recipient_id; ?>"><?php echo $this->Escape($recipient->name); ?> </label>
                                (<a href="mailto:<?php echo $this->Escape($recipient->email); ?>"><?php echo $this->Escape($recipient->email); ?></a>)
                                [<a class="delete_recipient" onclick="return deleteRecipient(this);"  href="/email/mailing/delete-recipient/recipient_id/<?php echo $recipient->recipient_id; ?>">x</a>]
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </form>
            <form id="add_recipient" enctype="application/x-www-form-urlencoded" method="post" action="/email/mailing/add-recipient">
                <?php echo $this->translate(_('New contact')); ?><br/>
                <input class="txtbox-short" onfocus="if(this.value == 'name') { this.value = ''; }" type="text" name="name" id="name" value="name">
                <input class="txtbox-short" onfocus="if(this.value == 'email') { this.value = ''; }" type="text" name="email" id="email" value="email">
                <input style="width: 100px !important;" id="add_recipient_button" type="button" name="button" value="<?php echo $this->translate(_('Add')); ?>"></dd>
            </form>

            <?php echo $this->mailingForm; ?>

        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<script src="/js/admin/autocolumn.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/admin/jquery.form.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function(){
        $('.columnize').columnize();
    });
</script>

<script type="text/javascript">
    
    $(document).ready(function() {
        
        $('#add_recipient_button').click(function() {        
            $("#add_recipient").ajaxForm({
                beforeSubmit: function(a,f,o) {
                    o.dataType = 'json';               
                },
                success: function(data) {
                    if(data.success){
                        $("#recipients-list").append("<li id=\"user-item-"+data.recipient_id+"\"><input name=\"recipients[contacts]["+data.recipient_id+"]\" class=\"recipients\" type=\"checkbox\" id=\"recipient-"+data.recipient_id+"\" /><label for=\"recipient-"+data.recipient_id+"\">"+data.name+"</label> (<a href=\"mailto:"+data.email+"\">"+data.email+"</a>) [<a class=\"delete_recipient\" onclick=\"return deleteRecipient(this);\" href=\"/email/mailing/delete-recipient/recipient_id/"+data.recipient_id+"\">x</a>]</li>");                                                                        
                    }
                }
            }).submit(); 
        });
        
        
        $('#submit').click(function() {   
            $("#mailing_form").ajaxForm({       
                data: $("#recipients_form").serializeFormJSON(),
                beforeSubmit: function(a,f,o) {                    
                    o.dataType = 'json';                     
                },
                success: function(data) {
                    if(data.success){
                        alert(data.message);
                    }
                }
            }).submit(); 
            return false;
        });
        
        
        
        $('#select_all_users').click(function() {
            $('input.users').attr('checked', true);
            return false;
        });
        $('#deselect_all_users').click(function() {
            $('input.users').attr('checked', false);
            return false;
        });
        
        $('#select_all_recipients').click(function() {
            $('input.recipients').attr('checked', true);
            return false;
        });
        $('#deselect_all_recipients').click(function() {
            $('input.recipients').attr('checked', false);
            return false;
        });        
    });
    
    function deleteRecipient(link) {
        
        $.ajax({
            type: "GET",
            url: $(link).attr('href'),                
            dataType: "json",
            success: function(data){
                if(data.success){
                    $('#user-item-'+data.recipient_id).remove();
                }
            }
        });
        
        return false;
            
    };
    
    (function($) {
        $.fn.serializeFormJSON = function() {
    
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    })(jQuery);
        
</script>

