<div class="box">
    <h4 class="white ">
        
        <div><?php echo $this->translate(_('Add group')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
             <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->groupForm; ?>
                <!-- end id-form  -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function() {
        jQuery( "#tabs" ).tabs();              
      });  
</script>
<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }  
<?php endforeach; ?>
    
</style>