<div class="box">
    <h4 class="white ">        
        <div><?php echo $this->translate(_('Groups')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php if(isset($this->groups)): ?>
            <form  method="post" action="" enctype="application/x-www-form-urlencoded"><table class="table-long">
                <thead>
                    <tr>
                        <th></th>
                        <th><?php echo $this->translate(_('Name')); ?></th>                       
                        <th><?php echo $this->translate(_('Description')); ?></th>
                        <th><?php echo $this->translate(_('Actions')); ?></th>
                    </tr>
                </thead>
                
                <tbody>                         
                   <?php foreach($this->groups as $group): ?>
                        <tr>
                            <td class="col-chk">&nbsp;</td>                            
                            <td class="col-first"><?php echo $this->Escape($group->title);?></td>
                            <td class="col-second"><?php echo $this->Escape($group->description);?></td>
                            <td class="row-nav">
                                <a class="table-edit-link" href="<?php echo $this->url(array(
                                        'module' => 'file',
                                        'controller' => 'group',
                                        'action' => 'edit',
                                        'id' => $group->group_id), 'admin', true)?>"><?php echo $this->translate(_('edit')); ?></a>

                                <span class="hidden"> | </span>

                                <a class="table-delete-link"  href="<?php echo $this->url(array(
                                        'module' => 'file',
                                        'controller' => 'group',
                                        'action' => 'delete',
                                        'id' => $group->group_id), 'admin', true)?>"><?php echo $this->translate(_('delete')); ?></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>                
            </table>
           <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/>*/?>
            </form>
            <?php endif; ?>
        </div>
    </div>
</div>