<div class="top_pad">
    <p class="pad_btn opened">
        <span class="close">Свернуть</span>
        <span class="open">Развернуть</span>
    </p>
    <h3 id="answer">Вы можете оставить отзыв</h3>
    <div class="clear"></div>
</div>
<div class="block">
    <div class="rate_box element-mark">
        <p>Оценить:</p>
        <span class="rate_vote">
            <input type="hidden" class="val" value="0"/>
            <input type="hidden" class="votes" value="0"/>
        </span>
        <div class="clear"></div>
        <?php if (0 < count($this->element->mark->getMessages())): ?>
            <?php echo $this->formErrors($this->element->mark->getMessages()); ?>
        <?php endif; ?>
    </div>
    <div class="line element-user_name">
        <div class="input"><div><?php echo $this->element->user_name ?></div></div>
        <div class="clear"></div>
        <?php if (0 < count($this->element->user_name->getMessages())): ?>
            <?php echo $this->formErrors($this->element->user_name->getMessages()); ?>
        <?php endif; ?>
    </div>
    <div class="line element-user_email">
        <div class="input"><div><?php echo $this->element->user_email ?></div></div>
        <div class="clear"></div>
        <?php if (0 < count($this->element->user_email->getMessages())): ?>
            <?php echo $this->formErrors($this->element->user_email->getMessages()); ?>
        <?php endif; ?>
    </div>
    <div class="line element-comment">
        <?php echo $this->element->comment ?>
        <?php if (0 < count($this->element->comment->getMessages())): ?>
            <?php echo $this->formErrors($this->element->comment->getMessages()); ?>
        <?php endif; ?>
    </div>
    <?php if (isset($this->element->captcha)): ?>
        <div class="line capcha_line element-captcha">
            <label for="captcha-input" class="required">
                <?php echo $this->element->captcha->getlabel(); ?>
            </label>
            <div class="input">
                <div id="captcha_input">
                    <?php echo $this->element->captcha; ?>
                </div>
            </div>
            <span id="reload_captcha"></span>
            <div class="clear"></div>
            <?php if (0 < count($this->element->captcha->getMessages())): ?>
                <?php echo $this->formErrors($this->element->captcha->getMessages()); ?>
            <?php endif; ?>
        </div>
    <?php endif; ?>
    <div class="line">
        <span class="btn2"><span><?php echo $this->element->submit ?></span></span>
        <div class="clear"></div>
    </div>

    <?php echo $this->element->mark ?>
    <?php echo $this->element->product_id ?>
    <?php echo $this->element->parent_review_id ?>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        if ($("#review .capcha_line").length > 0)
        {
            $(".capcha_line").prepend($("#review #captcha_input img"));

            $("#review #reload_captcha").click(function () {
                $.post("/contact/index/captcha", { },
                function(data){
                    jQuery('#review #captcha-id').val(data.id);
                    jQuery('#review .capcha_line img').attr('src', data.src);
                    jQuery('#review #captcha-input').val('');
                }, "json");
                return false;
            })
        }
        //else
        //$("#review .capcha_line").empty();
    });
</script>