<div class="line<?php echo (0 < count($this->element->firstname->getMessages())) ? ' has_errors' : ''; ?>">
    <div class="input">
        <div><?php echo $this->element->firstname; ?></div>
    </div>
    <div class="clear"></div>
    <?php if(0 < count($this->element->firstname->getMessages())): ?>
        <?php echo $this->formErrors($this->element->firstname->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line<?php echo (0 < count($this->element->lastname->getMessages())) ? ' has_errors' : ''; ?>">
    <div class="input">
        <div><?php echo $this->element->lastname; ?></div>
    </div>
    <div class="clear"></div>
     <?php if(0 < count($this->element->lastname->getMessages())): ?>
        <?php echo $this->formErrors($this->element->lastname->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line<?php echo (0 < count($this->element->email->getMessages())) ? ' has_errors' : ''; ?>">
    <div class="input">
        <div><?php echo $this->element->email; ?></div>
    </div>
    <div class="clear"></div>
    <?php if(0 < count($this->element->email->getMessages())): ?>
        <?php echo $this->formErrors($this->element->email->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line<?php echo (0 < count($this->element->phone->getMessages())) ? ' has_errors' : ''; ?>">
    <div class="input">
        <div><?php echo $this->element->phone; ?></div>
    </div>
    <div class="clear"></div>
    <?php if(0 < count($this->element->phone->getMessages())): ?>
        <?php echo $this->formErrors($this->element->phone->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line<?php echo (0 < count($this->element->subject->getMessages())) ? ' has_errors' : ''; ?>">
    <div class="input">
        <div><?php echo $this->element->subject; ?></div>
    </div>
    <div class="clear"></div>
    <?php if(0 < count($this->element->subject->getMessages())): ?>
        <?php echo $this->formErrors($this->element->subject->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line<?php echo (0 < count($this->element->message->getMessages())) ? ' has_errors' : ''; ?>">
    
    <?php echo $this->element->message; ?>
    <div class="clear"></div>
    <?php if(0 < count($this->element->message->getMessages())): ?>
        <?php echo $this->formErrors($this->element->message->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line capcha_line<?php echo (0 < count($this->element->captcha->getMessages())) ? ' has_errors' : ''; ?>">
    <label for="captcha-input" class="required"><?php echo $this->element->captcha->getlabel(); ?></label>
    <div class="input">
        <div id="captcha_input">
            <?php echo $this->element->captcha; ?>
        </div>
    </div>
    <span id="reload_captcha"></span>
    <div class="clear"></div>
    <?php if(0 < count($this->element->captcha->getMessages())): ?>
        <?php echo $this->formErrors($this->element->captcha->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <span class="btn2"><span><?php echo $this->element->submit; ?></span></span>
    <div class="clear"></div>
</div>

<script type="text/javascript">
        $(function() {        
            $(".capcha_line").prepend($("#feedback #captcha_input img"));
            $("#feedback #reload_captcha").click(function () {
                $.post("/contact/index/captcha", { },
                function(data){
                    $('#feedback #captcha-id').val(data.id);
                    $('#feedback .capcha_line img').attr('src', data.src);
                    $('#feedback #captcha-input').val('');
                }, "json");
                return false;                                                
            });
        });
</script>