<?php
/**
 * Digg2 pagination style
 * 
 * @preview  « Previous  1 2 … 5 6 7 8 9 10 11 12 13 14 … 25 26  Next »
 */
?>

<?php $query_string = !empty($_SERVER['QUERY_STRING']) ? '?' . $_SERVER['QUERY_STRING'] : ''; ?>

<div class="pagination digg2">

    <div class="pager">

        <ul>

            <?php if ($this->previous_page): ?>
                <li><a class="lbtn" href="<?php echo $this->url(array('page' => $this->previous_page)) . $query_string; ?>"></a></li>
            <?php else: ?>
                <!--<span class="laquo">&laquo;</span>-->
            <?php endif ?>


            <?php if ($this->total_pages < 9): /* « Previous  1 2 3 4 5 6 7 8 9 10 11 12  Next » */ ?>

                <?php for ($i = 1; $i <= $this->total_pages; $i++): ?>
                    <?php if ($i == $this->current_page): ?>
                        <li class="active"><span class="current"><span><?php echo $i ?></span></span></li>
                    <?php else: ?>
                        <li><a href="<?php echo $this->url(array('page' => $i)) . $query_string; ?>"><span><?php echo $i ?></span></a></li>
                    <?php endif ?>
                <?php endfor ?>

            <?php elseif ($this->current_page < 5): /* « Previous  1 2 3 4 5 6 7 8 9 10 … 25 26  Next » */ ?>

                <?php for ($i = 1; $i <= 6; $i++): ?>
                    <?php if ($i == $this->current_page): ?>
                        <li class="active"><span class="current"><span><?php echo $i ?></span></span></li>
                    <?php else: ?>
                        <li><a href="<?php echo $this->url(array('page' => $i))  . $query_string; ?>"><span><?php echo $i ?></span></a></li>
                    <?php endif ?>
                <?php endfor ?>

                <li><span class="hellip">&hellip;</span></li>
                <li><a href="<?php echo $this->url(array('page' => $this->total_pages - 1)) . $query_string; ?>"><span><?php echo $this->total_pages - 1 ?></span></a></li>
                <li><a href="<?php echo $this->url(array('page' => $this->total_pages)) . $query_string; ?>"><span><?php echo $this->total_pages ?></span></a></li>

            <?php elseif ($this->current_page > $this->total_pages - 4): /* « Previous  1 2 … 17 18 19 20 21 22 23 24 25 26  Next » */ ?>

                <li><a href="<?php echo $this->url(array('page' => 1)) . $query_string; ?>"><span>1</span></a></li>
                <li><a href="<?php echo $this->url(array('page' => 2)) . $query_string; ?>"><span>2</span></a></li>
                <li><span class="hellip">&hellip;</span></li>

                <?php for ($i = $this->total_pages - 5; $i <= $this->total_pages; $i++): ?>
                    <?php if ($i == $this->current_page): ?>
                        <li class="active"><span class="current"><span><?php echo $i ?></span></span></li>
                    <?php else: ?>
                        <li><a href="<?php echo $this->url(array('page' => $i)) . $query_string; ?>"><span><?php echo $i ?></span></a></li>
                    <?php endif ?>
                <?php endfor ?>

            <?php else: /* « Previous  1 2 … 5 6 7 8 9 10 11 12 13 14 … 25 26  Next » */ ?>

                <li><a href="<?php echo $this->url(array('page' => 1)) . $query_string; ?>"><span>1</span></a></li>
                <li><a href="<?php echo $this->url(array('page' => 2)) . $query_string; ?>"><span>2</span></a></li>
                <li><span class="hellip">&hellip;</span></li>

                <?php for ($i = $this->current_page - 1; $i <= $this->current_page + 1; $i++): ?>
                    <?php if ($i == $this->current_page): ?>
                        <li class="active"><span class="current"><span><?php echo $i ?></span></span></li>
                    <?php else: ?>
                        <li><a href="<?php echo $this->url(array('page' => $i)) . $query_string; ?>"><span><?php echo $i ?></span></a></li>
                    <?php endif ?>
                <?php endfor ?>

                <li><span class="hellip">&hellip;</span></li>
                <li><a href="<?php echo $this->url(array('page' => $this->total_pages - 1)) . $query_string; ?>"><span><?php echo $this->total_pages - 1 ?></span></a></li>
                <li><a href="<?php echo $this->url(array('page' => $this->total_pages)) . $query_string; ?>"><span><?php echo $this->total_pages ?></span></a></li>

            <?php endif ?>


            <?php if ($this->next_page): ?>
                <li><a class="rbtn" href="<?php echo $this->url(array('page' => $this->next_page)) . $query_string; ?>"></a></li>
            <?php else: ?>
                <!-- <span class="raquo">&raquo;</span>-->
            <?php endif ?>
        </ul>
        <p class="pages_in r">
            &nbsp; <?php echo $this->translate(_('Page')); ?> <span><?php echo $this->current_page; ?></span> <?php echo $this->translate(_('of')); ?> <?php echo $this->total_pages; ?>
        </p>
    </div>
    <div class="clr"></div>
</div>
