<?php
/**
 * Extended pagination style
 * 
 * @preview  « Previous | Page 2 of 11 | Showing items 6-10 of 52 | Next »
 */
?>

<p class="pagination">

    <?php if ($this->previous_page): ?>
        <a href="<?php echo $this->url(array('page' => $this->previous_page)); ?>">&laquo;&nbsp;предыдущая</a>
    <?php else: ?>
        &laquo;&nbsp;предыдущая
    <?php endif ?>

    | страниц <?php echo $this->current_page ?> van <?php echo $this->total_pages ?>

    | элементов <?php echo $this->current_first_item ?>&ndash;<?php echo $this->current_last_item ?> van <?php echo $this->total_items ?>

    | <?php if ($this->next_page): ?>
        <a href="<?php echo $this->url(array('page' => $this->next_page)); ?>">следующая&nbsp;&raquo;</a>
    <?php else: ?>
        следующая&nbsp;&raquo;
    <?php endif ?>

</p>