/**
  * Rhinoslider 1.05
  * http://rhinoslider.com/
  *
  * Copyright 2013: Sebastian Pontow, Rene Maas (http://renemaas.de/)
  * Dual licensed under the MIT or GPL Version 2 licenses.
  * http://rhinoslider.com/license/
  */
.rhino-btn {
	z-index:10;
	display:block;
	text-indent:-999%;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-prev, .rhino-next { top:155px; background:url(../images/slider_btns.png) 0 0 no-repeat;width:41px;height:64px;}

.rhino-prev {
	left:48px;
}

.rhino-next {
	right:48px;
	background-position:-41px 0;
}

.rhino-prev:hover { background-position:0px -64px; }

.rhino-next:hover { background-position:-41px -64px; }

.rhino-toggle {
	top:-4px;
	left:-6px;
}

.rhino-play { background-position:0 0; }

.rhino-play:hover { background-position:0 -53px; }

.rhino-pause { background-position:-56px 0; }

.rhino-pause:hover { background-position:-56px -53px; }

.rhino-container { position:relative; }

.rhino-caption {
	position:absolute;
	background: #000;
	display:none;
	left:0;
	right:0;
	top:0;
	color:#fff;
	padding:10px;
	text-align:right;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-bullets {
	position: absolute;
	bottom: -25px;
	left: 51%;
	z-index: 10;
	padding:0;
}

.rhino-bullets:before, .rhino-bullets:after {
	position:absolute;
	display:none;
	left:-16px;
	content:' ';
	width:16px;
	height:26px;
}

.rhino-bullets:after {
	left:auto;
	right:-16px;
	background-position: -240px 0;
}

.rhino-bullets li {
	float:left;
	display:inline;
	margin:0 0 0 10px;
}
.rhino-bullets li:first-child{margin-left:0;}

.rhino-bullets li a.rhino-bullet {
	display: block;
	width: 11px;
	height: 11px;
	cursor: pointer;
	background: white;
	font-size: 0px;
	text-align: center;
	color: #333;
	text-decoration:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	background:url(../images/slider_bullets.png) 0 0 no-repeat;
}

.rhino-bullets li a.rhino-bullet:hover, .rhino-bullets li a.rhino-bullet:focus {
	color:#999;
	background-position:-21px 0;
}

.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
	color:#fff;
	background-position:-21px 0;
}