<?php $currentLang = Zend_Registry::get('Current_Lang');?>
<!-- Bootstrap CSS Toolkit styles -->
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.my.min.css">
<style>
    #crop_dialog img {max-width: none} /* fix crop | image bug */
    .image_edit{display:none;}

#dropzone {
    background: #F1F3F0;
    border:1px #000 dashed;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 20px 20px 20px;
    padding: 30px 0
}

#dropzone.in {
    font-size: larger;
}
#dropzone.hover {
    background: #c9c9c9;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}


.btn{
	border:none;
	background: none;
	padding:0;
	margin:0;
	font-size: 12px;
	text-shadow:none;
	box-shadow:none;
	padding-right:10px;
}
.btn:hover{
	text-decoration: underline;
	background: none;
}

.button_a{
background: url("/layout/admin/bg_header.jpg") no-repeat center -79px !important;
width: auto;
padding: 0 15px;
height: 35px;
border: none;
margin-bottom: 10px;
cursor: pointer;
color: white;
font-weight: bold;
line-height: 25px;
border-radius: 7px;
behavior: url(/system/css/pie.htc);
position: relative;
}

.button_a:hover{
background: url("/layout/admin/bg_header.jpg") no-repeat center -27px !important;
color:#FFF;
text-decoration: none;
}

.info{font-size:12px;}

#crop_mess {color:green; text-align: center;padding: 0 0 10px 0}

input[type="text"].txtbox-middle {
width: 200px;
}

.hidd-0{display:none}

/*** Dialog ***/

.center{
text-align: center;
padding: 10px 0;}

</style>

<!-- Bootstrap CSS fixes for IE6 -->
<!--[if lt IE 7]><link rel="stylesheet" href="/assets/bootstrapimagegallery/css/bootstrap-ie6.min.css"><![endif]-->

<!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.my.min.css">

<!-- Bootstrap Image Gallery styles -->
<link rel="stylesheet" href="/assets/bootstrapimagegallery/css/bootstrap-image-gallery.min.css">

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/assets/jqueryfileupload/css/jquery.fileupload-ui.css">

<div class="container">
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="/admin/storage/image/save" method="POST" enctype="multipart/form-data">

        <input type="hidden" name="url" id="url" value="/key/<?php echo $this->relation['key']?>/id/<?php echo $this->relation['id']?>/select/<?php echo $this->relation['select']?>" />
    	<input type="hidden" name="key" id="key" value="<?php echo $this->relation['key']?>" />
    	<input type="hidden" name="id" id="id" value="<?php echo $this->relation['id']?>" />
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <input type="checkbox" class="toggle">
                
                <span class="btn button_a fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span><?php echo $this->translate(_('Add files...'));?></span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span><?php echo $this->translate(_('Start upload'));?></span>
                </button>
                <button type="reset" class="btn button_a cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span><?php echo $this->translate(_('Cancel upload'));?></span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span><?php echo $this->translate(_('Delete'));?></span>
                </button>
                
                
                <!-- The loading indicator is shown during file processing -->
                <span class="fileupload-loading"></span>
            </div>
            <!-- The global progress information -->
            <div class="span5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        
        <div id="dropzone" class=""><?php echo $this->translate(_('Drop files here'))?></div>
        
        <div id="message"></div>
        
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped table-long"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>
</div>
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd" tabindex="-1">
    
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span><?php echo $this->translate(_('Download'));?></span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span><?php echo $this->translate(_('Slideshow'));?></span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span><?php echo $this->translate(_('Previous'));?></span>
        </a>
        <a class="btn btn-primary modal-next">
            <span><?php echo $this->translate(_('Next'));?></span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>
<div id="crop_dialog" title="<?php echo $this->translate(_('Crop for thumbnails')); ?>"></div>



<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    
{% for (var i=0, file; file=o.files[i]; i++) { %}
    {% 
        if($("#images_id").length > 0 ){
            value = $("#images_id").val();
            mas = ('' != value)? value.split(':'):[];
            mas.push(file.image_id);
            $("#images_id").val(mas.join(":"));
        }
    %}

	{% var align = ["<?php echo $this->translate(_('None'));?>", "<?php echo $this->translate(_('Left'));?>", "<?php echo $this->translate(_('Center'));?>", "<?php echo $this->translate(_('Right'));?>"]; %}

    <tr class="template-download fade">
        <td>
            <input type="checkbox" name="delete" value="1" class="toggle">    
        </td>
        <td width="110">
               
        <span class="preview">
                {% if (file.thumbnail_url) { %}
                    <a href="{%=file.url%}" title="{%=file.title%}" data-gallery="gallery" download="{%=file.title%}"><img id="preview_img_{%=file.image_id%}" src="{%=file.thumbnail_url%}?{%=new Date().getTime()%}"></a>
                {% } %}
            </span>
            <br />

        </td>

        <td width="570">

            <button class="btn edit" data-type="POST" data-url="/admin/storage/image/save/edit_id/{%=file.image_id%}">
                <i class="icon-edit icon-black"></i>
                <span><?php echo $this->translate(_('edit'));?></span>
            </button>
       
            <button class="btn crop" data-type="POST" data-url="/admin/storage/image/crop/image_id/{%=file.image_id%}/rsettings_ident/<?php echo $this->relation['rsettings_ident']?>">
                <i class="icon-fullscreen icon-black"></i>
                <span><?php echo $this->translate(_('Crop')); ?></span>
            </button>
 
            <button class="btn resize" data-type="POST" data-url="/admin/storage/image/resize/image_id/{%=file.image_id%}/rsettings_ident/<?php echo $this->relation['rsettings_ident']?>">
                <i class="icon-resize-full icon-black"></i>
                <span><?php echo $this->translate(_('Resize'));?></span>
            </button>

            <button class="btn delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="icon-trash icon-black"></i>
                <span><?php echo $this->translate(_('delete'));?></span>
            </button>

            <div class="info">
            	{%=file.title<?php echo "_".$currentLang;?>%}
            		<span class="hidd-{%=file.main%}"><?php echo "| " . $this->translate(_('Main image'));?></span>
            	|
            	<?php echo $this->translate(_('Align'));?> {%=align[file.align] %}
            	|
            	<?php echo $this->translate(_('Shortcode'));?> {%=file.shortcode%}
            </div>

            
            <form class="image_edit">
            
            <fieldset>
            
                <?php echo $this->translate(_('Main image'));?> <input type="radio" name="main" {%=(file.main == 1)?'checked="checked"':''%} value="1">
                | 
                <?php echo $this->translate(_('Align'));?>
                
                <select name="align">
                    <option value="0" {%=(file.align == 0)? 'selected="selected"':'' %}><?php echo $this->translate(_('None'));?></option>
                    <option value="1" {%=(file.align == 1)? 'selected="selected"':'' %}><?php echo $this->translate(_('Left'));?></option>
                    <option value="2" {%=(file.align == 2)? 'selected="selected"':'' %}><?php echo $this->translate(_('Center'));?></option>
                    <option value="3" {%=(file.align == 3)? 'selected="selected"':'' %}><?php echo $this->translate(_('Right'));?></option>
                </select>
                
            	
				<div class="tabs">
		            <ul>
		            	<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
						<li><a href="#tabs-<?php echo $lang->code; ?>"><?php echo $lang->name; ?></a></li>
						<?php endforeach; ?>
					</ul>


		            <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
			            <div id="tabs-<?php echo $lang->code; ?>">
			    			<?php echo $this->translate(_('Title'));?><input type="text" name="title_<?php echo $lang->code; ?>" value="{%=file.title_<?php echo $lang->code; ?>%}" class="txtbox-middle">

			    			<?php echo $this->translate(_('Alt'));?><input type="text" name="alt_<?php echo $lang->code; ?>" value="{%=file.alt_<?php echo $lang->code; ?>%}" class="txtbox-middle">

			  			</div>
		            <?php endforeach; ?>
				</div>

            <button class="btn button_a save" data-type="POST" data-url="/admin/storage/image/save/edit_id/{%=file.image_id%}">
                <span><?php echo $this->translate(_('Save'));?></span>
            </button>

            </fieldset>
            
            </form>

            {% if (file.error) { %}
                <div><span class="label label-important"><?php echo $this->translate(_('Error'));?></span> {%=file.error%}</div>
            {% } %}



            
            
        </td>

        <td>
            <?php /*<p class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </p>*/ ?>
            
        </td>
        <?php /*<td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>*/ ?>
        
    </tr>
{% } %}
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{%
    var fmain = 0;
    if($('.image_edit input[name="main"]:checked, .image_add input[name="main"]:checked').length != 1){
        fmain = 1
    }

%}
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            
        </td>            
        <td width="110">
            <span class="preview"></span>
        
            <br />
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn button_a start">
                    <i class="icon-upload icon-white"></i>
                    <span><?php echo $this->translate(_('Start'));?></span>
                </button>
            {% } %}
            {% if (!i) { %}
                <br />
                <button class="btn button_a cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span><?php echo $this->translate(_('Cancel'));?></span>
                </button>
            {% } %}
        

        </td>
        <td width="570" class="image_add">
            
            <p class="size">[{%=o.formatFileSize(file.size)%}] - {%=file.name%}</p>
            {% if (!o.files.error) { %}
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            {% } %}

            <fieldset>
            
            <?php echo $this->translate(_('Main image'));?>
            <input type="radio" name="main" {%=(fmain == 1)?'checked="checked"':''%} value="1" >


            <?php echo $this->translate(_('Align'));?>
            <select name="align">
                <option value="0"><?php echo $this->translate(_('None'));?></option>
                <option value="1"><?php echo $this->translate(_('Left'));?></option>
                <option value="2"><?php echo $this->translate(_('Center'));?></option>
                <option value="3"><?php echo $this->translate(_('Right'));?></option>
            </select>
     

                <div class="tabs">
                    <ul>
                        <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#tabs-<?php echo $lang->code; ?>"><?php echo $lang->name; ?></a></li>
                        <?php endforeach; ?>
                    </ul>


                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <div id="tabs-<?php echo $lang->code; ?>">
                            <?php echo $this->translate(_('Title'));?><input type="text" name="title_<?php echo $lang->code; ?>" class="txtbox-middle">

                            <?php echo $this->translate(_('Alt'));?><input type="text" name="alt_<?php echo $lang->code; ?>" class="txtbox-middle">

                        </div>
                    <?php endforeach; ?>
                </div>

            </fieldset>

            {% if (file.error) { %}
                <div><span class="label label-important"><?php echo $this->translate(_('Error'));?></span> {%=file.error%}</div>
            {% } %}


        </td>
        <td>
        </td>
        
    </tr>
{% } %}
</script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/assets/jqueryfileupload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="/assets/javascript-templates/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/assets/javascript-load-image/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="/assets/javascript-canvas-to-blob/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/bootstrapimagegallery/js/bootstrap-image-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/assets/jqueryfileupload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/assets/jqueryfileupload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/assets/jqueryfileupload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/assets/jqueryfileupload/js/jquery.fileupload-image.js"></script>
<?php /*
<!-- The File Upload audio preview plugin -->
<script src="/assets/jqueryfileupload/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/assets/jqueryfileupload/js/jquery.fileupload-video.js"></script>
*/ ?>
<!-- The File Upload validation plugin -->
<script src="/assets/jqueryfileupload/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="/assets/jqueryfileupload/js/jquery.fileupload-ui.js"></script>

<!-- The main application script -->
<script src="/assets/jqueryfileupload/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="/assets/jqueryfileupload/js/cors/jquery.xdr-transport.js"></script><![endif]-->


<script>


    $(document).ready(function($) {

        $( document ).on('click', '.image_edit input[name="main"]', function (){ 
            $('.image_edit input[name="main"]').prop("checked", false)//.val(0);
            $('.image_edit input[name="main"]').parent().parent().parent().find(".info .hidd-1").addClass("hidd-0").removeClass("hidd-1");
            $(this).prop("checked", true);//.val(1);
            $(this).parent().parent().parent().find(".info .hidd-0").addClass("hidd-1").removeClass("hidd-0");
            
        });

         $( document ).on("click", ".crop", function (){
                
                $("#crop_dialog")
                    .load($(this).attr("data-url"))
                    .dialog({
                        width: '900',
                        height: 'auto',
                        position: ['center', 50],
                        modal: true
                    }); 

                return false;
        });
/*
        $( document ).on("click", "button.btn.exit",function (){
            $("#crop_dialog").dialog("close");
            return false;
        })*/

        $( document ).on("click", "button.btn.resize",function (){

            $.ajax({
                type: $(this).attr("data-type"),
                url: $(this).attr("data-url"),
                //data: form.serialize(),
                dataType: 'json',
                beforeSend: function(xhr) { },
                success: function(data, status)
                {
                    if ('error' == data.status) {               
                        // 
                    }
                    else if ('success' == data.status)
                    {
                        time = new Date().getTime();
                        $("#preview_img_" + data.image_id).attr({"src":data.thumbnail_url + "?" + time});
                        
                        $("#message").append($("<div>").attr({"id":"crop_mess"}).html(data.message));
                        setTimeout(function() {$("#crop_mess").slideUp("fast");$("#crop_mess").remove()}, 3000);
                    }

                    //alert(data.status)

                    return false;

                },
                complete: function(xhr, textStatus) {}
            });

            return false;
        });



        $( document ).on("click", "button.btn.edit",function (){

        	$(".tabs").tabs({ active: 0 });
        	$(this).parent().find(".image_edit").slideToggle("slow");

        	return false;
        });

        $( document ).on("click", "button.btn.delete", function (){
            var url = $(this).attr("data-url");
            if($('input[name="delete"]:checked').length > 0 || undefined != url) {
                var param = (undefined != url)? url.split('/'):[];
                var image_id = param[param.length-1];
            }
            //alert(image_id);
            if($("#images_id").length > 0 && undefined != image_id){
                value = $("#images_id").val();
                mas = ('' != value)? value.split(':'):[];
                mas.splice(mas.indexOf(image_id), 1);
                $("#images_id").val(mas.join(":"));
            }
        });

        $( document ).on("click", "button.btn.save",function (){

            //var form = $(this).parent().parent();//.find(".image_edit");
            //var sbtn = $(this);
            
            var flag = true;
            
            $(".image_edit").each( function () {
                
                var form = $(this);
                
                $.ajax({
                    type: $(this).parent().parent().find(".btn.edit").attr("data-type"),
                    url: $(this).parent().parent().find(".btn.edit").attr("data-url"),
                    data: $(this).serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr) { },
                    success: function(data, status)
                    {
                        if ('error' == data.status) {               
                            //$('div.box_pad .error_text').html(data.error_text);
                        }
                        else if ('success' == data.status)
                        {
                            //alert("11111");
                            //console.log(form.serialize());
                            if( flag ){
                                flag = false;
                                $(".image_edit").hide("slow");
                                $("#message").append($("<div>").attr({"id":"crop_mess"}).html(data.message));
                                setTimeout(function() {$("#crop_mess").slideUp("fast");$("#crop_mess").remove()}, 3000);
                            }
                        }
                        return false;

                    },
                    complete: function(xhr, textStatus) {}
                });
            });

            return false;
        });  
    });

</script>