<div class="pagination" style="float:left; width:100%; text-align: center;">    
    <div>
        <!-- First page link -->
        <?php if (isset($this->previous)): ?>
              <a href="<?php echo  $this->url(array('page' => $this->first)); ?>"><?php echo $this->translate(_('Start')); ?></a> |
        <?php else: ?>
                <span class="disabled"><?php echo $this->translate(_('Start')); ?></span> |
        <?php endif; ?>

        <!-- Previous page link -->

        <?php if (isset($this->previous)): ?>
              <a href="<?php echo  $this->url(array('page' => $this->previous)); ?>"><?php echo $this->translate(_('&lt; Previous')); ?></a> |
        <?php else: ?>
            <span class="disabled"><?php echo $this->translate(_('&lt; Previous')); ?></span> |
        <?php endif; ?>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?php echo  $this->url(array('page' => $page)); ?>"><?php echo  $page; ?></a>
            <?php else: ?>
                <?php echo  $page; ?>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
              | <a href="<?php echo  $this->url(array('page' => $this->next)); ?>"><?php echo $this->translate(_('Next &gt;')); ?></a> |
        <?php else: ?>
            | <span class="disabled"><?php echo $this->translate(_('Next &gt;')); ?></span> |
        <?php endif; ?>
        <!-- Last page link -->
        <?php if (isset($this->next)): ?>
              <a href="<?php echo  $this->url(array('page' => $this->last)); ?>"><?php echo $this->translate(_('End')); ?></a>
        <?php else: ?>
            <span class="disabled"><?php echo $this->translate(_('End')); ?></span>
        <?php endif; ?>
        &nbsp; <?php echo $this->translate(_('Page')); ?> <?php echo  $this->current; ?> из <?php echo  $this->last; ?>
    </div>
 </div>