<?php $site_settings = Zend_Registry::get('site_settings'); ?>



<footer>
    	<div class="ft_line">
    		<div class="wrap">
    			<a href="<?php echo $this->url(array('lang' => Zend_Registry::get('Current_Lang')), 'default', true); ?>" title="<?php echo $this->Escape($site_settings->getSetting('default', 'site_name')); ?>" class="ft_logo">
                            <img src="/layout/logo.png" width="250" height="90" alt=""></a>
    		    <address>
    		    	<p class="tel"><?php echo $site_settings->getSetting('contact', 'phone_code'); ?><?php echo $site_settings->getSetting('contact', 'phone_number'); ?></p>
    		        <p class="map"><?php echo $site_settings->getSetting('contact', 'city_ru'); ?><?php echo $site_settings->getSetting('contact', 'address_ru'); ?></p>
    		    </address>
    		</div>
    	</div>

        <div class="wrap">
            <nav class="ft_menu">
                <?php echo $this->makeMenu('main', 0, 3, '/menu/secondary.phtml'); ?>
            </nav>
        </div>

    </footer>