<?php
$site_settings = Zend_Registry::get('site_settings');
//$currency = Zend_Registry::get('Currency');
//$currencies = $currency->getCurrencies();
//$user_id = $this->authInfo('user_id');
?>
	            
	            
	            
    <section class="wrap">
        	<h1 class="logo"><a href="<?php echo $this->url(array('lang' => Zend_Registry::get('Current_Lang')), 'default', true); ?>" title="<?php echo $this->Escape($site_settings->getSetting('default', 'site_name')); ?>" >
                        <img src="/layout/logo.png" width="250" height="90" alt=""></a></h1>
            
            <p class="slogan"><?php echo $site_settings->getSetting('default', 'site_slogan_ru'); ?></p>
            
            <ul class="soc_links">
            	<li class="fc"><a href=""></a></li>
                <li class="tw"><a href=""></a></li>
                <li class="sk"><a href=""></a></li>
                <li class="yt"><a href=""></a></li>
            </ul>
            
        </section>
                    
        

        <div class="tm_line">
        	<div class="wrap">
        		<nav>
        		    <?php echo $this->makeMenu('main', 0, 3, '/menu/main.phtml'); ?>

                                        	
        		</nav>
                <form action="/search" class="search" method="POST">
                	<input type="search"  name="query" class="txt" value="Поиск..." onclick="this.value='';" >
                    <input type="submit" class="submit" value="	">
                </form>
        	</div>
        </div>

        <div class="gr_line">
        	<div class="wrap">
            	<div class="autsors"></div>
            </div>
        </div>
           <div class="wh_line">
        	<div class="wrap">
            	<article class="page_inf">
                	<div class="fll">
                		<h3>Аутсорсинг</h3>
                	</div>
                    <div class="flr">
                    	<p>Передача организацией на основании договора определённых 
бизнес-процессов или производственных функций на обслуживание 
другой компании, специализирующейся в соответствующей области</p>
                    </div>
                    <div class="clr"></div>
                </article>
            </div>
        </div>


