<?php $site_settings = Zend_Registry::get('site_settings'); ?>
<head>

    <?php $this->setEncoding('UTF-8'); ?>
    <?php $this->doctype('XHTML1_STRICT'); ?>

    <?php $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>
    <?php $this->headMeta()->appendHttpEquiv('Content-Language', 'ru-RU'); ?>
    <?php $this->headMeta()->appendHttpEquiv('language', 'ru'); ?>

    <?php 
        if(strip_tags($site_settings->getSetting('default', 'site_name_ru')) != '') 
            $this->headTitle(strip_tags($site_settings->getSetting('default', 'site_name_ru')));
    ?>

    <?php echo $this->headMeta() . PHP_EOL; ?>
    <?php echo $this->headTitle()->setSeparator(' - ') . PHP_EOL; ?>

    <meta name="author" lang="ru" content="<?php echo strip_tags($site_settings->getSetting('default', 'site_name_ru')); ?>" />
    <meta name="owner" content="<?php echo strip_tags($site_settings->getSetting('default', 'site_name_ru')); ?>" />
    <meta name="copyright" content="<?php echo strip_tags($site_settings->getSetting('default', 'site_name_ru')); ?>" />
    <?php
/*
    <meta name="resource-type" content="document" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="classification" content="internet" />
    <meta name="robots" content="all" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="language" content="russsian" />
    <meta name="doc-type" content="Web Page" />
    <meta http-equiv="reply-to" content="info@site.com" />
    <meta name="google-site-verification" content="" />
    <meta name='yandex-verification' content='' />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        */
    ?>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    

    <?php $this->headLink()->appendStylesheet('/css/style.css'); ?>
    <?php $this->headLink()->appendStylesheet('/jquery-ui-1.10.0.custom.css'); ?>
    <?php $this->headLink()->appendStylesheet('/rhinoslider-1.05.css'); ?>
    <?php $this->headLink()->appendStylesheet('/jquery.selectBox.css'); ?>
    <?php $this->headLink()->appendStylesheet('http://fonts.googleapis.com/css?family=Yeseva+One&subset=latin,cyrillic'); ?>
    <?php $this->headLink()->appendStylesheet('http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,cyrillic'); ?>

    
    <?php $this->headScript()->appendFile('/js/jquery-1.9.0.min.js'); ?>
    <?php $this->headScript()->appendFile('/js/jquery.simplemodal.1.4.4.min.js'); ?>
    <?php $this->headScript()->appendFile('/js/jquery-ui-1.10.0.custom.min.js'); ?>
    <?php $this->headScript()->appendFile('/js/rhinoslider-1.05.min.js'); ?>
    <?php $this->headScript()->appendFile('/js/jquery.selectBox.min.js'); ?>
    <?php $this->headScript()->appendFile('/js/site.js'); ?>

     <?php 
        $request = Zend_Controller_Front::getInstance()->getRequest();
        $module_name =  $request->getModuleName();
        $js_file = APPLICATION_PATH . '/../www/js/sections/'.$module_name.'.js';
        if (file_exists($js_file)) {            
            $this->headScript()->appendFile('/js/sections/'.$module_name.'.js');
        }?>

    <?php echo $this->headLink() . PHP_EOL; ?>
    <?php echo $this->headStyle() . PHP_EOL; ?>
    <?php echo $this->headScript() . PHP_EOL; ?>
   
</head>