<?php
$site_settings = Zend_Registry::get('site_settings');
//$currency = Zend_Registry::get('Currency');
//$currencies = $currency->getCurrencies();
//$user_id = $this->authInfo('user_id');
?>
	            
	            
	            
    <section class="wrap">
        	<h1 class="logo"><a href="<?php echo $this->url(array('lang' => Zend_Registry::get('Current_Lang')), 'default', true); ?>" title="<?php echo $this->Escape($site_settings->getSetting('default', 'site_name')); ?>" >
                        <img src="/layout/logo.png" width="250" height="90" alt=""></a></h1>
            
            <p class="slogan"><?php echo $site_settings->getSetting('default', 'site_slogan_ru'); ?></p>
            
            <ul class="soc_links">
            	<li class="fc"><a href=""></a></li>
                <li class="tw"><a href=""></a></li>
                <li class="sk"><a href=""></a></li>
                <li class="yt"><a href=""></a></li>
            </ul>
            
        </section>
                    
        <div class="slider_wr">
            <div class="slider_bg"></div>
            <ul id="slider">
                <li>
                	<a href="" class="llink">
                    	<span class="txt"><span class="arw"></span>Я являюсь <span>СОИСКАТЕЛЕМ</span><br> и ищу хорошую работу!</span>
                    </a>
                    <a href="" class="rlink">
                    	<span class="txt"><span class="arw"></span>Я являюсь <span>РАБОТОДАТЕЛЕМ</span><br> и ищу надежный персонал!</span>
                    </a>
                    <span class="ttl">Люди строят отношения с людьми, а не компаниями 111</span>
                    <span class="txt">передача организацией на основании договора определённых бизнес-процессов или производственных функций на обслуживание другой компании, специализирующейся в соответствующей области. </span>
                </li>
                <li>
                	<a href="" class="llink">
                    	<span class="txt"><span class="arw"></span>Я являюсь <span>СОИСКАТЕЛЕМ</span><br> и ищу хорошую работу!</span>
                    </a>
                    <a href="" class="rlink">
                    	<span class="txt"><span class="arw"></span>Я являюсь <span>РАБОТОДАТЕЛЕМ</span><br> и ищу надежный персонал!</span>
                    </a>
                    <span class="ttl">Люди строят отношения с людьми, а не компаниями 222</span>
                    <span class="txt">передача организацией на основании договора определённых бизнес-процессов или производственных функций на обслуживание другой компании, специализирующейся в соответствующей области. </span>
                </li>               
            </ul>
        </div>

        <div class="tm_line">
        	<div class="wrap">
        		<nav>
        		    <?php echo $this->makeMenu('main', 0, 3, '/menu/main.phtml'); ?>

                                        	
        		</nav>
                <form action="/search" class="search" method="POST">
                	<input type="search"  name="query" class="txt" value="Поиск..." onclick="this.value='';" >
                    <input type="submit" class="submit" value="	">
                </form>
        	</div>
        </div>

        <div class="wh_line">
        	<div class="wrap">
            	<section class="service_list">

                <?php $blog = $this->lastPublications('rabotodatelyam') ?>
                <?php if (0 < count($blog)): ?>
                
                 
                   <?php $count = 1; foreach ($blog->getPublications() as $key => $publication): ?>
                    <article class="item item<?php echo $count; ?>">
                    	<h3><?php echo $publication->title; ?></h3>
                        <p><?php echo $this->truncate(strip_tags($publication->body), 100, ' '); ?></p>
                        <a href="<?php
                        echo $this->url(array('lang' => $this->currentLang,
                            'groupIdent' => $publication->publication_group_ident,
                            'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                           ?>" class="btn">Подробнее</a>
                        <div class="clr"></div>
                    </article>
            <?php $count++; ?>
            <?php endforeach; ?>
                    
            <?php endif; ?>
                    <div class="clr"></div>
                </section>
            </div>
        </div>
