<?php if ($this->messagesError) : ?>
    <ul class="response-msg error">    
        <?php foreach ($this->messagesError as $message) : ?>
            <li><?php echo $message; ?></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>

<?php if ($this->messagesSuccess) : ?>
    <ul class="response-msg success">    
        <?php foreach ($this->messagesSuccess as $message) : ?>
            <li><?php echo $message; ?></li>
        <?php endforeach; ?>
    </ul> 
<?php endif; ?>
