<table class="admin-table">
    <tr>
        <th width="20">ID</th>
        <th width="150"><?php echo $this->translate(_('ident'))?></th>
        <th><?php echo $this->translate(_('subject'))?></th>
        <th width="10"><?php echo $this->translate(_('actions'))?></th>
    </tr>
    <?php foreach ($this->templates as $item) { ?>
        <tr>
            <td align="center"><?php echo $item->id; ?></td>
            <td ><?php echo $this->link($item->ident, $this->url(array('action' => 'template-edit', 'id' => $item->id))); ?></td>
            <td align="center"><?php echo $item->subject; ?></td>
            <td align="center" nowrap="nowrap">
                <?php echo $this->link('Edit', $this->url(array('action' => 'template-edit', 'id' => $item->id)),
                        array('class' => 'edit-item')); ?>
                <?php echo $this->link('Delete', $this->url(array('action' => 'template-delete', 'id' => $item->id)),
                        array('class' => 'delete-item'), 'Delete this template?'); ?>
        </td>
    </tr>
<?php } ?>
</table>
