<div class="line element-email">
    <div class="input">
        <div><?php echo $this->element->email; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->email->getMessages())): ?>
        <?php echo $this->formErrors($this->element->email->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-firstname">
    <div class="input">
        <div><?php echo $this->element->firstname; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->firstname->getMessages())): ?>
        <?php echo $this->formErrors($this->element->firstname->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-lastname">
    <div class="input">
        <div><?php echo $this->element->lastname; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->lastname->getMessages())): ?>
        <?php echo $this->formErrors($this->element->lastname->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-telephone">
    <div class="input">
        <div><?php echo $this->element->telephone; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->telephone->getMessages())): ?>
        <?php echo $this->formErrors($this->element->telephone->getMessages()); ?>
    <?php endif; ?>
</div>
<?php if (!is_null($this->element->getElement('passwd'))) : ?>
    <div class="line element-passwd">
        <div class="input">
            <div><?php echo $this->element->passwd; ?></div>
        </div>
        <div class="clear"></div>
        <?php if (0 < count($this->element->passwd->getMessages())): ?>
            <?php echo $this->formErrors($this->element->passwd->getMessages()); ?>
        <?php endif; ?>
    </div>
<?php endif; ?>
<?php if (!is_null($this->element->getElement('passwdVerify'))) : ?>
    <div class="line element-passwdVerify">
        <div class="input">
            <div><?php echo $this->element->passwdVerify; ?></div>
        </div>
        <div class="clear"></div>
        <?php if (0 < count($this->element->passwdVerify->getMessages())): ?>
            <?php echo $this->formErrors($this->element->passwdVerify->getMessages()); ?>
        <?php endif; ?>
    </div>  
<?php endif; ?>
<div class="line element-shipping_id">        
    <?php echo $this->element->shipping_id; ?>
    <div class="clear"></div>
</div> 
<div class="line element-payment_id">        
    <?php echo $this->element->payment_id; ?>
    <div class="clear"></div>
</div> 
<div class="line element-city">        
    <div class="input">
        <div><?php echo $this->element->city; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->city->getMessages())): ?>
        <?php echo $this->formErrors($this->element->city->getMessages()); ?>
    <?php endif; ?>
</div> 
<div class="line element-address">        
    <?php echo $this->element->address; ?>
    <div class="clear"></div>
    <?php if (0 < count($this->element->address->getMessages())): ?>
        <?php echo $this->formErrors($this->element->address->getMessages()); ?>
    <?php endif; ?>
</div> 
<div class="line element-comment">        
    <?php echo $this->element->comment; ?>
    <div class="clear"></div>
    <?php if (0 < count($this->element->comment->getMessages())): ?>
        <?php echo $this->formErrors($this->element->comment->getMessages()); ?>
    <?php endif; ?>
</div> 
<div class="check_box element-subscription">
    <span class="niceCheck" unselectable="on" >
        <?php echo $this->element->subscription; ?>
    </span>
    <span class="t_ch"><?php echo $this->translate(_('Subscribe to Newsletter')); ?></span>                     
    <div class="clear"></div>
    <?php if (0 < count($this->element->subscription->getMessages())): ?>
        <?php echo $this->formErrors($this->element->subscription->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="check_box element-agreement">
    <span class="niceCheck" unselectable="on" >          
        <?php echo $this->element->agreement; ?>
    </span>
    <span class="t_ch"><?php echo $this->translate(_('I accept the terms of the <a class="%s" target="_blank" href="%s">agreement</a>'), "agreement_link", "/ru/catalog/order/agreement"); ?></span>                     
    <div class="clear"></div>
    <?php if (0 < count($this->element->agreement->getMessages())): ?>
        <?php echo $this->formErrors($this->element->agreement->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-submit">
    <span class="btn2"><span><?php echo $this->element->submit; ?></span></span>
    <div class="clear">	</div>
</div>                      
