<div class="product_item">
        <?php echo $this->productImage($this->product->mainImage, array('class' => 'right'))->thumbnail(); ?>
        <h4><a href="<?php
        echo $this->url(array('productIdent' => $this->product->ident,
            'categoryIdent' => $this->category->ident), 'catalog_category_product');?>"><?php echo $this->Escape($this->product->name); ?></a></h4>
        <p><?php echo $this->Escape($this->product->description); ?></p>      
        <div class="clr"></div>
</div>