<div class="content">
    	<div class="wrap">
        
                 <?php  echo $this->render('blocks/slider.phtml'); ?>
            
            <div class="col3">
            	
                
                <section class="news_posts">
                <?php $blog = $this->lastPublications('blog') ?>
                <?php if (0 < count($blog)): ?>
                    
                    <div class="rounded">
                    	<a href="/ru/publication/blog" class="btn flr">Больше</a>
                    	<h3>Последнее в блоге</h3>
                        
                        
                        <?php foreach ($blog->getPublications() as $key => $publication): ?>
                <article class="post">
                     
                         <?php if('' != $publication-> image_preview): ?>
                            <a href="<?php
            echo $this->url(array('lang' => $this->currentLang,
                'groupIdent' => $publication->publication_group_ident,
                'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                    ?>" class="img"><span class="shdw"></span><img src="<?php echo $publication->image_path?>/<?php echo $publication->image_preview ?>" width="81" height="77" alt=""></a>
                             <?php endif; ?>
                         
                   <h3> <a href="<?php
                        echo $this->url(array('lang' => $this->currentLang,
                            'groupIdent' => $publication->publication_group_ident,
                            'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                ?>" ><?php echo $publication->title; ?></a></h3>
                    <p><?php echo $this->truncate(strip_tags($publication->body), 250, ' '); ?></p>
                    <div class="clr"></div>
                </article>
                                    
            <?php endforeach; ?>
                    </div>
            	
            <?php endif; ?>
                </section>
            	
            	<section class="twitter_posts">
                	<h3>Twitter</h3>
                    <article class="post">
                    	<h3><a href="">@mishuutka</a></h3>
                        <p>Когда #GoProf  будет готов? через 10 дней запускать его!</p>
                        <p class="date">5 минут назад</p>
                    </article>
                    <article class="post">
                    	<h3><a href="">@mishuutka</a></h3>
                        <p>Когда #GoProf  будет готов? через 10 дней запускать его!</p>
                        <p class="date">5 минут назад</p>
                    </article>
                    <article class="post">
                    	<h3><a href="">@mishuutka</a></h3>
                        <p>Когда #GoProf  будет готов? через 10 дней запускать его!</p>
                        <p class="date">5 минут назад</p>
                    </article>
            	</section>
            	
            	<section class="ppl_list">
                	
                    
                                
                                      
            	
               
                    
                <?php $page = $this->getPublicationByIdent('soiskatelyam') ?>
                <?php if (0 < count($page)): ?>

                    <div class="rounded">
                    	<h3>Наш персонал</h3>
                        <ul>
                        	<?php foreach ($page as $key => $publication): ?>
                         
                   <li><a href="<?php
                        echo $this->url(array('lang' => $this->currentLang,
                            'groupIdent' => $publication->publication_group_ident,
                            'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                                 ?>" ><?php echo $publication->title; ?></a></li>
                    
                     <?php endforeach; ?>

                        </ul>
                    </div>
            	 <?php endif; ?>
                
                
                </section>
            	
            	<div class="clr"></div>
            </div>
        
    	</div>
    </div>