<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <span class="clr"></span>
</div>

<div class="title_box">
    <h1><?php echo $this->translate(_('Error')); ?> - <?php echo $this->translate($this->message); ?></h1>
</div>
<div class="content_box">
    <div class="error_box">
        <?php if(1 != $this->isAdmin): ?>
        <p style="text-align: center;" ><img src="/layout/error/404.jpg"/></p>
        <?php endif; ?>
        
        <?php if (isset($this->exception)): ?>

            <h3><?php echo $this->translate(_('Error information')); ?>:</h3>
            <p>
                <b><?php echo $this->translate(_('Message')); ?>:</b> <?php echo $this->exception->getMessage() ?>
            </p>

            <h3><?php echo $this->translate(_('Stack trace')); ?>:</h3>
            <pre>
                <?php echo $this->exception->getTraceAsString() ?>
            </pre>

            <h3><?php echo $this->translate(_('Request Parameters')); ?>:</h3>
            <pre>
                <?php echo $this->escape(var_export($this->request->getParams(), true)) ?>
            </pre>

        <?php endif ?>
    </div>
</div>