<div class="block2">
    <h1><?php echo $this->translate(_('Error')); ?> - <?php echo $this->translate($this->message); ?></h1>

    <p><?php echo $this->translate('First, buy a subscription'); ?></p>

    <p><a href="<?php
          echo $this->url(array(
              'module'     => 'user',
              'controller' => 'subscription',
              'action'     => 'index',
              'lang'       => $this->currentLang), 'default', true);
?>"><?php echo $this->translate(_('Subscriptions')); ?></a></p>

</div>
