<?php
$visitorsChartData = '[';
foreach ($this->visitorsYear as $key => $visitor) {
    $visitorsChartData .= (0 != $key) ? ",\n" : '';
    $visitorsChartData .= "{date: \"" . date('m.Y', strtotime($visitor->date)) . "\",\n" .
            "visitors:" . $visitor->visitors . ",\n" .
            "pageviews:" . $visitor->pageviews . "}";
}
$visitorsChartData .= ']';
?>

<?php
$visitors3ChartData = '[';
foreach ($this->visitorsMonth3 as $key => $visitor3) {
    $visitors3ChartData .= (0 != $key) ? ",\n" : '';
    $visitors3ChartData .= "{date: \"" . date('d.m.Y', strtotime($visitor3->date)) . "\",\n" .
            "visitors:" . $visitor3->visitors . ",\n" .
            "visits:" . $visitor3->visits . ",\n" .
            "pageviews:" . $visitor3->pageviews . "}";
}
$visitors3ChartData .= ']';
?>


<?php
$countriesChartData = '[';
foreach ($this->countries as $key => $country) {
    $countriesChartData .= (0 != $key) ? ",\n" : '';
    $countriesChartData .= "{country: \"" . $country->name . "\",\n" .
            "visits:" . $country->visits . "}";
}
$countriesChartData .= ']';
?>

<?php
$citiesChartData = '[';
foreach ($this->cities as $key => $city) {
    $citiesChartData .= (0 != $key) ? ",\n" : '';
    $citiesChartData .= "{city: \"" . $city->name . "\",\n" .
            "visits:" . $city->visits . "}";
}
$citiesChartData .= ']';
?>


<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Statictics by Google Analitycs')); ?></div>
    </h4>
    <div class="box-container ">
        <div>  

            <script src="/assets/amcharts/amcharts.js" type="text/javascript"></script>        

            <script type="text/javascript">
                var chart;

                AmCharts.ready(function() {

                    var chartData = <?php echo $visitorsChartData; ?>;
                    // SERIAL CHART
                    chart = new AmCharts.AmSerialChart();

                    chart.addTitle("<?php echo $this->translate(_('Statictics for last year')); ?>", 16);
                    chart.dataProvider = chartData;
                    chart.marginRight = 0;
                    chart.autoMarginOffset = 5;
                    chart.categoryField = "date";
                    chart.startDuration = 0.5;
                    chart.balloon.color = "#000000";

                    // AXES
                    // Category
                    var categoryAxis = chart.categoryAxis;
                    categoryAxis.gridAlpha = 0.07;
                    categoryAxis.axisColor = "#DADADA";

                    var valueAxis = new AmCharts.ValueAxis();
                    valueAxis.title = "";
                    valueAxis.axisAlpha = 0;
                    valueAxis.integersOnly = true;
                    chart.addValueAxis(valueAxis);


                    // GRAPHS                                                           
                    var graph = new AmCharts.AmGraph();
                    graph.title = "Unique visitors";
                    graph.valueField = "visitors";
                    graph.lineAlpha = 1;
                    graph.lineColor = "#d1cf2a";
                    chart.addGraph(graph);

                    var graph = new AmCharts.AmGraph();
                    graph.title = "Page views";
                    graph.valueField = "pageviews";
                    graph.lineAlpha = 1;
                    graph.lineColor = "#d1682a";
                    chart.addGraph(graph);

                    // CURSOR
                    var chartCursor = new AmCharts.ChartCursor();
                    chartCursor.cursorPosition = "mouse";
                    chart.addChartCursor(chartCursor);

                    // LEGEND
                    var legend = new AmCharts.AmLegend();
                    legend.markerType = "circle";
                    chart.addLegend(legend);

                    // WRITE
                    chart.write("visitors");

                    /////////////////////////////

                    var chartData = <?php echo $visitors3ChartData; ?>;

                    // SERIAL CHART
                    chart = new AmCharts.AmSerialChart();

                    chart.addTitle("<?php echo $this->translate(_('Statictics for last three months')); ?>", 16);
                    chart.dataProvider = chartData;
                    chart.marginRight = 0;
                    chart.autoMarginOffset = 5;
                    chart.categoryField = "date";
                    chart.startDuration = 0.5;
                    chart.balloon.color = "#000000";

                    // AXES
                    // Category
                    var categoryAxis = chart.categoryAxis;
                    categoryAxis.gridAlpha = 0.07;
                    categoryAxis.axisColor = "#DADADA";

                    var valueAxis = new AmCharts.ValueAxis();
                    valueAxis.title = "";
                    valueAxis.axisAlpha = 0;
                    valueAxis.integersOnly = true;
                    chart.addValueAxis(valueAxis);


                    // GRAPHS                                                           
                    var graph = new AmCharts.AmGraph();
                    graph.title = "Unique visitors";
                    graph.valueField = "visitors";
                    graph.lineAlpha = 1;
                    graph.lineColor = "#d18f2a";
                    chart.addGraph(graph);

                    var graph = new AmCharts.AmGraph();
                    graph.title = "Visits";
                    graph.valueField = "visits";
                    graph.lineAlpha = 1;
                    graph.lineColor = "#e4cf2e";
                    chart.addGraph(graph);

                    var graph = new AmCharts.AmGraph();
                    graph.title = "Page views";
                    graph.valueField = "pageviews";
                    graph.lineAlpha = 1;
                    graph.lineColor = "#d1682a";
                    chart.addGraph(graph);

                    // CURSOR
                    var chartCursor = new AmCharts.ChartCursor();
                    chartCursor.cursorPosition = "mouse";
                    chart.addChartCursor(chartCursor);

                    // LEGEND
                    var legend = new AmCharts.AmLegend();
                    legend.markerType = "circle";
                    chart.addLegend(legend);

                    // WRITE
                    chart.write("visitors3");


                    ///////////////////////////////

                    var chartData = <?php echo $countriesChartData; ?>;
                    // PIE CHART
                    chart = new AmCharts.AmPieChart();

                    // title of the chart
                    chart.addTitle("<?php echo $this->translate(_('Visitors countries')); ?>", 16);

                    chart.dataProvider = chartData;
                    chart.titleField = "country";
                    chart.valueField = "visits";
                    chart.sequencedAnimation = true;
                    chart.startEffect = "elastic";
                    chart.innerRadius = "30%";
                    chart.startDuration = 2;
                    chart.labelRadius = 15;

                    // the following two lines makes the chart 3D
                    chart.depth3D = 10;
                    chart.angle = 15;

                    // WRITE                                 
                    chart.write("country");


                    ///////////////////////////////

                    var chartData = <?php echo $citiesChartData; ?>;
                    // PIE CHART
                    chart = new AmCharts.AmPieChart();

                    // title of the chart
                    chart.addTitle("<?php echo $this->translate(_('Visitors cities')); ?>", 16);

                    chart.dataProvider = chartData;
                    chart.titleField = "city";
                    chart.valueField = "visits";
                    chart.sequencedAnimation = true;
                    chart.startEffect = "elastic";
                    chart.innerRadius = "30%";
                    chart.startDuration = 2;
                    chart.labelRadius = 15;

                    // the following two lines makes the chart 3D
                    chart.depth3D = 10;
                    chart.angle = 15;

                    // WRITE                                 
                    chart.write("city");


                });

            </script>


            <div id="visitors" style="width:100%; height:350px;"></div>


            <div id="visitors3" style="width:100%; height:350px;"></div>


            <div id="country" style="width:100%; height:350px;"></div>
         
            <div id="city" style="width:100%; height:350px;"></div>


        </div>
    </div>
</div>