<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Statistics settings')); ?></div>
    </h4>
    <div class="box-container ">
        <div>            
            <!-- start id-form -->
            <?php echo $this->settingsForm; ?>
            <!-- end id-form  -->

        </div>
        <div style="clear: both;"></div>
    </div>
</div>