<?php $site_settings = Zend_Registry::get('site_settings'); ?>

<div class="wrap pad_t">

          <div class="rounded">
            	<div class="cont_inf">
                	<div class="fll">
                    	<address>
                        	<p class="map"><?php echo $site_settings->getSetting('contact', 'city_ru'); ?></p>
                            <p class="addr"><?php echo $site_settings->getSetting('contact', 'address_ru'); ?></p>
                            <p class="tel"><?php echo $site_settings->getSetting('contact', 'phone_code'); ?><?php echo $site_settings->getSetting('contact', 'phone_number'); ?></p>
                            <p class="mail"><?php echo $site_settings->getSetting('default', 'public_email'); ?></p>
                        </address>
                    </div>
                    <div class="flr">
                    	<?php $settings = Zend_Registry::get('site_settings'); ?>
                        <div class="feedback">
                        	<h3><?php echo $this->translate(_('Feedback')); ?></h3>
                        	<?php echo '' != $this->message ? "<p class='messg'>" . $this->message . "</p>" : ''; ?>
                                
                                <?php echo $this->feedbackForm; ?>
                        
                    </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
 
 

</div>


