<?php
$actionButtons = array(
    array(
        'label' => $this->translate(_('delete')),
        'module' => 'default',
        'controller' => 'ipblocking',
        'action' => 'delete',
        'route' => 'admin',
        'resource' => 'default:ipblocking',
        'privilege' => 'delete',
        'class' => 'table-delete-link',
        'reset_params' => true
    )
);
?>
<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Ip Blocking')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php echo $this->ipForm; ?>
            <?php if (count($this->list)): ?>                
                <table class="table-long">
                    <thead>
                        <tr>
                            <th></th>
                            <th><?php echo $this->translate(_('Ip address')); ?></th>
                            <th><?php echo $this->translate(_('Note')); ?></th>
                            <th><?php echo $this->translate(_('Date')); ?></th>
                            <?php /*<th><?php echo $this->translate(_('Blocking count')); ?></th>*/?>
                            <th><?php echo $this->translate(_('Actions')); ?></th>
                        </tr>
                    </thead>

                    <tbody>                         
                        <?php foreach ($this->list as $item): ?>
                            <tr>
                                <td class="col-chk">&nbsp;</td>                            
                                <td class="col-first"><?php echo $this->Escape($item->ip); ?></td>
                                <td class="col-second"><?php echo $this->Escape($item->note); ?></td>
                                <td class="col-first"><?php echo $item->date; ?></td>
                                <?php /*<td class="col-first"><?php echo $item->block_count; ?></td>*/ ?>
                                <td class="row-nav">
                                    <?php $actionButtons[0]['params']['ip'] = $item->ip; ?>
                                    <?php echo $this->navigation()->menu(new Zend_Navigation($actionButtons)); ?>                                                                     
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>                
                </table>
                <?php if ($this->list instanceof Zend_Paginator): ?>
                    <?php if ($this->list->count() > 1): ?>
                        <?php echo $this->pagination($this->pagination_config)->create_links(); ?>
                    <?php endif; ?>
                <?php endif; ?> 
                <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/> */ ?>

            <?php endif; ?>
            
            
        </div>
    </div>
</div>