<div class="box">
    <h4 class="white">       
        <div><?php echo $this->translate(_('Add publication')); ?></div>
    </h4>
    <div class="box-container">
        <div>
            <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->publicationForm; ?>
                <!-- end id-form  -->

                <?php
                    $relation = array("rsettings_ident" => 'publication', 'select' => 'empty');

                    echo $this->getStorageBlock($relation);?>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    // show CategoryForGrupa
    
    jQuery("#publication_category_id-label,#publication_category_id-element").hide();
     
    jQuery("select[name=publication_group_id]").change(function() {     
        
       
        var val = jQuery("select[name=publication_group_id] option:selected").attr('value');
            
        //ajax
        jQuery.ajax({
            url:"/publication/management/get-categories-group-ajax/groupId/"+val ,
            type:"GET",
            dataType: "json" ,
            success: function (data) {
                if ('error' == data.status) {
                        
                     jQuery("#publication_category_id-label,#publication_category_id-element").hide();
                    
                } else if ('success'==data.status) {
                   
                  jQuery("select#publication_category_id > *").remove();
                  jQuery("#publication_category_id-label,#publication_category_id-element").show();
                    
                  jQuery.each(data.cetegories, function(key,value){
                        
                        jQuery("select#publication_category_id").append("<option label='"+value.name+"' value='"+value.label+"' >"+value.name+"</option>");
                 
                    });
                }//else if
                   
            }  
        });//end ajax

        jQuery.ajax({
            url:"/publication/management/get-group-image-status-ajax/groupId/"+val ,
            type:"GET",
            dataType: "json" ,
            success: function (data) {
                if ('0' == data.image_status) {
                    // image-label
                    // image-element
                  jQuery("#image-label").hide(200).fadeOut(500);
                  jQuery("#image-element").hide(200).fadeOut(500);
                }
                else{
                  jQuery("#image-label").show(200).fadeIn(900);
                  jQuery("#image-element").show(200).fadeIn(900);
                }
                   
            }  
        });//end ajax


    }).change();
  
</script>


<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }  
<?php endforeach; ?>
    
</style>
