<div class="rc">
    <div class="breadcrumbs">
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
                <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
            </a>
        </div>

        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <span itemprop="title"><?php echo $this->translate(_('My profile')); ?></span>       
        </div>
        <span class="clr"></span>
    </div>     
     <h1><?php echo $this->translate(_('My profile')); ?></h1>
    <div class="content_container">
       

        <?php if ('' == $this->user->email): ?>
            <p class="email_required"><?php echo $this->translate(_('You have not filled the field "e mail", please enter it')); ?> <a href="<?php
        echo $this->url(array(
            'module' => 'user',
            'controller' => 'index',
            'action' => 'settings',
            'lang' => $this->currentLang), 'default', true);
            ?>"><?php echo $this->translate(_('here')); ?></a></p>
            <?php endif; ?>

        <div class="profile_inf">
            <p><strong><?php echo $this->translate(_('Fullname')); ?></strong><strong><?php echo $this->Escape($this->user->getFullname()); ?> </strong></p>
            <p><strong><?php echo $this->translate(_('Email')); ?></strong><strong><?php echo $this->Escape($this->user->email); ?></strong></p>        
            <p><strong><?php echo $this->translate(_('Phone')); ?></strong><strong><?php echo $this->Escape($this->user->telephone); ?></strong></p>
            <p><strong><?php echo $this->translate(_('City')); ?></strong><strong><?php echo $this->Escape($this->user->city); ?></strong></p>            
            <p><strong><?php echo $this->translate(_('Address')); ?></strong><strong><?php echo $this->Escape($this->user->address); ?></strong></p>
            <p><strong><?php echo $this->translate(_('Discount')); ?></strong><strong><?php echo $this->userDiscount; ?>%</strong></p>
            <p><strong><?php echo $this->translate(_('Discount card')); ?></strong><strong><?php echo $this->Escape($this->user->ncard); ?></strong></p>
            <p><strong><?php echo $this->translate(_('Date of registered')); ?></strong><strong><?php echo date('d-m-Y H:i:s', strtotime($this->user->created_at)); ?></strong></p>

            <?php /*
              <p><strong><?php echo $this->translate(_('Last modified')); ?></strong><strong><?php echo date('d-m-Y H:i:s', strtotime($this->user->updated_at)); ?></strong></p>
              <p><strong><?php echo $this->translate(_('Date of birthday')); ?></strong><strong><?php echo date('d-m-Y H:i:s', strtotime($this->user->date_of_birthday)); ?></strong></p>

             */ ?>
            <div class="clear"></div>
            <p class="edit"><a href="<?php
            echo $this->url(array(
                'module' => 'user',
                'controller' => 'index',
                'action' => 'settings',
                'lang' => $this->currentLang), $this->route_name, true);
            ?>"><?php echo $this->translate(_('Edit my Personal data')); ?></p>
        </div>
    </div>
</div>
