<div class="rc">
    <div class="breadcrumbs">
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
                <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
            </a>
        </div>
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang, 'module' => 'user'), 'default', true); ?>">
                <span itemprop="title"><?php echo $this->translate(_('My profile')); ?></span>
            </a>
        </div>
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <span itemprop="title"><?php echo $this->translate(_('Edit Account')); ?></span>       
        </div>
        <span class="clr"></span>
    </div> 
     <h1><?php echo $this->translate(_('Edit Account')); ?></h1>
    <div class="content_container">
       
        <p><?php echo $this->translate(_('You can edit your account details below')); ?>:</p>
        <?php echo $this->userForm; ?>        
        <div class="clr"></div>
    </div>
</div>
