<ul id="menu_top">
    <?php
// loop root level (only has Home, but later may have an Admin root page?)
    foreach ($this->container as $page) : ?>
     <?php   // check if it is active (not recursive)
        $isActive = $page->isActive(false);
        $liClass = $isActive ? ' class="active"' : ''; ?>
        <?php if ($this->navigation()->accept($page)) : ?>
           <?php if ($page->_label !== null && $page->isVisible(true)) : ?>
                <li <?php echo $liClass ?> > <?php echo $this->menu()->htmlify($page) ?>
                
                <?php if (count($page) > 1) : ?>
                    <ul>
                    
                    <?php foreach ($page as $page) : ?>
                    <?php $isActive = $page->isActive(true);
                       $liClass = $isActive ? ' class="active"' : ''; ?>
                        <?php if ($page->_label !== null && $page->isVisible(true)) : ?>
                    <li <?php echo $liClass ?> > <?php echo $this->menu()->htmlify($page) ?></li><?php echo PHP_EOL; ?>
                    
                    <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
    
    
    
                <?php endif; ?>
                
                
                
                
                
                </li> <?php echo PHP_EOL; ?>
            
        <?php endif;  ?>
        <?php endif;  ?>
<?php         // loop next level
//        foreach ($page as $page) {
//            // check if it is active (recursive)
//            $isActive = $page->isActive(true);
//            $liClass = $isActive ? ' class="active"' : '';
//            if ($page->_label !== null && $page->isVisible(true)) {
//                echo '<li ' . $liClass . '>' . $this->menu()->htmlify($page) . '</li>', PHP_EOL;
//    }
//        } 
?>
    <?php endforeach; ?>
</ul>
