<ul >
    <?php
// loop root level (only has Home, but later may have an Admin root page?)
    foreach ($this->container as $page) {
        // check if it is active (not recursive)
        $isActive = $page->isActive(false);
        $liClass = $isActive ? ' class="active"' : '';
        if ($this->navigation()->accept($page)) {
            if ($page->_label !== null && $page->isVisible(true)) {
                echo '<li' . $liClass . '>' . $this->menu()->htmlify($page) . '</li>', PHP_EOL;
            }
        }
//        // loop next level
//        foreach ($page as $page) {
//            // check if it is active (recursive)
//            $isActive = $page->isActive(true);
//            $liClass = $isActive ? ' class="active"' : '';
//            if ($page->_label !== null && $page->isVisible(true)) {
//                echo '<li ' . $liClass . '>' . $this->menu()->htmlify($page) . '</li>', PHP_EOL;
//    }
//        }
    }
    ?>
</ul>
