<!DOCTYPE HTML>
<!--
/*
 * JavaScript Templates Test 2.2.0
 * https://github.com/blueimp/JavaScript-Templates
 *
 * Copyright 2011, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
-->
<html lang="en">
<head>
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta charset="utf-8">
<title>JavaScript Templates Test</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="http://blueimp.github.io/cdn/css/mocha.min.css">
</head>
<body>
<div id="mocha"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://blueimp.github.io/cdn/js/mocha.min.js"></script>
<script src="http://blueimp.github.io/cdn/js/expect.min.js"></script>
<script>
mocha.setup('bdd');
$(function () {
    mocha.run();
});
</script>
<script type="text/x-tmpl" id="template">{%=o.value%}</script>
<script src="../tmpl.js"></script>
<script src="test.js"></script>
</body> 
</html>
