<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Ajax File Upload'));?></div>
    </h4>
    <div class="box-container">
        <div>

        <?php 
        	$relation = array("rsettings_ident" => 'storage', 'select' => 'all');
        	echo $this->getStorageBlock($relation);
        ?>

        </div>
    </div>
</div>