<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Ajax File Upload'));?></div>
    </h4>


    <!-- Bootstrap CSS Toolkit styles -->
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">

<!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.min.css">
<!-- Bootstrap CSS fixes for IE6 -->
<!--[if lt IE 7]><link rel="stylesheet" href="/assets/bootstrapimagegallery/css/bootstrap-ie6.min.css"><![endif]-->
<!-- Bootstrap Image Gallery styles -->
<link rel="stylesheet" href="/assets/bootstrapimagegallery/css/bootstrap-image-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/assets/jqueryfileupload/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="/assets/jqueryfileupload/css/jquery.fileupload-ui-noscript.css"></noscript>




    <div class="box-container">
        <div>
        	<?php //print_r($this->images)?>
	<form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data" class="">


        	<?php foreach($this->images as $key => $val):?>

        		<table class="table table-striped">
        			<tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"><tr class="template-upload fade in">
        		<tr class="template-download fade in">
			        <td>
			            <span class="preview">
			                <?php if ($val->thumbnail): ?>
			                    <a href="<?php echo $val->path . "/" . $val->thumbnail?>" title="{%=file.name%}" data-gallery="gallery" download="<?php echo $val->full?>"><img src="<?php echo $val->path . "/" . $val->thumbnail?>"></a>
			                <?php endif; ?>
			            </span>
			        </td>
			        <td>
			            <p class="name">
			                <a href="<?php echo $val->full?>" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="<?php echo $val->full?>"><?php echo $val->title?></a>
			            </p>
			           <?php /* {% if (file.error) { %}
			                <div><span class="label label-important">Error</span> {%=file.error%}</div>
			            {% } %}*/ ?>
			        </td>
			        <?php /*<td>
			            <span class="size"><?php echo "kb";//$val->full?></span>
			        </td> */?>
			        <td>
			            <button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
			                <i class="icon-trash icon-white"></i>
			                <span><?php echo $this->translate(_('Delete'));?></span>
			            </button>
			            <input type="checkbox" name="delete" value="1" class="toggle">
			        </td>
			    </tr>
				</tbody>
			</table>

        	<?php endforeach?>

    </form>


        </div>
    </div>
</div>