<?php
$request = Zend_Controller_Front::getInstance()->getRequest();
$class = array();
$class['m'] = 'm-' . $request->getModuleName();
$class['c'] = 'c-' . $request->getControllerName();
$class['a'] = 'a-' . $request->getActionName();

$site_settings = Zend_Registry::get('site_settings');
$currentLang = Zend_Registry::get('Current_Lang');
//$currency = Zend_Registry::get('Currency');
//$currencies = $currency->getCurrencies();
//$user_id = $this->authInfo('user_id');
?>
<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <?php echo $this->render('partial/head.phtml') ?>
    <body class="<?php echo implode(' ', $class) . ' current_lang_' . $currentLang;  ?>">
        <div class="wrapper">
      
            <div id="window1" class="window" >
	    <div class="window_wrap">
	    	<a href="" class="close_btn"></a>
	        <div class="page">
            	<form action="" class="feedback feedback2">
                	<h3>Анкета для работадателей</h3>
                    <div class="line">
                    	<label for="">Название организации:</label>
                        <input type="text" value="">
                    	<div class="clr"></div>
                    </div>
                    <div class="line">
                    	<label for="">Место нахождения:</label>
				<select name="" id="">
                        	<option value=""></option>
                        	<option value="">Место нахождения 1</option>
                            <option value="">Место нахождения 2</option>
                        </select>
                    	<div class="clr"></div>
                    </div>
                    <div class="line">
                    	<label class="lb2" for="">Телефон:<span>(сотовый)</span></label>
                        <input type="tel" value="">
                    	<div class="clr"></div>
                    </div>
                    <div class="line">
                    	<label class="lb2" for="">Телефон 2:<span>(сотовый или городской)</span></label>
                        <input type="tel" value="">
                    	<div class="clr"></div>
                    </div>
                    <div class="line">
                    	<label class="lb2" for="">Контактное лицо: <span>(ФИО/Должность)</span></label>
                        <input type="text" value="">
                    	<div class="clr"></div>
                    </div>
                    <div class="line">
                    	<label for="">Электронный адрес:</label>
                        <input type="mail" value="">
                    	<div class="clr"></div>
                    </div>
                    <div class="line">
                    	<a href="" class="btn">Отправить</a>
                    	<div class="clr"></div>
                    </div>
                </form>
	        </div>
	    </div>
	</div>
            
            <header>
                
                            <?php echo $this->render('partial/header_page.phtml') ?>
                    <div class="gr_line">
                        <div class="map_wr">
                            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ua/maps?hl=uk&amp;ie=UTF8&amp;ll=41.033787,29.116516&amp;spn=0.508629,0.837021&amp;t=m&amp;z=11&amp;output=embed"></iframe>
                        </div>
                    </div>        

                    <div class="wh_line">
                            <div class="wrap">
                            <article class="page_inf">
                                    <h3 class="ta_c">контакты</h3>
                            </article>
                        </div>
                    </div>
                
            </header><!-- end header -->

            <div class="content">
                
                    <?php echo $this->layout()->content ?>
                
            </div>

            <?php echo $this->render('partial/footer.phtml') ?>

            <?php echo $site_settings->getSetting('default', 'tracking_code'); ?>
        </div>
    </body>
</html>





