<?php
$request = Zend_Controller_Front::getInstance()->getRequest();
$class = array();
$class['m'] = 'm-' . $request->getModuleName();
$class['c'] = 'c-' . $request->getControllerName();
$class['a'] = 'a-' . $request->getActionName();

$site_settings = Zend_Registry::get('site_settings');
$currentLang = Zend_Registry::get('Current_Lang');
//$currency = Zend_Registry::get('Currency');
//$currencies = $currency->getCurrencies();
//$user_id = $this->authInfo('user_id');
?>
<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <?php echo $this->render('partial/head.phtml') ?>
    <body class="<?php echo implode(' ', $class) . ' current_lang_' . $currentLang;  ?>">
        <div class="wrapper">
      
            <header>
                
                            <?php echo $this->render('partial/header_page.phtml') ?>
                
                
                
                
                <div class="gr_line">
        	<div class="wrap">
            	<section class="service_list3">
                	<article class="fll item item1">
                    	<h3>Опыт работы в западных и<br>российских организациях<br>разного профиля деятельности</h3>
                    </article>
                	<article class="flr item item2">
                    	<h3>Высоки уровень и гибкая<br>система оплаты</h3>
                    </article>
                	<article class="fll item item3">
                    	<h3>Оформления по трудовому или<br>гражданско-правовому договору</h3>
                    </article>
                	<article class="flr item item4">
                    	<h3>Временная занятость при<br>невозможности постоянного<br>трудового графика</h3>
                    </article>
                    <div class="clr"></div>
                </section>
            </div>
        </div>        
        
        <div class="wh_line">
        	<div class="wrap">
            	<article class="page_inf">
                	<h3 class="ta_c">соискателям</h3>
                </article>
            </div>
        </div>
                
                
            </header><!-- end header -->

            <div class="content">
                
                    
                    <?php echo $this->layout()->content ?>
            
            </div>

            <?php echo $this->render('partial/footer.phtml') ?>

            <?php echo $site_settings->getSetting('default', 'tracking_code'); ?>
        </div>
    </body>
</html>





