<?php
$request = Zend_Controller_Front::getInstance()->getRequest();
$class = array();
$class['m'] = 'm-' . $request->getModuleName();
$class['c'] = 'c-' . $request->getControllerName();
$class['a'] = 'a-' . $request->getActionName();

$site_settings = Zend_Registry::get('site_settings');
$currentLang = Zend_Registry::get('Current_Lang');
//$currency = Zend_Registry::get('Currency');
//$currencies = $currency->getCurrencies();
//$user_id = $this->authInfo('user_id');
?>
<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <?php echo $this->render('partial/head.phtml') ?>
    <body class="<?php echo implode(' ', $class) . ' current_lang_' . $currentLang;  ?>">
        <div class="wrapper">
      
            <header>
                
                            <?php echo $this->render('partial/header_page.phtml') ?>
                
                
                
                
                <div class="gr_line">
        	<div class="wrap">
            	<section class="service_list2">
                	
                    
                    <?php $page = $this->getPublicationByIdent('rabotodatelyam') ?>
                <?php if (0 < count($page)): ?>

                    <?php $class_counter = 1; ?>
                    <?php $class_array = array('1' => "fll", '2' => "flr", '3' => "fll", '4' => "flr") ; ?>
                    
                    	<?php foreach ($page as $key => $publication): ?>
                    <article class="<?php echo $class_array[$class_counter];?> item item<?php echo $class_counter;  ?>">
                   <h3><?php echo $publication->title; ?></h3>
                   <p><?php echo $this->truncate(strip_tags($publication->body), 250, ' '); ?></p>
                    </article>
                    <?php $class_counter++; ?>
                     <?php endforeach; ?>
                    
            	 <?php endif; ?>
                    
                    
                    
                    <div class="clr"></div>
                </section>
            </div>
        </div>        
        
        <div class="wh_line">
        	<div class="wrap">
            	<article class="page_inf">
                	<h3 class="ta_c">работодателям</h3>
                </article>
            </div>
        </div>
                
                
            </header><!-- end header -->

            <div class="content">
                
                    
                    <?php echo $this->layout()->content ?>
            
            </div>

            <?php echo $this->render('partial/footer.phtml') ?>

            <?php echo $site_settings->getSetting('default', 'tracking_code'); ?>
        </div>
    </body>
</html>





