<div class="box">
    <h4 class="white ">
        
        <div><?php echo $this->translate(_('Edit settings resize')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php echo $this->imageResizeSettingForm;?>
        </div>
    </div>
</div>
