<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Settings')); ?></div>
    </h4>
    <div class="box-container ">
        <div>

            <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->settingsForm; ?>
                <!-- end id-form  -->
            </div>

        </div>
    </div>

</div>

<script>
$(document).ready(function($) {

    //form_ru-element
    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
    if( $('#form_<?php echo $lang->code; ?>-element').length == 0 ) $("#tabs ul").remove();
    <?php endforeach; ?>


});
</script>

<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }  
<?php endforeach; ?>
</style>

<div id="dialog"></div>

<script>
    $(document).ready(function () {

        $("#dialog").dialog({
            autoOpen: false,
            position: 'center' ,
            title: '<?php echo $this->translate(_('Media Files')) ?>',
            draggable: true,
            width : 800,
            height : 480, 
            resizable : true,
            modal : true
        });

        $('a[href="#mediafiles"]').click( function() {
            $("#dialog").load('/system/js/elfinder/elfinder.html', function() {
                $("#dialog").dialog("open");
            });
        })



        $('#modules_select').change(function() {
            window.location.href = "<?php echo $this->url(array('controller' => 'settings'), 'admin', true); ?>/index/setting_module/" + $(this).val();

        });
    });
</script>