
<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Resize settings')); ?></div>
    </h4>
    <div class="box-container ">
        <div>

            <form  method="post" action="" enctype="application/x-www-form-urlencoded">
                <table class="table-long">
                    <thead>
                        <tr>
                            <th></th>      
                            <th><?php echo $this->translate(_('Name')); ?></th>                           
                            <th><?php echo $this->translate(_('Code')); ?></th>        
                            <th><?php echo $this->translate('Thumbnail (W/H)'); ?></th>
                            <th><?php echo $this->translate('Preview (W/H)'); ?></th>
                            <th><?php echo $this->translate('Detailed (W/H)'); ?></th>
                            <th><?php echo $this->translate('Full (W/H)'); ?></th>                            
                            <th><?php echo $this->translate(_('Strategy')); ?></th>    
                            <th><?php echo $this->translate(_('Actions')); ?></th>
                        </tr>
                    </thead>

                    <tbody>                    
                        <?php if (count($this->imageResizeSettings)): ?>
                            <?php foreach ($this->imageResizeSettings as $imageResizeSetting): ?>
                                <tr>
                                    <td class="col-chk">&nbsp;</td>
                                    <td class="col-first"><?php echo $this->Escape($imageResizeSetting->name); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($imageResizeSetting->ident); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($imageResizeSetting->width_thumbnail . ' / '. $imageResizeSetting->height_thumbnail); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($imageResizeSetting->width_preview . ' / '. $imageResizeSetting->height_preview); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($imageResizeSetting->width_detail . ' / '. $imageResizeSetting->height_detail); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($imageResizeSetting->width_full . ' / '. $imageResizeSetting->height_full); ?></td>
                                   <td class="col-second"><?php echo $this->Escape($imageResizeSetting->strategy_name); ?></td>
                                    <td class="col-second">
                                        <a class="table-edit-link" href="<?php
                        echo $this->url(array(
                            'controller' => 'settings',
                            'action' => 'edit-image-resize-setting',
                            'id' => $imageResizeSetting->setting_image_resize_id), 'admin', true)
                                ?>"><?php echo $this->translate('edit'); ?></a>
<!--
                                        <span class="hidden"> | </span>

                                        <a class="table-delete-link"  href="<?php
                                   echo $this->url(array(
                                       'controller' => 'settings',
                                       'action' => 'delete-image-resize-setting',
                                       'id' => $imageResizeSetting->setting_image_resize_id), 'admin', true)
                                ?>"><?php echo $this->translate(_('Remove'));?></a> 
-->
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php endif; ?>                        
                    </tbody>                
                </table>      
                <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/>*/?>
            </form>
        </div>
    </div>
</div>
