    <div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Your Account')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <p><?php echo $this->translate(_('You can edit your account details below')); ?>:</p>
            <?php echo $this->userForm; ?>
        </div>
    </div>
</div>
