<?php $roles = array('Root' => 0, 'Admin' => 1, 'Manager' => 2, 'Redactor' => 3, 'Member' => 4); ?>
<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Users')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <table class="table-long">
                <thead>
                    <tr class="head_search">
                <form method="GET" id="search" action=""  enctype="application/x-www-form-urlencoded">
                    <th></th>
                    <th><input type="text" placeholder="<?php echo $this->translate(_('Name')); ?>"class="search" value="<?php echo $this->filter_name; ?>" name ="filter_name" id="filter_name"/></th>    
                    <th><input type="text" placeholder="<?php echo $this->translate(_('Email')); ?>" class="search" value="<?php echo $this->filter_email; ?>" name ="filter_email" id="filter_email"/></th>
                    <th>
                        <select name="filter_status">
                            <option value="any" <?php echo ($this->filter_status === 'any') ? "selected" : ""; ?>><?php echo $this->translate(_('Любой')) ?></option>
                            <option value="1" <?php echo ($this->filter_status === 1) ? "selected" : ""; ?>><?php echo $this->translate(_('Active')); ?></option>
                            <option value="0" <?php echo ($this->filter_status === 0) ? "selected" : ""; ?>><?php echo $this->translate(_('Not active')); ?></option>
                        </select>
                    </th>
                    <th><input type="text" class="search" value="<?php echo $this->filter_city; ?>" placeholder="<?php echo $this->translate(_('City')); ?>" name ="filter_city" id="filter_city"/></th>
                    <th></th>
                    <th><input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Search')); ?>" name="submit"/></th>
                </form> 
                </tr>
                <tr>
                    <th></th>
                    <th><?php echo $this->translate(_('Name')); ?></th>
                    <th><?php echo $this->translate(_('Email')); ?></th>
                    <th><?php echo $this->translate(_('Role')); ?> <b>(<?php echo $this->translate(_('Status')); ?>)</b></th>                        
                    <th><?php echo $this->translate(_('Date of registered')); ?></th>
                    <?php /* <th><?php echo $this->translate(_('Register IP')); ?></th> */ ?>
                    <th><?php echo $this->translate(_('Время последнего визита')); ?></th>
                    <th><?php echo $this->translate(_('Actions')); ?></th>
                </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->users as $user): ?>                          
                        <?php if ($roles[$this->AuthInfo('role')] <= $roles[$user->role]): ?>

                            <?php
                            $user_color = '#ffffff';
                            if (!$user->status) {
                                $user_color = '#FCCACA';
                            } elseif (60 > time() - $user->modified) {
                                $user_color = '#93f5a0';
                            } else {
                                $user_color = $user->group_color;
                            }
                            ?>                        
                            <tr <?php echo 'style="background-color: ' . $user_color . ';"'; ?>>
                                <td class="col-chk">&nbsp;</td>
                                <td class="col-first"><?php echo $this->Escape($user->fullname); ?></td>
                                <td class="col-second"><?php echo $this->Escape($user->email); ?></td>
                                <td class="col-second"><?php echo $this->translate($user->role); ?> <b>(<?php echo $user->status ? $this->translate(_('Active')) : $this->translate(_('Inactive')); ?>)</b></td>                                <td class="col-second"><?php echo $this->Escape($user->created_at); ?></td>
                                <?php /* <td class="col-second"><?php  echo $this->Escape($user->register_ip); ?></td> */ ?>
                                <td class="col-second"><?php echo is_null($user->modified) ? '-' : date('Y-m-d H:i:s', $user->modified); ?></td>

                                <td class="row-nav">
                                    <a class="table-edit-link" href="<?php
                                    echo $this->url(array(
                                        'module' => 'user',
                                        'controller' => 'management',
                                        'action' => 'view',
                                        'user_id' => $user->user_id), 'admin', true);
                                    ?>"><?php echo $this->translate(_('view')); ?></a>
                                    <span class="hidden"> | </span>
                                    <a class="table-edit-link" href="<?php
                                    echo $this->url(array(
                                        'module' => 'user',
                                        'controller' => 'management',
                                        'action' => 'edit',
                                        'id' => $user->user_id), 'admin', true);
                                    ?>"><?php echo $this->translate(_('edit')); ?></a>
                                       <?php if (1 != $user->user_id AND $this->AuthInfo('user_id') != $user->user_id) : ?>
                                        <span class="hidden"> | </span>
                                        <a class="table-delete-link"  href="<?php
                                           echo $this->url(array(
                                               'module' => 'user',
                                               'controller' => 'management',
                                               'action' => 'delete',
                                               'id' => $user->user_id), 'admin', true);
                                           ?>"><?php echo $this->translate(_('delete')); ?></a></td>
                                    <?php endif; ?>
                            </tr>
                        <?php endif; ?> 
                    <?php endforeach; ?>
                </tbody>
            </table>          
            <?php if ($this->users instanceof Zend_Paginator): ?>
                <?php echo $this->pagination($this->pagination_config)->create_links(); ?>
            <?php endif; ?> 
        </div>
    </div>
</div>