<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Информация о покупателе')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <a class="table-edit-link" href="<?php
            echo $this->url(array(
                'module' => 'user',
                'controller' => 'management',
                'action' => 'edit',
                'user_id' => $this->user->user_id), 'admin', true)
            ?>">Редактировать пользователя</a>               

            <div class="profile_info">
                <div><span><?php echo $this->translate(_('Fullname')); ?></span><span><?php echo $this->Escape($this->user->getFullname()); ?> </span></div>
                <div><span><?php echo $this->translate(_('Email')); ?></span><span><?php echo $this->Escape($this->user->email); ?></span></div>        
                <div><span><?php echo $this->translate(_('Phone')); ?></span><span><?php echo $this->Escape($this->user->telephone); ?></span></div>
                <div><span><?php echo $this->translate(_('City')); ?></span><span><?php echo $this->Escape($this->user->city); ?></span></div>            
                <div><span><?php echo $this->translate(_('Address')); ?></span><span><?php echo $this->Escape($this->user->address); ?></span></div>

                <div><span><?php echo $this->translate(_('Date of registered')); ?></span><span><?php echo date('d-m-Y H:i:s', strtotime($this->user->created_at)); ?></span></div>

                <div><span><?php echo $this->translate(_('Время последнего визита')); ?></span><span><?php echo is_null($this->user_modified) ? '-' : date('d-m-Y H:i:s', $this->user_modified); ?></span></div>
                <div><span><?php echo $this->translate(_('Дисконтная карта')); ?></span><span><?php echo $this->user->ncard ?></span></div>

                <div></div>

                <div><span><?php echo $this->translate(_('Общая сумма покупок')); ?></span> 
                    <span><?php echo Zend_Registry::get('Currency')->format($this->total_amount, '', '', true); ?></span></div>
                <div><span><?php echo $this->translate(_('Текущая скидка')); ?></span><span><?php echo $this->userDiscount; ?>%</span></div>





                <div id="accordion" class="user_orders">
                    <?php if (0 != count($this->orders)): ?>
                        <?php foreach ($this->orders as $order) : ?>
                            <h3><div class="order_item">
                                    <span class="order_title">
                                            Заказ №<?php echo $order->order_id; ?> от <?php echo date('d-m-Y', strtotime($order->date_added)); ?>
                                        </span>
                                    <span class="order_products"><?php echo $order->item_count; ?> <?php echo $this->translate(array('product', 'products', $order->item_count)); ?> на <?php echo Zend_Registry::get('Currency')->format($order->total, $order->currency, '', true); ?>.</span>
                                    <span class="order_status"><?php echo $this->translate(_('Status')); ?>: <?php echo $this->translate($order->getFormatedStatus()); ?></span>                       
                                </div></h3>
                            <div>

                                <div class="profile_info">                       
                                    <a class="table-edit-link" href="<?php
                        echo $this->url(array(
                            'module' => 'shop',
                            'controller' => 'order',
                            'action' => 'process',
                            'orderId' => $order->order_id), 'admin', true)
                            ?>"><?php echo $this->translate(_('Обработать')); ?></a>
                                    <div><?php echo $this->translate(_('First name')); ?>:  <?php echo $order->firstname . ' ' . $order->lastname; ?></div>
                                    <div><?php echo $this->translate(_('Email')); ?>:   <?php echo $order->email; ?></div>
                                    <div><?php echo $this->translate(_('City')); ?>:    <?php echo $order->city; ?></div>
                                    <div><?php echo $this->translate(_('Delivery Address')); ?>:    <?php echo $order->address; ?></div>
                                    <div><?php echo $this->translate(_('Phone')); ?>:          <?php echo $order->telephone; ?>, <?php echo $order->mobilephone; ?></div>
                                    <div>
                                        <?php echo $this->translate(_('Status')); ?>:   <?php echo $this->translate($order->getFormatedStatus()); ?>
                                    </div>
                                    <div>
                                        <?php echo $this->translate(_('Способ доставки')); ?>:  <?php echo $this->translate($order->getShippingMethod()->name); ?>
                                    </div>
                                    <div>
                                        <?php echo $this->translate(_('Способ оплаты')); ?>:    <?php echo $this->translate($order->getPaymentMethod()->name); ?>
                                    </div>
                                    <div><?php echo $this->translate(_('Currency of payment')); ?>:     <?php echo Zend_Registry::get('Currency')->getSymbolLeft($order->currency); ?><?php echo Zend_Registry::get('Currency')->getSymbolRight($order->currency); ?></div>
                                    <div><?php echo $this->translate(_('Additional information or comments')); ?>:  <?php echo $order->comment; ?></div>

                                </div>  


                                <div class="order_detail_products">
                                    <h3><?php echo $this->translate(_('Структура заказа')); ?></h3>
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <thead>
                                            <tr>
                                                <th><?php echo $this->translate(_('Product Name')); ?></th>
                                                <th><?php echo $this->translate(_('Count')); ?></th>
                                                <th><?php echo $this->translate(_('Price')); ?></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php
                                            $i = 0;
                                            foreach ($order->getProducts() as $item):
                                                ?>
                                                <tr <?php echo ($i % 2) ? 'class="odd"' : ''; ?>>                  
                                                    <td>
                                                        <?php if ('' != $item->article) : ?>
                                                            <p class="article"><?php echo $this->translate(_('Article')) ?>: <?php echo $item->article; ?></p>
                                                        <?php endif; ?>        
                                                        <a target="_blank" href="<?php
                                                        echo $this->url(array(
                                                            'lang' => Zend_Registry::get('Current_Lang'),
                                                            'module' => 'shop',
                                                            'controller' => 'product',
                                                            'action' => 'view',
                                                            'product_id' => $item->product_id), 'default', true)
                                                        ?>"><?php echo $this->Escape($item->name); ?></a>
                                                           <?php if (!empty($item->options)): ?>
                                                            <ul class="cart_product_options">
                                                                <?php foreach (unserialize($item->options) as $option): ?>
                                                                    <li><?php echo $option['option_name'] ?>: <?php echo $option['value'] ?></li>
                                                                <?php endforeach; ?>
                                                            </ul>
                                                        <?php endif; ?>
                                                    </td>
                                                    <td><?php echo $item->qty; ?></td>
                                                    <td class="rt">
                                                        <span class="cart_price">                                    
                                                            <?php echo Zend_Registry::get('Currency')->format($item->total, $order->currency, '', true) ?>
                                                        </span>                                       
                                                    </td>
                                                </tr>
                                                <?php
                                                ++$i;
                                            endforeach;
                                            ?>
                                            <?php /*
                                              <tr>
                                              <td colspan="2" class="rt">SubTotal:</td>
                                              <td class="rt colRight"><?php echo $this->Cart()->formatAmount($this->cart->getSubTotal()); ?></td>
                                              </tr>
                                              <tr>
                                              <td colspan="2" class="rt">Доставка:</td>
                                              <td class="rt colRight"><?php echo $this->Cart()->formatAmount($this->cart->getShippingCost()); ?></td>
                                              </tr>
                                             * 
                                             */ ?>
                                            <?php if (0 < $order->discount): ?>
                                                <tr>
                                                    <td colspan="2" class="rt"><?php echo $this->translate(_('Сумма')); ?>:</td>

                                                    <td class="rt">
                                                        <span class="cart_sub_total">
                                                            <?php echo Zend_Registry::get('Currency')->format($order->sub_total, $order->currency, '', true); ?>
                                                        </span>                                                                          
                                                    </td>                           
                                                </tr>
                                                <tr>                         
                                                    <td colspan="2" class="rt"><?php echo $this->translate(_('Скидка')); ?>:</td>

                                                    <td class="rt">                                 
                                                        <span class="cart_discount">
                                                            <?php echo $order->discount; ?> %
                                                        </span>                                      
                                                    </td>
                                                </tr>
                                            <?php endif; ?>
                                            <tr>                           
                                                <td colspan="2" class="rt"><?php echo $this->translate(_('Total')); ?>:</td>                           
                                                <td class="rt">
                                                    <span class="cart_price">
                                                        <b><?php echo Zend_Registry::get('Currency')->format($order->total, $order->currency, '', true); ?></b>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div> 





                            </div> <!-- Conteiner description acsrdione -->
                        <?php endforeach; ?>
                    <?php else: ?>
                        <p><?php echo $this->translate(_('No orders')); ?></p>
                    <?php endif; ?>
                </div>




                <div class="clear"></div>

            </div>

        </div>
    </div>
</div>
<script>
    $(function() {
        $("#accordion").accordion({active: true});
    });
</script>
<style>
    .user_orders h3 .ui-icon {background-image: none;}
    .order_detail_products th { background-color: #DDDDDD; }
    .profile_info div {
        border-bottom: 1px dotted #DDDDDD;
        margin: 5px 0;
        padding: 5px 0;}
    .rt {text-align: right;}
    .profile_info div > span {width: 200px;display: inline-block;}
</style>