<div class="line">
    <div class="input">
        <div><?php echo $this->element->email; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->email->getMessages())): ?>
        <?php echo $this->formErrors($this->element->email->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <div class="input">
        <div><?php echo $this->element->firstname; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->firstname->getMessages())): ?>
        <?php echo $this->formErrors($this->element->firstname->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <div class="input">
        <div><?php echo $this->element->lastname; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->lastname->getMessages())): ?>
        <?php echo $this->formErrors($this->element->lastname->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <div class="input">
        <div><?php echo $this->element->passwd; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->passwd->getMessages())): ?>
        <?php echo $this->formErrors($this->element->passwd->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <div class="input">
        <div><?php echo $this->element->passwdVerify; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->passwdVerify->getMessages())): ?>
        <?php echo $this->formErrors($this->element->passwdVerify->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <div class="input">
        <div><?php echo $this->element->city; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->city->getMessages())): ?>
        <?php echo $this->formErrors($this->element->city->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <?php echo $this->element->address; ?>
    <div class="clear"></div>
    <?php if (0 < count($this->element->address->getMessages())): ?>
        <?php echo $this->formErrors($this->element->address->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <div class="input">
        <div><?php echo $this->element->telephone; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->telephone->getMessages())): ?>
        <?php echo $this->formErrors($this->element->telephone->getMessages()); ?>
    <?php endif; ?>
</div>

<div class="line">
    <span class="btn2"><span><?php echo $this->element->submit; ?></span></span>
    <div class="clear"></div>
</div>

<?php echo $this->element->user_id; ?>