<div class="line">
    <div class="input">
        <div><?php echo $this->element->email; ?></div>
    </div>
    <div class="clear"></div>
     <?php if (0 < count($this->element->email->getMessages())): ?>
        <?php echo $this->formErrors($this->element->email->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <div class="input">
        <div><?php echo $this->element->passwd; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->passwd->getMessages())): ?>
        <?php echo $this->formErrors($this->element->passwd->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <span class="btn2"><span><?php echo $this->element->submit; ?></span></span>
    <div class="clear"></div>
</div>