<div class="success_text"></div>
<div class="error_text"></div>
<div class="line element-firstname">
    <div class="input">
        <div><?php echo $this->element->firstname; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->firstname->getMessages())): ?>
        <?php echo $this->formErrors($this->element->firstname->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-lastname">
    <div class="input">
        <div><?php echo $this->element->lastname; ?></div>
    </div>
    <div class="clear"></div>
     <?php if (0 < count($this->element->lastname->getMessages())): ?>
        <?php echo $this->formErrors($this->element->lastname->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-email">
    <div class="input">
        <div><?php echo $this->element->email; ?></div>
    </div>
    <div class="clear"></div>
     <?php if (0 < count($this->element->email->getMessages())): ?>
        <?php echo $this->formErrors($this->element->email->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-passwd">
    <div class="input">
        <div><?php echo $this->element->passwd; ?></div>
    </div>
    <div class="clear"></div>
   <?php if (0 < count($this->element->passwd->getMessages())): ?>
        <?php echo $this->formErrors($this->element->passwd->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-passwdVerify">
    <div class="input">
        <div><?php echo $this->element->passwdVerify; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->passwdVerify->getMessages())): ?>
        <?php echo $this->formErrors($this->element->passwdVerify->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="check_box element-agreement">
        <span class="niceCheck" unselectable="on">
             <?php echo $this->element->agreement; ?>
        </span>
    <span class="t_ch"><?php echo $this->translate(_('I accept the terms of the <a class="%s" target="_blank" href="%s">agreement</a>'), "agreement_link", "/ru/catalog/order/agreement?is_reg=1"); ?></span>
    <div class="clear"></div>
    <?php if (0 < count($this->element->agreement->getMessages())): ?>
        <?php echo $this->formErrors($this->element->agreement->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-submit">
    <span class="btn2"><span><?php echo $this->element->submit; ?></span></span>
    <div class="clear"></div>
</div>
