<div class="check_box element-subscription">
    <span class="niceCheck" unselectable="on">
        <?php echo $this->element->subscription;?>
    </span>
    <span class="t_ch"><?php echo $this->translate(_('Subscribe to news')); ?></span>
    <div class="clear"></div>
    <?php if (0 < count($this->element->subscription->getMessages())): ?>
        <?php echo $this->formErrors($this->element->subscription->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line">
    <span class="btn2"><span><?php echo $this->element->submit; ?></span></span>
    <div class="clear"></div>
</div>
