body {
    background: url("/layout/admin/bg_header.jpg") no-repeat center 0 ;
    font: 9pt Helvetica,Arial,Tahoma,sans-serif;
	height: 100%;
}
html {
    height: 100%;
	background:url("/layout/admin/bg_content.jpg") repeat 0 0;
}
span.clearFix {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}
.hidden {
    display: none;
}
div.inner-nav {
    clear: both;
    margin: 10px 0;
}
div.inner-nav a, a.button {
    background: url("/layout/admin/bg-buttons-left.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 9pt;
    font-weight: bold;
    height: 21px;
    padding: 0 0 0 15px;
    text-decoration: none;
}
div.inner-nav a:hover, a.button:hover {
    color: #333333;
}
div.inner-nav a span, a.button span {
    background: url("/layout/admin/bg-buttons-right.gif") no-repeat scroll right center transparent;
    display: block;
    line-height: 21px;
    padding: 0 15px 0 0;
}

#lvl2 {padding-left: 20px !important;}
#lvl3 {padding-left: 30px !important;}
#lvl4 {padding-left: 40px !important;}
#lvl5 {padding-left: 50px !important;}

a.button {
    margin: 0 10px;
}
.align-left {
    float: left;
}
.align-right {
    float: right;
}
.yellow {
    color: #E8E4A2;
}
.light-blue {
    color: #A6B7C0;
}
.blue {
    color: #508DB8 !important;
}
.light-grey {
    color: #D7D7D7;
}
.white {
    color: #FFFFFF;
}
div#container {
    height: auto !important;
    margin: 0 auto -113px;
    min-height: 100%;
    position: relative;
    width: 1024px;
}
.push {
    height: 133px;
}
div#header {
    padding-top: 5px;
}
div#header h1 {
    float: left;
    font-size: 250%;
    font-weight: bold;
    height: 39px;
    padding-top: 10px;
    letter-spacing: -1px;

    width: 450px;
}
div#header h1 a {
    color: #FFFFFF;
    text-decoration: none;
}
div#header h1 a:hover {
    color: #CCCCCC;
}
p#userbox {
   /* background: url("/layout/admin/icon-greet-user.png") no-repeat scroll 0 5px transparent;*/
    color: #EEEEEE;
    float: right;
    margin: 0;
    padding: 5px 0 0 18px;
    text-align: right;

}
p#userbox strong {
    color: #EEEEEE;
}
    
p#userbox span {    
    display: block;
    margin-top: 5px;
}
p#userbox span a {
    color: #EEEEEE;
    font-weight: bold;
    text-decoration: none;
}
p#userbox a:hover {
    color: #FFFFFF;
}
p#userbox small {
    color: #EEEEEE;
    display: block;
    font-size: 0.9em;
    margin-top: 5px;
}

p#userbox small span{
     display: inline;
     margin: 0;
}

div#top {
    margin-bottom: 14px;
    height: 60px;
}
ul.menu {
    float: left;
    width: 1024px;
    display: block;
}
ul.menu li {
    float: left;
    height: 37px;
    position: relative;
    
}

ul.menu li a {
    
    color: #E0E0E0;
    display: inline-block;
    font-weight: bold;
    height: 24px;
    padding: 12px 8px 1px;
    position: relative;
    text-align: center;
    text-decoration: none;    
    border-right: 1px solid #475862;
}

ul.menu li a.last {
    border-right:none;
}
ul.menu li a:hover, ul.menu li.active a {
    background: url("/layout/admin/bg-topnav-mask.png") no-repeat scroll right top transparent;
    color: #f2f1f1;
}
ul.menu li a.top-level {
    padding-right: 25px;
    position: relative;
}
ul.menu li a.top-level span {
    background: url("/layout/admin/bg-toplevel.gif") no-repeat scroll 0 2px transparent;
    display: block;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 13px;
    width: 11px;
}
ul.menu li a.top-level:hover span, .blue span {
    background-image: url("/layout/admin/bg-toplevel-hover.png") !important;
}
ul.menu li ul {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC -moz-use-text-color;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid none;
    border-width: medium 1px 2px medium;
    display: none;
    left: 0;
    min-width: 200px !important;
    padding-bottom: 10px;
    padding-top: 5px;
    position: absolute;
    top: 40px;
    visibility: hidden;
    z-index: 999;
}
ul.menu li ul li {
    border-bottom: 1px dotted #D6D8D9;
    float: none;
    height: auto;
}
ul.menu li ul li:hover {
    background: url("/layout/admin/bg-submenu-hover.gif") no-repeat scroll 0 0 transparent;
}
ul.menu li ul li a {
    background: url("/layout/admin/link-arrow-regular.gif") no-repeat scroll 10px 10px transparent !important;
    color: #5C6467;
    display: block !important;
    font-weight: normal;
    height: auto;
    padding: 6px 3px 6px 20px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
}
ul.menu li ul li a:hover {
    background-image: url("/layout/admin/submenuhover.gif") !important;
    color: #FFFFFF;
}
ul.menu li.selected a {
    background: none repeat scroll 0 0 #6C7275;
    color: #FFFFFF;
}
div#header form {
    float: right;
    margin-top: 9px;
    width: 246px;
}
div#header form fieldset legend {
    display: none;
}
div#header form fieldset label#searchbox {
    background: url("/layout/admin/bg-search.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 21px;
    width: 246px;
}
div#header form fieldset label#searchbox input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #666666;
    font-size: 0.9em;
    outline: medium none;
    padding: 4px 0 0 23px;
}
div#response-messages {}
div#response-messages .response-msg {
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 5px;
    text-align: center;
}
div#response-messages .error {
    background: none no-repeat scroll 0 0 #F9E5E6;
    border: 1px solid #E8AAAD;
    color: #B50007;
}

div#response-messages .success {
    background: none no-repeat scroll 0 0 #E9F9E5;
    border: 1px solid #B4E8AA;
    color: #1C8400;
}

div#content {
    padding-top: 10px;
}
div#content-top {
    border-bottom: 1px solid #BCBCB7;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
div#content-top h2 {
    color: #373D40;
    float: left;
    font-size: 200%;
    font-weight: bold;
    margin-left: 12px;
}
div#content-top a#topLink {
    background: url("/layout/admin/icon-blue-arrow.gif") no-repeat scroll 0 0 transparent;
    color: #508DB8;
    display: inline-block;
    float: right;
    font-weight: bold;
    height: 16px;
    margin-right: 12px;
    margin-top: 10px;
    padding-left: 23px;
    text-decoration: none;
}
div#content-top a#topLink:hover {
    color: #333333;
}
div.box {
    margin-bottom: 15px;
    width: 100%;
}
div.full-col div.box-container { min-height: 250px;}
div.box-container {
    background-color: #FFFFFF;
    padding: 10px;
}
div.box-container h5 {
    border-bottom: 1px solid #D7D9D9;
    color: #333333;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-top: 1px;
}
div.box-container h5 span {
    font-size: 1.2em;
    font-weight: normal;
}
div.box h4 {
    background:url("/layout/admin/bg_header.jpg") no-repeat center bottom; color: white;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}
div#left-col, div#mid-col {
    float: left;
    margin-right: 12px;
}
div#mid-col {
    width: 510px;
}
div#right-col {
    float: right;
    margin-right: 0;
}
div#left-col, div#right-col {
    width: 250px;
}
div.full-col {
    margin-right: 0 !important;
    width: 760px !important;
}
ul.list-links, div#to-do-list ul {
    margin-left: -10px;
    margin-top: -5px;
    width: 250px;
}
ul.list-links li {
    border-bottom: 1px dotted #D6D8D9;
}
ul.list-links li:last-child {
    border-bottom: none;
}

ul.list-links li a {
    background:url("/layout/admin/link-arrow-regular.gif") no-repeat scroll 10px 10px #Fff;
    color: #5C6467;
    display: block;
    padding: 8px 3px 6px 20px;
    text-decoration: none;
}
ul.list-links li a:hover, ul.list-links li.selected a:hover {
    background: url("/layout/admin/link-arrow-hover.gif") no-repeat scroll 10px 10px #dde5e9;
    color: #000000;
}
ul.list-links li ul {
    background: none repeat scroll 0 0 #FFFFFF !important;
    font-size: 0.9em;
    padding-left: 10px;
    padding-top: 10px;
    width: 240px;
}
ul.list-links li ul li {
    border-bottom: medium none;
}
ul.list-links li ul li a {
    background: none repeat scroll 0 0 transparent;
    padding: 5px 3px 5px 20px !important;
}
ul.list-links li ul li a:hover {
    background-color: #FFFFFF;
    background-position: 8px 10px;
}
ul.list-links li a.ui-state-active {
    font-weight: bold;
}
div#sys-messages-container h5 {
    background: url("/layout/admin/icon-messages.gif") no-repeat scroll 0 0 transparent;
}
div#quick-send-message-container h5 {
    background: url("/layout/admin/icon-quick-send-message.gif") no-repeat scroll 0 0 transparent;
}
div#sys-messages-container ul {
    margin-bottom: 20px;
}
div#sys-messages-container ul li {
    font-size: 0.8em;
    padding: 8px;
    position: relative;
}
div#sys-messages-container ul li a.sysmessage-delete {
    position: absolute;
    right: 8px;
    top: 7px;
}
div#sys-messages-container ul li a:hover {
    text-decoration: none;
}
div#sys-messages-container ul li.even-messages {
    background: none repeat scroll 0 0 #F3F6F7;
}
div#sys-messages-container ul li.even-messages a {
    color: #314D5B;
}
div#sys-messages-container ul li.odd-messages {
    background: none repeat scroll 0 0 #EBF0F3;
}
div#sys-messages-container ul li.odd-messages a {
    color: #1F2F35;
}
div#quick-send-message-container form {
    background: none repeat scroll 0 0 #F2F2F2;
    color: #333333;
    font-size: 0.9em;
    margin-bottom: 5px;
    padding: 8px;
}
div#quick-send-message-container form fieldset p {
    margin-bottom: 6px !important;
}
div#quick-send-message-container form p:first-child {
    margin-top: 0;
}
div#quick-send-message-container form p label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
div#quick-send-message-container form input#message-title, div#quick-send-message-container form textarea {
    border: 1px solid #CCCCCC;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.9em;
    padding: 5px;
    width: 175px;
}
ul.tab-menu {
    border-bottom: 2px solid #3A4043;
    height: 27px;
}
ul.tab-menu li {
    float: left;
    margin-right: 5px;
}
ul.tab-menu li.tabs-selected a {
    background: none repeat scroll 0 0 #3A4043;
    color: #C4A93D;
    font-weight: bold;
}
ul.tab-menu li a {
    background: none repeat scroll 0 0 #737D81;
    color: #CCCCCC;
    display: inline-block;
    font-weight: normal;
    padding: 6px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.tabs-hide {
    display: none;
}
div#to-do-list ul {
    margin-top: -10px;
}
div#to-do-list ul li {
    border-bottom: 1px solid #EEEDDB;
    padding: 8px 10px;
}
div#to-do-list ul li.even {
    background: none repeat scroll 0 0 #F5F4EB;
}
div#to-do-list ul li.odd {
    background: none repeat scroll 0 0 #FBFBF7;
}
div#to-do-list ul li a {
    color: #AE9A62;
    font-weight: bold;
}
div#to-do-list ul li a:hover {
    color: #666666;
    text-decoration: none;
}
div#to-do-list ul li small {
    color: #999999;
    display: block;
    font-size: 0.9em;
    padding: 5px 0 0 24px;
}
form {
    color: #3A4043;
    padding: 5px;
}

form dt {
	background:#f3f5f2;
    margin: 10px 0 0 0;
    border-left: 1px solid #dddddd;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 0px 15px;
}
form dt label {
    display: block;
    padding: 10px 0;
}
form fieldset legend {
    display: block;
    padding: 0 0 10px 0;
}
form #submit-label, form #submit_close-label { border:none; padding:0; margin:0; background:none;}
form #submit-element, form #submit_close-element { border:none; margin:0; padding:0; background:none;}
form dd {
	background:#f3f5f2;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #dddddd;
    padding: 0 15px 10px;
}

form fieldset {
    background: none repeat scroll 0 0 #F3F5F2;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    margin: 0 0 10px;
    padding: 0 15px 10px;
}
form p {
    margin: 10px 0;
}
form ul.errors {
    display: inline-block;
    height: 16px;
    
}
form ul.errors li {
    margin-left: 10px;
    padding-left: 20px;
    background: url("/layout/admin/icon-error.gif") no-repeat scroll 0 0 transparent;
    color: #A10101;
}

form h3 {
    color: #1D8895;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 10px;
}
form {
    padding-top: 10px;
}

form input, form textarea, .head_search input, .col-second input, .box-container  input[type="text"] {
    background: url("/layout/admin/bg-textbox.gif") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #DEDEDE;
    padding: 5px;
	border-radius: 5px;
}



form input[type="text"], form input[type="password"] {width: 400px; border-radius:5px;}
th input.search {font-family:arial; font-size:13px; width: 90px;}

form input[type="radio"], form input[type="checkbox"] {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    width: 30px;
}
input[type="text"].txtbox-short {
    width: 150px;
}
input[type="text"].txtbox-middle {
    width: 250px;
}
input[type="text"].txtbox-long {
    width: 400px;
}
form textarea {
    width: 600px;
	border-radius:5px;
}

form label {
    margin-right: 15px;
}
form label.field-title {
    font-weight: bold;
    padding-top: 3px;
    width: 100px;
}


form input#newest, form input#hit, form input#special {width: 50px;}
form input#newest_date, form input#hit_date, form input#special_date {width: 150px;}

form input#phone_code, form input#fax_code, form input#phone2_code {width: 50px;}
form input#phone_number, form input#fax_number,  form input#phone2_number {width: 100px;}
span.form-confirm-inline, span.form-error-inline {
    display: inline-block;
    height: 16px;
    margin-left: 10px;
    padding-left: 20px;
}
span.form-confirm-inline {
    background: url("/layout/admin/icon-confirm.gif") no-repeat scroll 0 0 transparent;
    color: #72A101;
}
span.form-error-inline {
    background: url("/layout/admin/icon-error.gif") no-repeat scroll 0 0 transparent;
    color: #A10101;
}
a.heading-link {
    color: #CAE6ED;
    display: inline-block;
    font-size: 0.9em;
    font-weight: normal;
    padding-left: 15px;
    text-decoration: none;
    text-transform: capitalize;
}
a.heading-link:hover {
    color: #FFFFFF;
}
table.table-short {
    border-collapse: collapse;
    margin: 0;
    width: 500px;
}
table.table-long {
    margin-left: 0;
    width: 705px;
}
table.table-short td, table.table-short th,  table.table-long td, table.table-long th {
    border-top: 1px solid #DFDFDF;
    color: #666666;
    font-size: 0.9em;
    margin: 0;
    padding: 10px 5px !important;
}

tr.head_search th { border-top:1px solid #DFDFDF !important; padding-bottom:14px !important;}
tr.head_titles th a { color:#1399EE;}
table.table-long td a {color:#5C6467;}
table.table-short thead th, table.table-long thead th {
    font-weight: bold;
}
table.table-short thead th, table.table-short tfoot td, table.table-long thead th, table.table-long tfoot td {
    border: medium none;
}
table.table-short td:first-child, table.table-short th:first-child, table.table-long td:first-child, table.table-long th:first-child {
    padding: 0 0 0 10px;
    text-align: left;
}
table.table-short tfoot, table.table-long tfoot {
    border-top: 1px solid #CCCCCC;
}
table.table-short tr.odd, table.table-long tr.odd {
    background: url("/layout/admin/bg_tableRow.gif") repeat-x scroll 0 1px transparent;
}
td.col-chk {
    width: 10px;
}
td.col-first {
    font-weight: bold;
}
td.col-second {
    vertical-align: top;
}

td.col-second a {
    color: #508DB8;
    font-weight: bold;
}
td.col-second a:hover {
    color: #333333;
    text-decoration: none;
}
td.row-nav {
    width: 110px;
    vertical-align: top;
}
a.table-edit-link,
a.table-add-link,
a.table-delete-link,
a.table-category-link,
a.table-attribute-link,
a.table-product-span,
a.table-technology-link,
a.table-geometry-link,
a.table-image-link {
    color: #666666;
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    padding: 2px 0 2px 20px;
    text-align: right;
    text-decoration: none;
}
a.table-edit-link:hover,
a.table-add-link:hover,
a.table-delete-link:hover,
a.table-category-link:hover,
a.table-product-span:hover,
a.table-image-link:hover,
a.table-technology-link:hover,
a.table-geometry-link:hover,
a.table-attribute-link:hover {
    color: #000000;
}
a.table-delete-link {
    background: url("/layout/admin/application_delete.png") no-repeat scroll 0 0 transparent;
}
a.table-edit-link {
    background: url("/layout/admin/application_edit.png") no-repeat scroll 0 0 transparent;
}

a.table-add-link {
    background: url("/layout/admin/application_add.png") no-repeat scroll 0 0 transparent;
}

a.table-image-link {
    background: url("/layout/admin/application_view_gallery.png") no-repeat scroll 0 0 transparent;
}

a.table-options-link {background: url("/layout/admin/table-options-link.png") no-repeat scroll 0 0 transparent;}

a.table-feature-link {background: url("/layout/admin/table-feature-link.png") no-repeat scroll 0 0 transparent;}

a.table-up-link {background: url("/layout/admin/table-up-link.png") no-repeat scroll 0 0 transparent;}

a.table-related-link {background: url("/layout/admin/table-related-link.png") no-repeat scroll 0 0 transparent;}

a.table-attribute-link {
    background: url("/layout/admin/application_view_detail.png") no-repeat scroll 0 0 transparent;
}

a.table-geometry-link {
    background: url("/layout/admin/application_view_detail.png") no-repeat scroll 0 0 transparent;
}

a.table-technology-link {
    background: url("/layout/admin/application_view_detail.png") no-repeat scroll 0 0 transparent;
}

a.table-category-link {
    background: url("/layout/admin/application_cascade.png") no-repeat scroll 0 0 transparent;
}

a.table-product-span {
    background: url("/layout/admin/application.png") no-repeat scroll 0 0 transparent;
}


.current_product {margin: 0 0 10px; font-size: 14px; display: block; border-bottom: 1px solid #CFCFCF; padding: 0 0 10px;} 
.current_product a {color: #0880CC;}
.current_product a:hover { text-decoration:none;}

div#date-container {
    background-color: #F3F6F7;
    margin: -10px -10px 15px;
    padding: 10px;
}
div#date-container img {
    float: left;
    margin-right: 10px;
}
div#date-container span.hour, div#date-container span.date {
    display: block;
    float: left;
}
div#date-container span.hour {
    color: #D8A416;
    font-size: 220%;
    font-weight: bold;
    margin-right: 10px;
    padding-top: 2px;
}
div#date-container span.date {
    color: #666666;
    font-size: 0.8em;
    padding-top: 4px;
}
div#calendar-container {
    width: 100%;
}
div#calendar-container h5 {
    background-image: url("/layout/admin/icon-calendar.gif");
    background-repeat: no-repeat;
    display: block;
}
div#calendar-container div.ui-datepicker-header {
    background: none repeat scroll 0 0 #A1B1B3;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1px;
    padding: 10px;
    position: relative;
    text-align: center;
}
span.ui-icon {
    cursor: pointer;
    position: absolute;    
}
.ui-icon-circle-triangle-e {
    right: 10px;
}
.ui-icon-circle-triangle-w {
    left: 10px;
}
a.ui-state-highlight {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #AC0000;
    font-weight: bold;
}
a.ui-datepicker-next-hover span, a.ui-datepicker-prev-hover span {
    color: #000000 !important;
}
table.ui-datepicker-calendar {
    background: none repeat scroll 0 0 #F2F2F2;
    font-size: 0.9em;
    padding: 5px;
    width: 203px;
}
table.ui-datepicker-calendar th, table.ui-datepicker-calendar td {
    font-weight: bold;
    padding: 2px;
    text-align: center;
	border: 1px solid #CFCFCF;
}
table.ui-datepicker-calendar a {
    
    color: #666666;
    display: block;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}
table.ui-datepicker-calendar a:hover { color:#363636;}
table.ui-datepicker-calendar a:hover {
    border: 1px solid #CCCCCC;
}
table.ui-datepicker-calendar a.ui-state-active {   background: url("/layout/admin/bg_header.jpg") no-repeat center -27px; color: white;}
td.ui-datepicker-week-end a {
    color: #999999;
}

table.ui-datepicker-calendar .ui-state-default.ui-state-highlight, table.ui-datepicker-calendar .ui-state-default.ui-state-hover { border:none; background:#ccc;}

ul#quick-visual-links {
    width: 100%;
}
ul#quick-visual-links li {
    float: left;
}
ul#quick-visual-links li a {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #444444;
    display: block;
    font-size: 0.9em;
    margin: 0 3px 5px 0;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 62px;
}
ul#quick-visual-links li img {
    margin-bottom: 3px;
}
ul#quick-visual-links li a:hover {
    background: none repeat scroll 0 0 #F3F6F7;
    border-color: #999999;
    color: #000000;
}
div#footer-wrap {
    background: url("/layout/admin/bg_footer.jpg") no-repeat scroll center 0 transparent;
    height: 113px;
    position: relative;
}
div#footer {
    margin: 0 auto;
    padding: 10px;
    width: 960px;
}
div#footer-top {
    color: #F2F2F2;
}
div#footer-top h4 {
    color: #FFFFFF;
    font-size: 120%;
    font-weight: bold;
    margin: 5px 0;
    text-transform: uppercase;
}
div#footer-top a {
    color: #ADC3D3;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
}
div#footer-top a:hover {
    color: #FFFFFF;
}
div#footer-top h2 {
    font-size: 160%;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
div#footer-top h2 a {
    color: #A1A5A6;
}
div#footer-top h2 a:hover {
    color: #C7CDCF;
}
div#footer-bottom {
    margin-top: 25px;
}
div#footer-bottom p {
    color: #EEEEEE;
	font-weight:bold;
    font-size: 1em;
}
div#footer-bottom p a {
    color: #EEEEEE;
    text-decoration: none;
}


#sort_order {width: 50px !important;}

form p.description {color:#666; font: 8pt Helvetica,Arial,Tahoma,sans-serif; margin-top: 0px;}

input[type="checkbox"] {width: 20px;}

#content-top p a {color: #0880CC;}
#content-top p a:hover { text-decoration:none; } 

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

ul.dashboard {}
ul.dashboard li a{ 
    display: block;
    float: left;
    margin: 7px;
    padding: 80px 0 5px;
    text-align: center;
    vertical-align: bottom;
    width: 100px;
     color: #3E4548;
     text-decoration: none;
}

ul.dashboard li a:hover { text-decoration:underline;}


ul.dashboard li a.dashboard-home {
    background: url(/layout/admin/dashboard-home.png)no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-gallery {
    background: url(/layout/admin/dashboard-gallery.png)no-repeat scroll center center transparent;
}
ul.dashboard li a.dashboard-publication {
    background: url("/layout/admin/dashboard-publication.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-slider {
    background: url(/layout/admin/dashboard-slider.png)no-repeat scroll center center transparent;
}
ul.dashboard li a.dashboard-config {
    background: url("/layout/admin/dashboard-config.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-order {
    background: url("/layout/admin/dashboard-order.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-banner {
    background: url("/layout/admin/dashboard-banner.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-comment {
    background: url("/layout/admin/dashboard-comment.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-user {
    background: url("/layout/admin/dashboard-user.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-page {
    background: url("/layout/admin/dashboard-page.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-file {
    background: url("/layout/admin/dashboard-file.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-contact {
    background: url("/layout/admin/dashboard-contact.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-representation {
    background: url("/layout/admin/dashboard-representation.png") no-repeat scroll center center transparent;
}
ul.dashboard li a.dashboard-faq {
    background: url("/layout/admin/dashboard-faq.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-service {
    background: url("/layout/admin/dashboard-service.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-catalog {
    background: url("/layout/admin/dashboard-catalog.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-menus {
    background: url("/layout/admin/dashboard-menus.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-shop {
    background: url("/layout/admin/dashboard-cart.png") no-repeat scroll center center transparent;
}

ul.dashboard li a.dashboard-contract {
    background: url("/layout/admin/dashboard-contract.png") no-repeat scroll center center transparent;
}

ul.list-links li.active ul {display:block;}
ul.list-links li.active ul li.active ul {display:block;}
ul.list-links li.active ul li.active ul li.active ul {display:block;}

ul.list-links li ul {display:none;}
ul.list-links li ul li ul  {display:none;}
ul.list-links li ul li ul li ul  {display:none;}



ul.list-links li ul {display:none;}
ul.list-links li.active ul li ul  {display:none;}
ul.list-links li.active ul li.active ul li ul  {display:none;}

.noDisplay {display: none;}


/* categories-menu-adm */

ul.categories-menu-adm, ul.categories-menu-adm ul,ul.groups-menu-adm,ul.groups-menu-adm ul {

    list-style-type: none;

    background: url(/layout/tree/vline.png) repeat-y;

    margin: 0;

    padding: 0;

    font: 12px Arial,Helvetica,sans-serif;

}

ul.categories-menu-adm ul ,ul.groups-menu-adm ul{  

    margin-left: 10px;

}

ul.categories-menu-adm li ,ul.groups-menu-adm li{

    margin: 0;

    padding: 0 12px;

    line-height: 20px;

    background: url(/layout/tree/node.png) no-repeat;   

}

ul.categories-menu-adm li a ,ul.groups-menu-adm li a{ color:#5C6467; text-decoration:none;}
ul.categories-menu-adm li a:hover,ul.groups-menu-adm li a:hover { text-decoration: underline;}
ul.categories-menu-adm li a.category-edit, ul.groups-menu-adm li a.category-edit{font-weight: normal; font-size: 11px;}
ul.categories-menu-adm li a:hover,ul.groups-menu-adm li a:hover { text-decoration:underline;}
ul.categories-menu-adm li.active,ul.groups-menu-adm li.active { font-weight: bold;}
ul.categories-menu-adm li span,ul.groups-menu-adm li span {  /* font-weight: bold;*/ }
ul.categories-menu-adm li:last-child,ul.groups-menu-adm li:last-child {	  
    background: url(/layout/tree/lastnode.png) no-repeat scroll  0 0 #fff;
}



ul.categories-menu-adm li.active ul li.active ul,ul.groups-menu-adm li.active ul li.active ul {display:block;}
ul.categories-menu-adm li.active ul li.active ul li.active ul,ul.groups-menu-adm li.active ul li.active ul li.active ul {display:block;}
                     

ul.categories-menu-adm li ul li ul,ul.groups-menu-adm li ul li ul {display:none;}
ul.categories-menu-adm li ul li ul li ul,ul.groups-menu-adm li ul li ul li ul  {display:none;}
                     

ul.categories-menu-adm li.active ul li ul , ul.groups-menu-adm li.active ul li ul{display:none;}
ul.categories-menu-adm li.active ul li.active ul li ul , ul.grouops-menu-adm li.active ul li.active ul li ul{display:none;}

/* categories-menu-adm end */


.crop_dialog {margin: 0 auto;}


/* for admin_default_slider_edit */
#group{
    width: 300px;
}

.subheader {width: 98%; padding: 10px; background: #ddd; font-size: 18px; margin: 0 0 10px;}



.list-related, .add-related-product{
    padding-top: 15px;

}
.list-related > h3, .add-related-product > h3{
    font-size: 14px;
    padding: 4px 0;
    font-weight:900;

}
/** Shop related **/
.scrollbox {
border: 1px solid #CCC;
/*width: 350px;*/
height: 500px;
background: white;
overflow-y: scroll;
}

.scrollbox .item{
    padding: 5px;
}
.scrollbox img, .scrollbox .text{
    float:left;
    padding: 0 5px;
}
.scrollbox .action{
    float:right;
}
.scrollbox .item.odd{
    background: #dceaf2;
}
.scrollbox .item h3{
    font-weight:900;
}

/** end Shop related **/
.clr {clear: both;}


#crop_dialog form { padding:10px 0;}

input[type="submit"], button[type="button"], button[type="submit"]{background: url("/layout/admin/bg_header.jpg") no-repeat center -79px !important; width:auto; padding: 0 15px; height: 35px; border: none; margin-bottom: 10px; cursor: pointer; color: white; font-weight: bold;line-height: 25px; border-radius: 7px; behavior: url(/system/css/pie.htc);position: relative; }
input[type="submit"]:hover, button[type="button"]:hover, button[type="submit"]:hover { background: url("/layout/admin/bg_header.jpg") no-repeat center -27px !important;}

button[type="button"] span { color:#fff;}

.head_search input[type="submit"] { height:25px;}

.box-container  .navigation { overflow:hidden; margin: 0 0px 10px;}
.box-container  .navigation li { float:left; margin-right: 15px;}
.box-container  .navigation li a { margin-right:0; color: #666; text-decoration: underline; line-height: 14px; padding: 0 0 0 20px;}
.box-container  .navigation li a:hover { text-decoration:none;}


.ui-combobox input {width:598px; background:url("/layout/admin/bg-textbox.gif") repeat-x scroll 0 0 white !important; border: 1px solid #DEDEDE;  padding: 5px; border-radius: 5px; font-weight:normal !important;}
.ui-combobox a, .ui-combobox a:hover, .ui-combobox a.ui-state-hover { background:none !important; margin-left: -32px;}
.ui-autocomplete .ui-state-focus { background:#Cfcfcf !important; font-weight:normal !important; color:#333 !important;}

/*** combobox ***/
.custom-combobox {position: relative;display: inline-block;}
/*** End combobox ***/



#fountainG{
position:relative;
width:66px;
height:8px}

.fountainG{
position:absolute;
top:0;
background-color:#000000;
width:8px;
height:8px;
-moz-animation-name:bounce_fountainG;
-moz-animation-duration:1.4s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-moz-border-radius:6px;
-webkit-animation-name:bounce_fountainG;
-webkit-animation-duration:1.4s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-webkit-border-radius:6px;
-ms-animation-name:bounce_fountainG;
-ms-animation-duration:1.4s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-ms-border-radius:6px;
-o-animation-name:bounce_fountainG;
-o-animation-duration:1.4s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
-o-border-radius:6px;
animation-name:bounce_fountainG;
animation-duration:1.4s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:6px;
}

#fountainG_1{
left:0;
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#fountainG_2{
left:8px;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#fountainG_3{
left:17px;
-moz-animation-delay:0.84s;
-webkit-animation-delay:0.84s;
-ms-animation-delay:0.84s;
-o-animation-delay:0.84s;
animation-delay:0.84s;
}

#fountainG_4{
left:25px;
-moz-animation-delay:0.98s;
-webkit-animation-delay:0.98s;
-ms-animation-delay:0.98s;
-o-animation-delay:0.98s;
animation-delay:0.98s;
}

#fountainG_5{
left:33px;
-moz-animation-delay:1.12s;
-webkit-animation-delay:1.12s;
-ms-animation-delay:1.12s;
-o-animation-delay:1.12s;
animation-delay:1.12s;
}

#fountainG_6{
left:41px;
-moz-animation-delay:1.26s;
-webkit-animation-delay:1.26s;
-ms-animation-delay:1.26s;
-o-animation-delay:1.26s;
animation-delay:1.26s;
}

#fountainG_7{
left:50px;
-moz-animation-delay:1.4s;
-webkit-animation-delay:1.4s;
-ms-animation-delay:1.4s;
-o-animation-delay:1.4s;
animation-delay:1.4s;
}

#fountainG_8{
left:58px;
-moz-animation-delay:1.54s;
-webkit-animation-delay:1.54s;
-ms-animation-delay:1.54s;
-o-animation-delay:1.54s;
animation-delay:1.54s;
}

@-moz-keyframes bounce_fountainG{
0%{
-moz-transform:scale(1);
background-color:#000000;
}

100%{
-moz-transform:scale(.3);
background-color:#000000;
}

}

@-webkit-keyframes bounce_fountainG{
0%{
-webkit-transform:scale(1);
background-color:#000000;
}

100%{
-webkit-transform:scale(.3);
background-color:#000000;
}

}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
background-color:#000000;
}

100%{
-ms-transform:scale(.3);
background-color:#000000;
}

}

@-o-keyframes bounce_fountainG{
0%{
-o-transform:scale(1);
background-color:#000000;
}

100%{
-o-transform:scale(.3);
background-color:#000000;
}

}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#000000;
}

100%{
transform:scale(.3);
background-color:#000000;
}

}

.vY {
visibility: hidden;
z-index: 8;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
}

.UC {
text-align: center;
}

.vX {
}

.J-J5-Ji {
position: relative;
display: inline-block;
position: relative;
display: -moz-inline-box;
display: inline-block;
}

.vX .vh {
border-top-left-radius: 0;
border-top-right-radius: 0;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
}

.vX .vh {
border-color: #f0c36d;
background-color: #f9edbe;
}

.vX .vh {
padding: 0 10px;
border: 1px solid transparent;
border-radius: 2px;
-webkit-border-radius: 2px;
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.vX .vh {
background: #fff1a8;
border-color: #fff1a8;
color: #222;
padding: 5px 10px;
border-top: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
}

.vh {
border: 3px solid transparent;
border-radius: 3px;
-webkit-border-radius: 3px;
display:none;
}