<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <span itemprop="title"><?php echo $this->translate(_('Password recovery')); ?></span>
    </div>
    <span class="clr"></span>
</div>

<h1><?php echo $this->translate(_('Password recovery')); ?></h1> 
<div class="content_container">
    <?php if(empty($this->message)): ?>       
        <p><?php echo $this->translate(_('Get a link to reset your password')); ?> </p>    
        <?php echo $this->forgotForm; ?>
        <div class="soc_pad">
            <h3><?php echo $this->translate(_('Sign in using social networks')); ?></h3>
            <a href="#" onclick="$.cmf.login('facebook');return false;" class="fc"><img src="/layout/fc1.png" width="177" height="34" alt="" /></a>
            <a href="#" onclick="$.cmf.login('vkontakte');return false;" class="vk"><img src="/layout/vk1.png" width="177" height="34" alt="" /></a>
            <div class="clear"></div>
        </div>        
    <?php else:?>
        <p><?php echo $this->message; ?></p>
    <?php endif;?>
    <div class="clr"></div>               
</div>
