<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <span itemprop="title"><?php echo $this->translate(_('Login')); ?></span>
    </div>
    <span class="clr"></span>
</div>

<h1><?php echo $this->translate(_('Login')); ?></h1> 
<div class="content_container">
    <?php echo $this->getLoginForm(); ?>
    <div class="soc_pad_wrap">
        <div class="soc_pad">
            <h3><?php echo $this->translate(_('Sign in using social networks')); ?></h3>
            <a href="#" onclick="$.cmf.login('facebook');return false;" class="fc"><img src="/layout/fc1.png" width="177" height="34" alt="" /></a>
            <a href="#" onclick="$.cmf.login('vkontakte');return false;" class="vk"><img src="/layout/vk1.png" width="177" height="34" alt="" /></a>
            <div class="clear"></div>
        </div>        
    </div>  
    <?php /*
      <div>
      <h4>Авторизация через: </h4>
      <a href="#" onclick="$.cmf.login('facebook');return false;"><img alt="facebook" src="<?php echo $this->baseUrl();?>/img/facebook.png" /></a>
      <a href="#" onclick="$.cmf.login('vkontakte');return false;"><img alt="vkontakte" src="<?php echo $this->baseUrl();?>/img/vkontakte.png" /></a>

      <a href="#" onclick="$.cmf.login('google');return false;"><img alt="google" src="<?php echo $this->baseUrl();?>/img/google.png" /></a>
      <a href="#" onclick="$.cmf.login('twitter');return false;"><img alt="twitter" src="<?php echo $this->baseUrl();?>/img/twitter.png" /></a>
      <a href="#" onclick="$.cmf.login('mailru');return false;"><img alt="mailru" src="<?php echo $this->baseUrl();?>/img/mailru.png" /></a>
      <a href="#" onclick="$.cmf.login('foursquare');return false;"><img alt="foursquare" src="<?php echo $this->baseUrl();?>/img/foursquare.png" /></a>
      <a href="#" onclick="$.cmf.login('flickr');return false;"><img alt="flickr" src="<?php echo $this->baseUrl();?>/img/flickr.png" /></a>
      <a href="#" onclick="$.cmf.login('gowalla');return false;"><img alt="gowalla" src="<?php echo $this->baseUrl();?>/img/gowalla.png" /></a>
      <a href="#" onclick="$.cmf.login('github');return false;"><img alt="github" src="<?php echo $this->baseUrl();?>/img/github.png" /></a>
      <a href="#" onclick="$.cmf.login('skyrock');return false;"><img alt="skyrock" src="<?php echo $this->baseUrl();?>/img/skyrock.png" /></a>
      <a href="#" onclick="$.cmf.login('linkedin');return false;"><img alt="linkedin" src="<?php echo $this->baseUrl();?>/img/linkedin.png" /></a>
     * 
     */ ?>

    <div class="clr"></div>               
</div>
