<div class="box">
    <h4 class="white ">
        
        <div><?php echo  $this->translate(_('New category')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php echo $this->categoryForm;?>
        </div>
    </div>
</div>
