<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_("The sender will be sent to you with a response to the e-mail, and the question will be deleted!")) ?></div>
    </h4>
    <div class="box-container ">
        <div>

            <?php echo $this->faqForm; ?>
            
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
