<div class="box">
    <h4 class="white ">
        
        <div><?php echo $this->translate(_('edit')); ?></div>
    </h4>
    <div class="box-container ">
        <div>

            <?php echo $this->faqForm; ?>
            
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
