<div class="line<?php echo (0 < count($this->element->firstname->getMessages())) ? ' has_errors' : ''; ?>">
    
        <?php echo $this->element->firstname; ?>
    
    <div class="clr"></div>
    <?php if(0 < count($this->element->firstname->getMessages())): ?>
        <?php echo $this->formErrors($this->element->firstname->getMessages()); ?>
    <?php endif; ?>
</div>

<div class="line<?php echo (0 < count($this->element->email->getMessages())) ? ' has_errors' : ''; ?>">
    <?php echo $this->element->email; ?>
    <div class="clr"></div>
    <?php if(0 < count($this->element->email->getMessages())): ?>
        <?php echo $this->formErrors($this->element->email->getMessages()); ?>
    <?php endif; ?>
</div>

<div class="line<?php echo (0 < count($this->element->phone->getMessages())) ? ' has_errors' : ''; ?>">
    <?php echo $this->element->phone; ?>
    <div class="clr"></div>
    <?php if(0 < count($this->element->phone->getMessages())): ?>
        <?php echo $this->formErrors($this->element->phone->getMessages()); ?>
    <?php endif; ?>
</div>

<div class="line<?php echo (0 < count($this->element->message->getMessages())) ? ' has_errors' : ''; ?>">
    
    <?php echo $this->element->message; ?>
    <div class="clr"></div>
    <?php if(0 < count($this->element->message->getMessages())): ?>
        <?php echo $this->formErrors($this->element->message->getMessages()); ?>
    <?php endif; ?>
</div>

<div class="line">
    <a href="" class="btn" id="w_btn1">Отправить</a>
    <div class="clr"></div>
</div>

