<?php
$actionButtons = array(
    array(
        'label' => $this->translate(_('edit')),
        'module' => 'user',
        'controller' => 'group',
        'action' => 'edit',
        'route' => 'admin',
        'resource' => 'user:group',
        'privilege' => 'edit',
        'class' => 'table-edit-link',
        'reset_params' => true
    ),
    array(
        'label' => $this->translate(_('delete')),
        'module' => 'user',
        'controller' => 'group',
        'action' => 'delete',
        'route' => 'admin',
        'resource' => 'user:group',
        'privilege' => 'delete',
        'class' => 'table-delete-link',
        'reset_params' => true
    )
);
?>

<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Groups')); ?></div>
    </h4>
    <div class="box-container ">
        <div>           
                <table class="table-long">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th><?php echo $this->translate(_('Name')); ?></th>
                            <th><?php echo $this->translate(_('Color')); ?></th>
                            <th><?php echo $this->translate(_('Description')); ?></th>
                            <th><?php echo $this->translate(_('Actions')); ?></th>
                        </tr>
                    </thead>

                    <tbody>      
                        <?php if ($this->groups) : ?>
                            <?php foreach ($this->groups as $group): ?>
                                <tr style="background-color: <?php echo $this->Escape($group->color); ?>;">
                                    <td class="col-chk">&nbsp;</td>
                                    <td class="col-first"><?php echo $this->Escape($group->name); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($group->color); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($group->description); ?></td>
                                    <td class="row-nav">
                                        <?php $actionButtons[0]['params']['group_id'] = $group->group_id; ?>
                                        <?php $actionButtons[1]['params']['group_id'] = $group->group_id; ?>
                                        <?php echo $this->navigation()->menu(new Zend_Navigation($actionButtons)); ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </tbody>                
                </table>
        </div>
    </div>
</div>