<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Add page')); ?></div>
    </h4>
   <div class="box-container ">
        <div>

            <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->pageForm; ?>
                <!-- end id-form  -->
            </div>


        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<script type="text/javascript">
    
    menu=$('#title_menu_ru-label,#title_menu_ru-element,#menu_item-label,#menu_item-element,#sort_menu-label,#sort_menu-element,');
    menu.addClass('hide');
    
    $('input[name="check_menu"]').click(function(){
        menu.toggleClass('show');
    });
</script>
<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label{
            display: none;
        }
         
<?php endforeach; ?>
        .hide{
            display:none;
        }
        .show{
            display:block;
        }
        
</style>

