<div class="wrap"><div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <span itemprop="title"><?php echo $this->page->title; ?></span>
    </div>
    <span class="clr"></span>
</div>
<div class="title_box"><br /><br /><br /><br /><br />
    <h1><?php echo $this->page->title; ?></h1>
</div>
<div class="static_page"> 
    <?php echo $this->page->body; ?>    
    <div class="clr"></div>
</div>
</div>
