<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Page')); ?></div>
    </h4>
    <div class="box-container ">
        <div>

            <form  method="post" action="" enctype="application/x-www-form-urlencoded"><table class="table-long">
                <thead>
                    <tr>
                        <th></th>
                        <th><?php echo $this->translate(_('Name')); ?></th>
                        <th><?php echo $this->translate(_('Path')); ?></th>
                        <th><?php echo $this->translate(_('Actions')); ?></th>
                    </tr>
                </thead>

                <tbody>
                   <?php foreach($this->pages as $page): ?>
                        <tr>
                            <td class="col-chk">&nbsp;</td>
                            <td class="col-first"><?php echo $this->Escape($page->title);?></td>
                            <td class="col-second"><a href="<?php echo $this->url(array('pageIdent' => $page->ident), 'default_page', true)?>"><?php echo $this->url(array('pageIdent' => $page->ident), 'default_page', true)?></a></td>
                            <td class="row-nav">
                                <a class="table-edit-link" href="<?php echo $this->url(array(
                                        'module' => 'default',
                                        'controller' => 'page',
                                        'action' => 'edit',
                                        'id' => $page->page_id), 'admin', true)?>"><?php echo $this->translate(_('edit')); ?></a>

                                <span class="hidden"> | </span>

                                <a class="table-delete-link"  href="<?php echo $this->url(array(
                                        'module' => 'default',
                                        'controller' => 'page',
                                        'action' => 'delete',
                                        'id' => $page->page_id), 'admin', true)?>"><?php echo $this->translate(_('delete')); ?></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>

        <?php if ($this->pages instanceof Zend_Paginator): ?>
            <?php if ($this->pages->count() > 1): ?>
                <?php echo $this->pagination($this->pagination_config)->create_links(); ?>
            <?php endif; ?>
        <?php endif; ?>

            </form>
        </div>
    </div>
</div>

<?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/>*/?>