<div class="block2">
    <h1><?php echo $this->translate(_('Subscriptions')); ?></h1>

    <?php foreach ($this->subscriptions as $subscription): ?>
        <div class="subscription_tarrif">
            <strong><?php echo $subscription->name; ?> </strong><br/>
            <?php /* <span>($<?php echo $subscription->cost; ?>)</span> */ ?>


            <?php if ($subscription->subscription_id == 1): ?>
                <?php if ($subscription->subscription_id == $this->subscribed): ?>    
                    <?php echo $this->translate(_('Bought')); ?>

                <?php else: ?>  
                    <form action="/payment/paypal/pay" method="post" target="_blank">
                       <input type="hidden" name="subscription_type" value="1"> 
                       <input type="submit" value="<?php echo $this->translate(_('Training')); ?> $350.00 USD (<?php echo $this->translate(_('once')); ?>)"> 
                    </form>
                <?php endif; ?>

            <?php elseif ($subscription->subscription_id == 2): ?>
                <?php if ($subscription->subscription_id == $this->subscribed): ?>    
                    <strong><?php echo date('d-m-Y', strtotime($this->AuthInfo('subscription_date_end'))); ?></strong>
                <?php endif; ?>

                <form method="post" action= "/payment/paypal/pay-subscription" target="_blank"> 
                    <select name="subscription_type">
                        <option value="2"><?php echo $this->translate(_('Trading terminal')); ?> $50.00 USD (<?php echo $this->translate(_('monthly')); ?>)</option>
                        <option value="21"><?php echo $this->translate(_('Trading terminal')); ?> $500.00 USD (<?php echo $this->translate(_('yearly')); ?>)</option>
                    </select>
                    <input type="submit" value="<?php echo $this->translate(_('Subscribe')); ?>"> 
                </form>

  
            <?php endif; ?>


        </div>
    <?php endforeach; ?>

</div>