@charset "utf-8";
/* CSS Document */
/* 
font-family: 'Yeseva One', cursive;
font-family: 'Ubuntu', sans-serif;
behavior: url(js/pie.htc); 
*/

/* base */
* { margin: 0; padding: 0; border: 0; }

body { background:url(/layout/bg.jpg) 0 0 repeat; color: #464646; font-family: 'Ubuntu', sans-serif; font-size: 14px; line-height: 18px; }
a { color: #048bc3;  text-decoration:none; }
a:hover {text-decoration: underline;}

.clr {display:block; clear: both; line-height:0; float:none !important;}

ul,ol,li { list-style: none; }

h1 {font-family: 'Yeseva One', cursive;font-weight:normal;color:#252525;font-size:24px;line-height:32px;}
h2 {font-family: 'Yeseva One', cursive;font-weight:normal;color:#252525;}
h3 {font-family: 'Yeseva One', cursive;font-weight:normal;color:#252525;font-size:24px;line-height:32px;}

input, textarea { outline:none;resize:none;}

.line{overflow:hidden;}

.fll{float:left !important;}
.flr{float:right !important;}

a.img{display:block;}
a.img img{display:block;}

/* base end */

.wrapper {min-width:980px;margin:0 auto;background:url(/layout/btm_bg.png) center bottom no-repeat;}

.wrap{min-width:980px;margin:0 auto;width:980px;position:relative;}
.wrap > .clear{height:0;font-size:0;overflow:hidden;}

header {position:relative;z-index:3;background:#fefefe;box-shadow:0 1px 1px rgba(214,214,214,0.6)}
header > .wrap{padding:121px 0 0;}

.wh_line{background:#fff;}
.wh_line .wrap{padding:20px 0;}

.gr_line{background:url(/layout/slider_bg.jpg) 0 0 repeat-x;padding:45px 0 0;}
.autsors{background:url(/layout/autsors.png) 0 0 no-repeat;height:458px;}
.lizing{background:url(/layout/Lizing.png) 0 0 no-repeat;height:458px;}
.podbor{background:url(/layout/Podbor.png) 0 0 no-repeat;height:458px;}

.logo{top:0;left:0;position:absolute;display:block;}
.slogan{position:absolute;top:68px;left:262px;color:#898989;font-size:12px;}

.search{top:5px;right:0;overflow:hidden;position:absolute;border:1px solid #e4e4e4;}
.search input.txt{display:block;float:left;background:#fff;padding:0 10px;width:144px !important;height:31px !important;line-height:31px;font-size:12px;color:#b7b7b7;font-family: 'Ubuntu', sans-serif;border:none;}
.search input.submit{display:block;float:left;background:url(/layout/search_btn.png) 0 0 no-repeat;cursor:pointer;width:35px !important;height:31px !important;}

.soc_links{}
.soc_links li{float:left;}
.soc_links a{display:block;}

.page_inf{}
.page_inf h3{color:#d13128;font-size:72px;line-height:86px;text-transform:uppercase;}
.page_inf h3.ta_c{text-align:center;margin:-16px 0;}
.page_inf .fll{width:500px;margin:-16px 0;}
.page_inf .flr{width:460px;margin:-2px 0 0;}
.page_inf.lizing_inf .fll{width:610px;}
.page_inf.lizing_inf .fll h3{font-size:55px;}
.page_inf.lizing_inf .flr{width:360px;font-weight:300;font-size:16px;line-height:21px;margin:5px 0 0;}

.tm_line{position:absolute;left:0;right:0;top:121px;background:url(/layout/tm_wh_op.png) 0 0 repeat;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;height:43px;z-index:5;}
#menu_top{top:-1;left:0;position:absolute;}
#menu_top li{position:relative;}
#menu_top > li , .ft_menu ul > li{float:left;background:url(/layout/tm_sep.png) 0 center no-repeat;}
#menu_top > li:first-child , .ft_menu ul > li:first-child{background:none;}
#menu_top > li > a , .ft_menu ul > li > a{display:block;padding:3px 20px;line-height:38px;color:#5b5b5b;text-decoration:none;font-size:18px;}
#menu_top > li.hover , #menu_top > li.active{background:none;}
#menu_top > li.hover > a , #menu_top > li.active > a , 
.ft_menu ul > li.active > a , .ft_menu ul > li > a:hover{padding-top:0;border-top:3px solid #d13128;background:url(/layout/tm_hov.png) 0 0 repeat;color:#d13128;}

#menu_top > li ul{position:absolute;display:none;padding:1px 0 8px;background:url(/layout/tm_wh_op.png) 0 0 repeat;
border-radius:0 0 4px 4px;box-shadow:0 1px 0 rgba(0,0,0,0.09);behavior: url(js/pie.htc); }
*:first-child + html #menu_top > li ul{box-shadow:none;}
#menu_top > li > ul li{}
#menu_top > li > ul li > a{display:block;padding:0 4px 0 18px;line-height:24px;color:#363636;font-size:16px;text-decoration:none;}
#menu_top > li > ul li.hover > a{color:#d13128;padding-left:15px;background:url(/layout/tm_hov_op.png) 0 0 repeat;border-left:3px solid #d13128;}

#menu_top > li > ul{top:43px;left:0;right:0;min-width:170px}
#menu_top > li > ul ul{top:-4px;right:-180px;width:180px;border-radius:4px;padding-top:4px;}

.slider_wr{position:relative;z-index:4;height:372px;overflow:hidden;}
.slider_bg{position:absolute;background:url(/layout/slider_bg.jpg) 0 0 repeat-x;height:372px;top:0;left:0;width:5000px;margin-left:-1500px;}
.slider_wr .rhino-container{margin:0 auto !important;position:static !important;}
#slider{width:980px;height:372px;margin:0 auto;}
#slider li{padding:251px 0 0;}
#slider .llink , #slider .rlink{display:block;background:url(/layout/circle01.png) 0 0 no-repeat;width:97px;height:163px;top:76px;left:377px;position:absolute;text-decoration:none;}
#slider .llink .txt, 
#slider .rlink .txt{display:block;position:absolute;top:19px;background:#fff;width:290px;padding:22px 20px;text-align:center;line-height:24px;font-size:18px;color:#333;
opacity:0;
border-radius:11px/7px;box-shadow:0 0 2px rgba(0,0,0,0.08);behavior: url(js/pie.htc);}
#slider .llink .txt .arw, 
#slider .rlink .txt .arw{display:block;background:url(/layout/arw01.png) left center no-repeat;width:37px;position:absolute;top:0;bottom:0;}
#slider .llink .txt .arw{right:-37px;}
#slider .rlink .txt .arw{background:url(/layout/arw02.png) right center no-repeat;left:-34px;width:34px;}
#slider .llink .txt{/*right:134px;*/right:0px;}
#slider .rlink .txt{/*left:131px;*/left:0;}
#slider .llink .txt span, 
#slider .rlink .txt span{font-family: 'Yeseva One', cursive;color:#d13128;}
#slider .llink .txt span:hover, 
#slider .rlink .txt span:hover{text-decoration:underline;color:#048bc3;}

#slider .rlink{background:url(/layout/circle02.png) 0 0 no-repeat;right:376px;left:auto;}
#slider .ttl{display:block;float:left;width:480px;padding:4px 0 0 10px;color:#252525;font-size:31px;line-height:32px;text-transform:uppercase;font-family: 'Yeseva One', cursive;letter-spacing:-1px;}
#slider li > .txt{display:block;float:right;width:470px;padding:0 10px;color:#464646;line-height:22px;}

.content {position:relative;z-index:2;}
.content .wrap{padding:0 0 20px;}
.content .pad_t{padding-top:34px;}
.content .pd_t2{padding-top:69px;}

.rounded {background:#fff;border-bottom:3px solid #f2f2f2;position:relative;padding:18px;
box-shadow:0 1px 1px rgba(0,0,0,0.1);
border-radius:5px;behavior: url(js/pie.htc); }

.lc{float:left;width:277px;}
.rc{float:right;width:676px;}
.mc{float:left;}

.breadcrumbs{margin:10px 0 10px;}
.breadcrumbs > div{display:inline;font-size:16px;font-weight:500;color:#048bc3;}

.title{margin:0 0 15px;}

.text{}
.text h1{}
.text h2{}
.text h3{margin:0 0 14px;}
.text h4{}
.text h5{}
.text h6{}
.text p{text-indent:50px;padding-left:10px;}
.text .img{position:relative;}
.text .img img{display:block;position:relative;
border-radius:4px;behavior: url(js/pie.htc);}
.text .img .shadow{box-shadow:inset 0 4px 1px rgba(0,0,0,0.08);display:block;top:0;bottom:0;left:0;right:0;display:block;position:absolute;z-index:11;border-radius:4px;}
.text .img.fll{margin:0 13px 1px 0;}
.text .img.flr{margin:0 0 1px 13px;}
.text ul{}
.text ul li{}
.text ol{}
.text ol li{}

.text.ta_c h1,
.text.ta_c h2,
.text.ta_c h3{text-align:center;margin:0 0 22px;}

.results_list{overflow:hidden;padding:40px 0 0;}
.results_list .item{float:left;width:186px;margin-left:41px;text-align:center;color:#464646;}
.results_list .item:first-child{margin-left:0;}
.results_list .item img{margin:0 auto 6px;display:block;}
.results_list .item p{font-weight:bold;text-transform:uppercase;padding:0 30px;}
.results_list .item .num{font-weight:normal;font-size:48px;color:#444;line-height:60px;font-family: 'Yeseva One', cursive;margin:0 0 -3px;}

.service_list{overflow:hidden;padding:12px 0;}
.service_list .item{float:left;width:216px;padding-left:86px;}
.service_list .item1{background:url(/layout/pic01.png) 0 0 no-repeat;}
.service_list .item2{background:url(/layout/pic02.png) 0 0 no-repeat;}
.service_list .item3{background:url(/layout/pic03.png) 0 0 no-repeat;}
.service_list .item h3{color:#252525;font-size:22px;line-height:26px;margin:0 0 5px;}
.service_list .item p{line-height:17px;}
.service_list .item .btn{margin-top:19px;}

.service_list2{padding:62px 0px 42px;}
.service_list2 .item{height:138px;margin:0 0 17px;padding:7px 0 0;}
.service_list2 .item h3{}
.service_list2 .item p{}
.service_list2 .item.fll{width:337px;padding-right:138px;text-align:right;}
.service_list2 .item.flr{width:346px;padding-left:138px;}
.service_list2 .item1{background:url(/layout/service_pic01.png) right 0 no-repeat;}
.service_list2 .item2{background:url(/layout/service_pic02.png) 0 0 no-repeat;}
.service_list2 .item3{background:url(/layout/service_pic03.png) right 0 no-repeat;}
.service_list2 .item4{background:url(/layout/service_pic04.png) 0 0 no-repeat;}

.service_list3{height:440px;padding-top:18px;background:url(/layout/sc3_bg.png) center 0 no-repeat;}
.service_list3 .item{height:60px;padding:128px 0 6px;}
.service_list3 .item h3{line-height:20px;font-size:16px;font-family: 'Ubuntu', sans-serif;font-weight:500;}
.service_list3 .item.fll{width:370px;text-align:right;}
.service_list3 .item.flr{width:350px;}
.service_list3 .item1{background:url(/layout/sc_pic01.png) right 0 no-repeat;}
.service_list3 .item2{background:url(/layout/sc_pic02.png) 0 0 no-repeat;}
.service_list3 .item3{background:url(/layout/sc_pic03.png) right 0 no-repeat;}
.service_list3 .item4{background:url(/layout/sc_pic04.png) 0 0 no-repeat;}

.improvements{padding:33px 0 30px;}
.improvements2{padding:22px 0;}
.improvements .item{float:left;padding:10px 0 16px;}
.improvements2 .item{padding-top:21px;padding-bottom:25px;}
.improvements .item h3{font-family: 'Ubuntu', sans-serif;line-height:16px;font-size:13px;}
.improvements .item1{width:180px;padding-left:56px;background:url(/layout/pic11.png) 0 0 no-repeat;margin-right:72px;}
.improvements .item2{width:266px;padding-left:74px;background:url(/layout/pic12.png) 0 0 no-repeat;}
.improvements .item3{min-width:209px;float:right;padding-left:67px;background:url(/layout/pic13.png) 0 0 no-repeat;}
.improvements .item4{width:282px;padding-left:64px;background:url(/layout/pic14.png) 0 0 no-repeat;margin-right:15px;}
.improvements .item5{width:270px;padding-left:70px;background:url(/layout/pic15.png) 0 0 no-repeat;}
.improvements .item6{min-width:190px;float:right;padding-left:49px;background:url(/layout/pic16.png) 0 0 no-repeat;}
.improvements .item7{width:240px;padding-left:75px;background:url(/layout/pic17.png) 0 0 no-repeat;margin-right:69px;line-height:18px;}
.improvements .item8{width:160px;padding-left:75px;background:url(/layout/pic18.png) 0 0 no-repeat;line-height:18px;}
.improvements .item9{min-width:160px;float:right;padding-left:75px;background:url(/layout/pic19.png) 0 0 no-repeat;line-height:18px;}
.improvements .item10{width:164px;padding-left:90px;background:url(/layout/pic21.png) 0 0 no-repeat;margin-right:60px;line-height:18px;}
.improvements .item11{width:225px;padding-left:118px;background:url(/layout/pic22.png) 0 0 no-repeat;line-height:18px;}
.improvements .item12{min-width:155px;float:right;padding-left:102px;padding-top:26px;background:url(/layout/pic23.png) 0 0 no-repeat;line-height:18px;margin-top:-10px;}

.improvements.fz16 .item h3{font-size:16px;}

.map_wr{width:100%;margin-top:0px;height:503px;overflow:hidden;}
.map_wr > iframe{width:100% !important;height:503px !important;}


.col3{}
.col3 .news_posts{float:left;width:380px;}
.col3 .twitter_posts{float:left;margin-left:43px;width:240px;}
.col3 .ppl_list{float:right;width:278px;}

.news_posts{}
.news_posts > div > h3{margin:0 0 17px;}
.news_posts .post{overflow:hidden;padding:1px 0;margin:0 0 33px;}
.news_posts .post .img{float:left;position:relative;margin:4px 13px 0 0;}
.news_posts .post .img .shdw{box-shadow:inset 0 4px 1px rgba(0,0,0,0.08);display:block;top:0;bottom:0;left:0;right:0;display:block;position:absolute;z-index:11;border-radius:4px;}
.news_posts .post .img img{display:block;position:relative;
border-radius:4px;behavior: url(js/pie.htc); }
.news_posts .post h3{font-size:12px;font-family: 'Ubuntu', sans-serif;line-height:15px;font-weight:500;}
.news_posts .post h3 a{text-decoration:none;}
.news_posts .post h3 a:hover{text-decoration:underline;}
.news_posts .post p{font-size:12px;line-height:14px;}

.rc .news_posts{}
.rc .news_posts > h3{line-height:24px;margin:0 0 8px;}
.rc .news_posts .post{margin:0 0 20px;}
.rc .news_posts .post .img{}
.rc .news_posts .post h3{line-height:20px;font-size:16px;}
.rc .news_posts .post p{line-height:20px;font-size:16px;}

.twitter_posts{padding:7px 0 0;}
.twitter_posts > h3{margin:0 0 15px;}
.lc .twitter_posts{padding:0;margin:-9px 0 0;}
.lc .twitter_posts > h3{margin:0 0 13px;}
.twitter_posts .post{border-top:1px solid #ddd;padding:10px 0 0;margin:0 0 10px;}
.twitter_posts > h3  + .post{border:none;}
.twitter_posts .post h3{font-family: 'Ubuntu', sans-serif;font-size:14px;line-height:18px;float:left;margin-right:4px;}
.twitter_posts .post .date{font-size:12px;color:#707070;}

.ppl_list{}
.ppl_list > div > h3{line-height:28px;margin:0 0 16px;}
.ppl_list ul{padding:0 0 2px;}
.ppl_list ul li a{display:block;padding-left:30px;line-height:24px;color:#464646;background:url(/layout/link_marker.png) 0 1px no-repeat;}
.ppl_list ul li a:hover{color:#d13128;background:url(/layout/link_marker_hov.png) 0 1px no-repeat;text-decoration:none;}

#tabs.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding:0 0 2px;margin:22px 0 15px;height:351px;background:#f2f2f2;
	border-radius:3px;
	box-shadow:0 2px 1px rgba(0,0,0,0.1);
	behavior: url(js/pie.htc); 
}
.ui-tabs .ui-tabs-nav {
	margin: 0;width:300px;float:right;
	padding:9px 0 6px;height:336px;
	background:url(/layout/tab_bg.png) 0 0 repeat-y;
	position:relative;
	border-radius:0 3px 3px 0;
	behavior: url(js/pie.htc);
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;float:none;
	position: relative;
	top: 0;
	margin:5px 0 0;height:51px;
	border-bottom: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float:none;
	display:block;font-size:18px;line-height:45px;color:#252525;
	padding:0 0 0 34px;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li a:hover{color:#d13128;background:url(/layout/tab_bg_hov.png) 0 0 repeat-y;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;color:#d13128;background:#fff;border-bottom:1px solid #e4e4e4;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;float:left;
	border-width: 0;
	padding:13px 20px;margin:2px 0;height:321px;width:640px;
	background: #fff;
	position:relative;
	border-radius:3px 0 0 3px;
	behavior: url(js/pie.htc);
}
.ui-tabs .ui-tabs-panel h3{font-size:24px;line-height:30px;}



.btn{display:block;float:left;cursor:pointer;position:relative;border:1px solid #1895c8;padding:0 10px;background:url(/layout/btn_grad.png) 0 0 repeat-x;line-height:26px;height:26px !important;color:#fff;text-shadow:0 1px 0 #0a7baa;text-decoration:none;
box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);
border-radius:2px;behavior: url(js/pie.htc); }
.btn:hover{background-position:0 -28px;text-decoration:none;}

.btn.big{height:39px !important;line-height:39px;background:url(/layout/btn2_grad.png) 0 0 repeat-x;padding:0 21px;font-weight:500;font-size:18px;}
.btn.big:hover{background-position:0 -41px;}

.rounded  > .btn{margin-top:16px;}
.rounded  > .btn:first-child{margin-top:0;}

input[type=text], 
input[type=password] , 
input[type=mail],
input[type=tel] {display:block;float:left;border:1px solid #e4e4e4;font-family: 'Ubuntu', sans-serif;color:#464646;font-size:14;height:31px !important;line-height:31px;padding:0 15px;}
textarea{display:block;font-family: 'Ubuntu', sans-serif;border:1px solid #e4e4e4;color:#464646;font-size:14;padding:6px 15px;}
.line label:first-child{display:block;float:left;font-family: 'Ubuntu', sans-serif;line-height:33px;}

.cont_inf{padding:0 57px 0 87px;}
.cont_inf .fll{width:337px;}
.cont_inf .flr{width:343px;}
.cont_inf address{font-size:18px;line-height:22px;font-style:normal;padding:54px 0 0;}
.cont_inf p{padding-left:35px;}
.cont_inf .tel{background:url(/layout/tel_pic.png) 0 6px no-repeat;}
.cont_inf .addr{margin:0 0 20px;padding-left:93px;}
.cont_inf .map{background:url(/layout/map_pic.png) 0 6px no-repeat;}
.cont_inf .mail{background:url(/layout/mail_pic.png) 0 6px no-repeat;}

.feedback{}
.feedback h3{margin:0 0 8px;}
.feedback .line{margin:0 0 13px;}
.feedback .line input{width:311px !important;}
.feedback .line textarea{width:311px !important;height:60px !important;}
.feedback .line .btn{float:right;}

.feedback2 h3{text-align:center;}
.feedback select{width:343px;}
.feedback .line label:first-child{width:158px;text-align:right;padding-right:13px;}
.feedback .lb2{line-height:16px !important;}
.feedback .lb2 span{font-size:10px;}
.feedback2 .btn{margin-right:34px;}

footer {position:relative;z-index:1;}
footer .wrap{}

.ft_line{height:91px;background:url(/layout/ft_line_bg.png) 0 0 repeat-x;padding:10px 0;}

footer address{float:right;max-width:660px;font-style:normal;font-size:20px;line-height:25px;padding:19px 0 0;}
footer address p{padding-left:23px;}
footer .tel{background:url(/layout/tel_pic.png) 0 4px no-repeat;}
footer .map{background:url(/layout/map_pic.png) 0 5px no-repeat;}

/* ---simple modal ---*/
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {position:absolute !important;top:100px !important;}
.simplemodal-wrap{position:relative;top:0;overflow:visible !important;}
#simplemodal-container .close_btn{display:block;position:absolute;background:url(/layout/close_btn.png);width:20px;height:20px;top:8px;right:9px;cursor:pointer;z-index:111;}
.window{display:none;position:relative;}
.window .window_wrap{padding:0;background:#fff;position:relative;
box-shadow:0 0 10px #000;
border-radius:6px;behavior: url(js/pie.htc);}

.window .page{padding:32px 20px 20px;background:url(/layout/window_bg.png) center bottom no-repeat;}
#window1{width:588px;}