<body>
    <div style="color:#4f4f4f;font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:22px;display:block;">

        <span><a href="http://<?php echo $this->site; ?>" target="_blank"></a></span>

        <table style="border-collapse:collapse;width:800px;margin:30px auto;" cellpadding="0" cellspacing="0">
            <tr>
                <td style="border:1px solid #dbdcdc;border-bottom:none;padding:41px 68px 25px 65px;">
                    <span style="display:block;text-decoration:none;"><a style="display:block;text-decoration:none;" href="http://<?php echo $this->site; ?>"><img src="http://<?php echo $this->site; ?>/images/logo.png" width="667" height="55" alt="" /></a></span>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #dbdcdc;border-top:none;padding:0 68px 20px 65px;">
                    <table style="border-collapse:collapse;" cellpadding="0" cellspacing="">
                        <tr>
                            <td style="padding:0 0 12px;"><strong>Здравствуйте, <span style="color:#b81f24"><?php echo $this->order->firstname; ?>!</span></strong></td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 10px;"><span style="font-weight:bold;font-style:italic;font-size:16px;">Мы рады сообщить вам, что ваш <span style="color:#bd3b3e;">заказ № <?php echo $this->order->order_id; ?> был принят</span>  </span><br /><span style="font-weight:bold;color:#bd3b3e;"> и ожидает оплату</span></td>
                        </tr>                        
                        <tr>
                            <td style="padding:0 0 22px;">
                                Способ оплаты выбранный вами – <?php echo $this->order->getPaymentMethod()->name; ?>.
                            </td>
                        </tr>
                        <?php if ($this->is_card): ?>
                            <tr>
                                <td style="padding:0 0 8px;"><span style="font-weight:bold;font-style:italic;font-size:16px;color:#bd3b3e;text-transform:uppercase;">Оплата производится по следующим реквизитам:</span></td>
                            </tr>
                            <tr>
                                <td style="padding:0 0 22px;">Номер карты: <?php echo $this->site_settings['bank_card']; ?><br />
                                    Получатель: <?php echo $this->site_settings['bank_payee']; ?>.<br />
                                    <span style="font-style:italic;color:#bd3b3e;font-size:12px;">*Сразу после оплаты товар будет подготавливаться нами к отправке.</span>
                                </td>
                            </tr>                        
                        <?php endif; ?>
                        <?php if ($this->is_privat24): ?>                       
                            <tr>
                                <td style="padding:0 0 22px;"> Для оплаты заказа Вам необходимо перейти в заказ <a href="http://<?php echo $this->site; ?>/shop/order/view/orderId/<?php echo $this->order->order_id ?>">http://<?php echo $this->site; ?>/shop/order/view/orderId/<?php echo $this->order->order_id ?></a> 
                                    и нажать кнопку "Оплатить".<br />
                                    <span style="font-style:italic;color:#bd3b3e;font-size:12px;">*Сразу после оплаты товар будет подготавливаться нами к отправке.</span>
                                </td>
                            </tr>                        
                        <?php endif; ?>
                        <?php if ('' != $this->admin_comment): ?>        
                            <tr>
                                <td style="padding:0 0 22px;">
                                    <span style="font-weight:bold;color:#bd3b3e;">Комментарий администратора:</span><br />
                                    <?php echo $this->admin_comment; ?>
                                </td>
                            </tr>      
                        <?php endif; ?>
                        <tr>
                            <td style="padding:0 0 22px;">
                                <span style="font-weight:bold;color:#bd3b3e;">Как я могу изменить свой заказ?</span><br />
                                Если вы решили изменить ваш заказ, <br />
                                то свяжитесь с нашей службой поддержки: <span style="font-weight:bold;font-style:italic;color:#bd3b3e;"><?php echo $this->site_settings['phone_code']; ?> <?php echo $this->site_settings['phone_number']; ?>, <?php echo $this->site_settings['fax_code']; ?> <?php echo $this->site_settings['fax_number']; ?>, <?php echo $this->site_settings['phone2_code']; ?> <?php echo $this->site_settings['phone2_number']; ?> </span><br />
                                Обязательно сообщите номер вашего заказа: <span style="font-weight:bold;font-style:italic;color:#bd3b3e;"><?php echo $this->order->order_id; ?></span>
                            </td>
                        </tr>   

                    </table>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #dbdcdc;padding:43px 68px 20px 65px;">
                    <table style="border-collapse:collapse;" cellpadding="0" cellspacing="">
                        <tr>
                            <td style="padding:0 0 22px;">
                                <span style="text-transform:uppercase;font-weight:bold;font-style:italic;font-size:14px;">Остались еще вопросы?</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 22px;">
                                Тогда просто ответьте на это письмо или позвоните нам <span style="font-weight:bold;font-style:italic;color:#bd3b3e;"><?php echo $this->site_settings['phone_code']; ?> <?php echo $this->site_settings['phone_number']; ?>, <?php echo $this->site_settings['fax_code']; ?> <?php echo $this->site_settings['fax_number']; ?>, <?php echo $this->site_settings['phone2_code']; ?> <?php echo $this->site_settings['phone2_number']; ?> </span>
                                График работы Call-центра c <span style="font-weight:bold;color:#bd3b3e;">9:00</span> до <span style="font-weight:bold;color:#bd3b3e;">19:00</span><br />
                                Выходной: <span style="font-weight:bold;color:#bd3b3e;">Воскресенье</span>
                                <br />
                                <span style="font-style:italic;font-size:12px;">*Все дополнительные контактные данные вы можете посмотреть на нашем сайте на странице 
                                    <span style="color:#bd3b3e;font-weight:normal;font-style:italic;"><a style="color:#bd3b3e;font-weight:normal;font-style:italic;" target="_blank" href="http://<?php echo $this->site; ?>/contact">Контакты</a></span></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 22px;">
                                Всего хорошего, <br />
                                c уважением - администрация <span style="font-weight:bold;font-style:italic;color:#bd3b3e;">интернет-магазина <?php echo $this->site; ?></span><br />
                                <span style="font-weight:normal;font-style:italic;color:#bd3b3e;"><a style="font-weight:normal;font-style:italic;color:#bd3b3e;" href="mailto:<?php echo $this->site_settings['public_email']; ?>"><?php echo $this->site_settings['public_email']; ?></a></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>   