<body>
    <div style="color:#4f4f4f;font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:22px;display:block;">

        <span><a href="http://<?php echo $this->site; ?>" target="_blank"></a></span>

        <table style="border-collapse:collapse;width:800px;margin:30px auto;" cellpadding="0" cellspacing="0">
            <tr>
                <td style="border:1px solid #dbdcdc;border-bottom:none;padding:41px 68px 25px 65px;">
                    <span style="display:block;text-decoration:none;"><a style="display:block;text-decoration:none;" href="http://<?php echo $this->site; ?>"><img src="http://<?php echo $this->site; ?>/images/logo.png" width="667" height="55" alt="" /></a></span>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #dbdcdc;border-top:none;padding:0 68px 20px 65px;">
                    <table style="border-collapse:collapse;" cellpadding="0" cellspacing="">
                        <tr>
                            <td style="padding:0 0 12px;"><strong>Здравствуйте, <span style="color:#b81f24"><?php echo $this->order->firstname; ?>!</span></strong></td>
                        </tr>                                             
                        <tr>
                            <td style="padding:0 0 10px;"><span style="font-weight:bold;font-style:italic;font-size:16px;">К сожалению вынуждены сообщить, что <span style="color:#bd3b3e;">заказ № <?php echo $this->order->order_id; ?> отменён</span>  </span><br />
                                <span style="font-weight:bold;color:#bd3b3e;">по причине <?php echo $this->admin_comment; ?></span></td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 10px;">Приносим свои извинения за доставленные неудобства</td>
                        </tr>                   
                        <tr>
                            <td style="padding:0 0 22px;">
                                При обращениях используйте ваш номер заказа: <span style="font-weight:bold;font-style:italic;color:#bd3b3e;"><?php echo $this->order->order_id; ?></span>
                            </td>
                        </tr>                                        
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #dbdcdc;padding:43px 68px 20px 65px;">
                    <table style="border-collapse:collapse;" cellpadding="0" cellspacing="">
                        <tr>
                            <td style="padding:0 0 22px;">
                                <span style="text-transform:uppercase;font-weight:bold;font-style:italic;font-size:14px;">Остались еще вопросы?</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 22px;">
                                Тогда просто ответьте на это письмо или позвоните нам <span style="font-weight:bold;font-style:italic;color:#bd3b3e;"><?php echo $this->site_settings['phone_code']; ?> <?php echo $this->site_settings['phone_number']; ?>, <?php echo $this->site_settings['fax_code']; ?> <?php echo $this->site_settings['fax_number']; ?>, <?php echo $this->site_settings['phone2_code']; ?> <?php echo $this->site_settings['phone2_number']; ?> </span>
                                График работы Call-центра c <span style="font-weight:bold;color:#bd3b3e;">9:00</span> до <span style="font-weight:bold;color:#bd3b3e;">19:00</span><br />
                                Выходной: <span style="font-weight:bold;color:#bd3b3e;">Воскресенье</span>
                                <br />
                                <span style="font-style:italic;font-size:12px;">*Все дополнительные контактные данные вы можете посмотреть на нашем сайте на странице 
                                    <span style="color:#bd3b3e;font-weight:normal;font-style:italic;"><a style="color:#bd3b3e;font-weight:normal;font-style:italic;" target="_blank" href="http://<?php echo $this->site; ?>/contact">Контакты</a></span></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 22px;">
                                Всего хорошего, <br />
                                c уважением - администрация <span style="font-weight:bold;font-style:italic;color:#bd3b3e;">интернет-магазина <?php echo $this->site; ?></span><br />
                                <span style="font-weight:normal;font-style:italic;color:#bd3b3e;"><a style="font-weight:normal;font-style:italic;color:#bd3b3e;" href="mailto:<?php echo $this->site_settings['public_email']; ?>"><?php echo $this->site_settings['public_email']; ?></a></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>   