<body>
    <font face="arial, helvetica,sans-serif" color="#4F4F4F" >
    <h1 style="font-size: 24px; line-height: 30px; padding: 0 0 5px; font-weight:normal; font-style: italic;">Здравствуйте. Новый заказ на сайте <?php echo $this->site; ?></h1>
    <span style="font-size:14px;">    
        Заказ №<?php echo $this->order->order_id; ?> принят. <br/>
        <br/>  
        Общая стоимость заказа:	<?php echo Zend_Registry::get('Currency')->format($this->order->total, $this->order->currency, '', true); ?>  <br/>  
        <br/>  
        <h3>Детали заказа</h3>
        Имя: 	<?php echo $this->order->firstname . ' ' . $this->order->lastname; ?><br/>  
        Email: 	<?php echo $this->order->email; ?><br/>  
        Адрес доставки: 	<?php echo $this->order->address; ?><br/>  
        Телефон(ы):           <?php echo $this->order->telephone; ?> <?php //echo ', ' . $this->order->mobilephone;   ?><br/>  
        
        <?php echo $this->translate(_('Shipping method')); ?>:  <?php echo $this->translate($this->order->getShippingMethod()->name); ?>
        <?php echo $this->translate(_('Method of payment')); ?>:  <?php echo $this->translate($this->order->getPaymentMethod()->name); ?>

        <h4>Структура заказа</h4>
        <table width="100%" cellspacing="0" cellpadding="0" border="1">
            <thead>
                <tr>
                    <th><?php echo $this->translate(_('Product name')); ?></th>
                    <th><?php echo $this->translate(_('Number')); ?></th>
                    <th><?php echo $this->translate(_('Price')); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                $i = 0;
                foreach ($this->order->getProducts() as $item):
                    ?>
                    <tr <?php echo ($i % 2) ? 'class="odd"' : ''; ?>>                  
                        <td>                            
                            <?php echo $this->translate(_('Article')) ?>: <?php echo $this->Escape($item->article); ?><br/>
                            <a target="_blank" href="http://<?php echo $this->site; ?><?php
                        echo $this->url(array(
                            'lang' => Zend_Registry::get('Current_Lang'),
                            'module' => 'catalog',
                            'controller' => 'product',
                            'action' => 'view',
                            'product_id' => $item->product_id), 'default', true)
                            ?>"><?php echo $this->Escape($item->name); ?></a>
                               <?php if (!empty($item->options)): ?>
                                <ul class="cart_product_options">
                                    <?php foreach (unserialize($item->options) as $option): ?>
                                        <li><?php echo $option['option_name'] ?>: <?php echo $option['value'] ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </td>
                        <td style="text-align: right;"><?php echo $item->qty; ?></td>
                        <td style="text-align: right;">
                            <span class="cart_price">
                                <?php echo Zend_Registry::get('Currency')->format($item->total, $this->order->currency, '', true) ?>
                            </span>                                        
                        </td>
                    </tr>
                    <?php
                    ++$i;
                endforeach;
                ?>
                <tr>
                    <td colspan="2" style="text-align: right;"><?php echo $this->translate(_('Total')); ?>:</td>
                    <td style="text-align: right;">
                        <span class="cart_price">
                            <?php echo Zend_Registry::get('Currency')->format($this->order->total, $this->order->currency, '', true); ?>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        --------------------------------<br/>
        Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
    </span>
    </font>
</body>



