<body>
    <div style="color:#4f4f4f;font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:22px;display:block;">

        <span><a href="http://<?php echo $this->site; ?>" target="_blank"></a></span>

        <table style="border-collapse:collapse;width:800px;margin:30px auto;" cellpadding="0" cellspacing="0">
            <tr>
                <td style="border:1px solid #dbdcdc;border-bottom:none;padding:41px 68px 25px 65px;">
                    <span style="display:block;text-decoration:none;"><a style="display:block;text-decoration:none;" href="http://<?php echo $this->site; ?>"><img src="http://<?php echo $this->site; ?>/images/logo.png" width="667" height="55" alt="" /></a></span>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #dbdcdc;border-top:none;padding:0 68px 20px 65px;">
                    <table style="border-collapse:collapse;" cellpadding="0" cellspacing="">
                        <tr>
                            <td style="padding:0 0 12px;"><strong>Здравствуйте, <span style="color:#b81f24"><?php echo $this->order->firstname; ?>!</span></strong></td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 10px;"><span style="font-weight:bold;font-style:italic;font-size:16px;">Мы рады сообщить вам, что ваш <span style="color:#bd3b3e;">заказ № <?php echo $this->order->order_id; ?> был принят</span>  </span><br /><span style="font-weight:bold;color:#bd3b3e;"> и находится в обработке нашими менеджерами</span></td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 22px;">
                                При обращениях используйте ваш номер заказа: <span style="font-weight:bold;font-style:italic;color:#bd3b3e;"><?php echo $this->order->order_id; ?></span><br />
                            </td>
                        </tr>

                        <tr>
                            <td style="padding:0 0 8px;"><span style="font-weight:bold;font-style:italic;font-size:16px;color:#bd3b3e;text-transform:uppercase;">Информация о заказе</span></td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 3px;">
                                <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;">                                   

                                    <?php foreach ($this->order->getProducts() as $item): ?>                    
                                        <tr>                 
                                            <td style="width:76px;padding:7px 0;">
                                                <?php $main_image = $item->getMainImage(); ?>
                                                <?php if (!is_null($main_image)) : ?>    
                                                    <img style="border:1px solid #d9dada;" src="http://<?php echo $this->site; ?>/images/product/<?php echo $main_image->product_id . '/' . $main_image->thumbnail; ?>" width="59"  />
                                                <?php else: ?>
                                                    <img style="border:1px solid #d9dada;" src="http://<?php echo $this->site; ?>/images/product/no_img_b.jpg" alt="<?php echo $main_image->title; ?>" title="<?php echo $main_image->title; ?>"  width="59" />                                                                       
                                                <?php endif; ?>
                                            </td>
                                            <td>
                                                <span style="font-weight:normal;font-style:italic;color:#4f4f4f;">
                                                    <a style="font-weight:normal;font-style:italic;color:#4f4f4f;" target="_blank" href="http://<?php echo $this->site; ?><?php
                                                    echo $this->url(array(
                                                        'lang' => Zend_Registry::get('Current_Lang'),
                                                        'module' => 'shop',
                                                        'controller' => 'product',
                                                        'action' => 'view',
                                                        'product_id' => $item->product_id), 'default', true)
                                                    ?>"><?php echo $this->Escape($item->name); ?></a>

                                                    <?php if (!empty($item->options) AND 0 < count(unserialize($item->options))): ?>
                                                        (
                                                            <?php foreach (unserialize($item->options) as $option): ?>
                                                                <?php echo $option['option_name'] ?>: <?php echo $option['value'] ?> | 
                                                            <?php endforeach; ?>
                                                            )</span>
                                                <?php endif; ?>
                                                <br />Количество: <?php echo $item->qty; ?> шт.
                                                <br />Цена: <?php echo Zend_Registry::get('Currency')->format($item->total, $this->order->currency, '', true) ?>.
                                            </td>                                                
                                        </tr>
                                    <?php endforeach; ?>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 22px;">
                                <?php if (0 < $this->order->discount): ?>
                                    Итого вы заказали товара общей стоимостью:<span style="font-weight:bold;font-style:italic;"> <?php echo Zend_Registry::get('Currency')->format($this->order->sub_total, $this->order->currency, '', true); ?></span><br />
                                    <?php echo $this->translate(_('Скидка')); ?>: <span style="font-weight:bold;font-style:italic;"><?php echo $this->order->discount; ?> %</span><br />
                                <?php endif; ?>
                                Итого к оплате: <span style="font-weight:bold;font-style:italic;color:#bd3b3e;"><?php echo Zend_Registry::get('Currency')->format($this->order->total, $this->order->currency, '', true); ?></span>
                            </td>
                        </tr>                        

                        <tr>
                            <td style="padding:0 0 8px;"><span style="font-weight:bold;font-style:italic;font-size:16px;color:#bd3b3e;text-transform:uppercase;">Информация о доставке</span></td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 22px;">
                                <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;line-height:30px;">
                                    <tr>
                                        <td style="width:230px;"><strong>Получатель:</strong></td><td> <?php echo $this->order->firstname . ' ' . $this->order->lastname; ?></td>
                                    </tr>
                                    <tr>
                                        <td style="width:230px;"><strong>Адрес доставки: </strong></td><td><?php echo $this->order->city ?>, <?php echo $this->order->address ?></td>
                                    </tr>
                                    <tr>
                                        <td style="width:230px;"><strong>Электронная почта:</strong></td><td><span style="font-weight:normal;font-style:italic;color:#bd3b3e;"><a style="font-weight:normal;font-style:italic;color:#bd3b3e;" target="_blank" href="mailto://<?php echo $this->order->email; ?>"><?php echo $this->order->email; ?></a></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:230px;"><strong>Телефон получателя: </strong></td><td><?php echo $this->order->telephone ?></td>
                                    </tr>                                  
                                    <tr>
                                        <td style="width:230px;"><strong><?php echo $this->translate(_('Способ доставки')); ?>:</strong></td><td><?php echo $this->order->getShippingMethod()->name; ?></td>
                                    </tr>
                                    <?php /* <tr>
                                      <td style="width:230px;"><strong>Ожидаемый период доставки:</strong></td><td>30.06 - 03.07</td>
                                      </tr> */ ?>
                                    <tr>
                                        <td style="width:230px;"><strong>Вы выбрали способ оплаты:</strong></td><td><?php echo $this->order->getPaymentMethod()->name; ?></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <?php if ('' != $this->admin_comment): ?>        
                            <tr>
                                <td style="padding:0 0 22px;">
                                    <span style="font-weight:bold;color:#bd3b3e;">Комментарий администратора:</span><br />
                                    <?php echo $this->admin_comment; ?>
                                </td>
                            </tr>      
                        <?php endif; ?>
                        <tr>
                            <td style="padding:0 0 22px;">
                                <span style="font-weight:bold;color:#bd3b3e;">Как я могу изменить свой заказ?</span><br />
                                Если вы решили изменить ваш заказ, <br />
                                то свяжитесь с нашей службой поддержки: <span style="font-weight:bold;font-style:italic;color:#bd3b3e;"><?php echo $this->site_settings['phone_code']; ?> <?php echo $this->site_settings['phone_number']; ?>, <?php echo $this->site_settings['fax_code']; ?> <?php echo $this->site_settings['fax_number']; ?>, <?php echo $this->site_settings['phone2_code']; ?> <?php echo $this->site_settings['phone2_number']; ?> </span><br />
                                Обязательно сообщите номер вашего заказа: <span style="font-weight:bold;font-style:italic;color:#bd3b3e;"><?php echo $this->order->order_id; ?></span>
                            </td>
                        </tr>      

                    </table>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #dbdcdc;padding:43px 68px 20px 65px;">
                    <table style="border-collapse:collapse;" cellpadding="0" cellspacing="">
                        <tr>
                            <td style="padding:0 0 22px;">
                                <span style="text-transform:uppercase;font-weight:bold;font-style:italic;font-size:14px;">Остались еще вопросы?</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 22px;">
                                Тогда просто ответьте на это письмо или позвоните нам <span style="font-weight:bold;font-style:italic;color:#bd3b3e;"><?php echo $this->site_settings['phone_code']; ?> <?php echo $this->site_settings['phone_number']; ?>, <?php echo $this->site_settings['fax_code']; ?> <?php echo $this->site_settings['fax_number']; ?>, <?php echo $this->site_settings['phone2_code']; ?> <?php echo $this->site_settings['phone2_number']; ?> </span>
                                График работы Call-центра c <span style="font-weight:bold;color:#bd3b3e;">9:00</span> до <span style="font-weight:bold;color:#bd3b3e;">19:00</span><br />
                                Выходной: <span style="font-weight:bold;color:#bd3b3e;">Воскресенье</span>
                                <br />
                                <span style="font-style:italic;font-size:12px;">*Все дополнительные контактные данные вы можете посмотреть на нашем сайте на странице 
                                    <span style="color:#bd3b3e;font-weight:normal;font-style:italic;"><a style="color:#bd3b3e;font-weight:normal;font-style:italic;" target="_blank" href="http://<?php echo $this->site; ?>/contact">Контакты</a></span></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 22px;">
                                Всего хорошего, <br />
                                c уважением - администрация <span style="font-weight:bold;font-style:italic;color:#bd3b3e;">интернет-магазина <?php echo $this->site; ?></span><br />
                                <span style="font-weight:normal;font-style:italic;color:#bd3b3e;"><a style="font-weight:normal;font-style:italic;color:#bd3b3e;" href="mailto:<?php echo $this->site_settings['public_email']; ?>"><?php echo $this->site_settings['public_email']; ?></a></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>   