<body>
    Здравствуйте!<br/> 
    Вы зарегистрировались на сайте <?php echo $this->site; ?><br/> 
    <?php /* В течение 3-х суток вас активирует администратор. И Вы успешно сможете войти. */ ?><br/> <br/>
    Ваши учетные данные:<br/>
    Имя: <?php echo $this->firstname; ?><br/>
    Фамилия: <?php echo $this->lastname; ?><br/>
    Email: <?php echo $this->email; ?><br/>
    <br/>
    Ваш пароль: <?php echo $this->password; ?><br/>
    <?php /*
      Пожалуйста, подтвердите вашу регистрацию по следующей ссылке:
      <a href="http://<?php echo $this->site; ?>/user/auth/confirm/hash/<?php echo $this->confirmation_hash; ?>">http://<?php echo $this->site; ?>/user/auth/confirm/hash/<?php echo $this->confirmation_hash; ?></a><br/>
      <br/> */ ?>
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>