<body>
    Здравствуйте!<br/> 
    Напоминаем Вам, что Ваша подписка "<?php echo $this->subscription_name; ?>" подошла к концу.<br/>
    <br/>
    Стоимость продления подписки: $<?php echo $this->amount; ?><br/>
    <a href="http://<?php echo $this->site; ?>/user/subscription">Продлить</a><br/>
    <br/>    
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>