<body>
    Здравствуйте!<br/> 
    Ваш аккаунт на сайте <?php echo $this->site; ?> был <?php echo $this->new_status; ?>.<br/>
    Теперь вы можете войти на сайт используя введеные при регистрации email и пароль.
    Страница для входа: <a href="http://<?php echo $this->site; ?>/user/auth/login"><?php echo $this->site; ?>/user/auth/login</a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>