<body>
	<font face="arial, helvetica,sans-serif" color="#4F4F4F" >
	<h1 style="font-size: 24px; line-height: 30px; padding: 0 0 5px; font-weight:normal; font-style: italic;">Здравствуйте. Ваш аккаунт на сайте <?php echo $this->site; ?> был <?php echo $this->new_status; ?></h1>
     <span style="font-size:14px;">     
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>     
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
    </span>
    </font>
</body>