<body>
<font face="arial, helvetica,sans-serif" color="#4F4F4F" >
    <h1 style="font-size: 24px; line-height: 30px; padding: 0 0 5px; font-weight:normal; font-style: italic;"><?php echo $this->translate(_('Hello. Message from site'));?> <?php echo $this->site; ?></h1>
    
    <span style="font-size:14px;"> 
	
    <?php echo $this->translate(_('Your new generated password')); ?>: <?php echo $this->new_pass; ?><br/>
    <br/>
    <?php echo $this->translate(_('Login your account here')); ?>: <a href="http://<?php echo $this->site; ?>/user"><?php echo $this->site; ?>/user</a><br/>
    <br/>
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
    </span>
    </font>
</body>